{
  "openapi": "3.1.0",
  "info": {
    "title": "PolyNode API",
    "description": "Real-time Polymarket data API with decoded mempool settlements, OHLCV candles, and full Polygon JSON-RPC proxy.",
    "contact": {
      "name": "PolyNode",
      "url": "https://polynode.dev"
    },
    "license": {
      "name": ""
    },
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://api.polynode.dev",
      "description": "Production"
    }
  ],
  "paths": {
    "/healthz": {
      "get": {
        "tags": [
          "System"
        ],
        "summary": "Health check",
        "description": "Liveness probe. Returns 200 OK if the server is running.",
        "operationId": "healthz",
        "responses": {
          "200": {
            "description": "Server is alive",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/readyz": {
      "get": {
        "tags": [
          "System"
        ],
        "summary": "Readiness check",
        "description": "Returns 200 if node is connected and Redis is reachable, 503 otherwise.",
        "operationId": "readyz",
        "responses": {
          "200": {
            "description": "System ready"
          },
          "503": {
            "description": "System not ready"
          }
        }
      }
    },
    "/rpc": {
      "post": {
        "tags": [
          "RPC"
        ],
        "summary": "JSON-RPC proxy",
        "description": "JSON-RPC 2.0 proxy supporting standard eth_*/net_* methods (forwarded to full Polygon node with caching) and custom pn_* methods (served from in-memory state). Supports single and batch requests (max 100 per batch).",
        "operationId": "rpc_handler",
        "requestBody": {
          "description": "JSON-RPC 2.0 request (single object or array for batch)",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonRpcRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "JSON-RPC response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonRpcResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/candles/{token_id}": {
      "get": {
        "tags": [
          "Pricing"
        ],
        "summary": "OHLCV candles",
        "description": "Returns OHLCV price candles for a token at the specified resolution.",
        "operationId": "get_candles",
        "parameters": [
          {
            "name": "token_id",
            "in": "path",
            "description": "Polymarket token ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resolution",
            "in": "query",
            "description": "Candle resolution: 1m, 5m, 15m, 1h, 4h, 1d (default: 1h)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of candles (default 100, max 1000)",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OHLCV candles"
          },
          "400": {
            "description": "Invalid resolution",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v1/keys": {
      "post": {
        "tags": [
          "System"
        ],
        "summary": "Generate API key",
        "description": "Generates a new API key. Rate limited to 1 per IP per day. The key is returned only once and cannot be retrieved again.",
        "operationId": "create_api_key",
        "requestBody": {
          "description": "Optional key name",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateKeyBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "API key created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyResponse"
                }
              }
            }
          },
          "429": {
            "description": "Key generation rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/markets": {
      "get": {
        "tags": [
          "Markets"
        ],
        "summary": "Top markets",
        "description": "Returns top markets sorted by 24-hour volume. Includes metadata enrichment when available.",
        "operationId": "get_markets",
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "description": "Number of markets (default 100, max 1000)",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Top markets by volume"
          },
          "401": {
            "description": "Missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v1/markets/condition/{id}": {
      "get": {
        "tags": [
          "Markets"
        ],
        "summary": "Market by condition ID",
        "description": "Looks up a market by its Polymarket condition ID. Returns full metadata, all token IDs with prices, and outcome prices.",
        "operationId": "get_market_by_condition",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Polymarket condition ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Market data with all tokens"
          },
          "401": {
            "description": "Missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Market not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v1/markets/list": {
      "get": {
        "tags": [
          "Markets"
        ],
        "summary": "Filtered market listing",
        "description": "Returns a filtered, paginated list of markets. Supports sorting, category filtering, and volume thresholds.",
        "operationId": "get_markets_filtered",
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "description": "Page size (default 50, max 500)",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort field: volume (default), price, updated",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "description": "Filter by category (case-insensitive substring match)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_volume",
            "in": "query",
            "description": "Minimum 24h volume in USD",
            "required": false,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "active_only",
            "in": "query",
            "description": "Only markets with trades in the last hour",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor (offset)",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Filtered market list with pagination"
          },
          "401": {
            "description": "Missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v1/markets/slug/{slug}": {
      "get": {
        "tags": [
          "Markets"
        ],
        "summary": "Market by slug",
        "description": "Looks up a market by its URL slug. Returns full metadata, all token IDs with prices, and outcome prices.",
        "operationId": "get_market_by_slug",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "Market URL slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Market data with all tokens"
          },
          "401": {
            "description": "Missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Market not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v1/markets/{id}": {
      "get": {
        "tags": [
          "Markets"
        ],
        "summary": "Market detail",
        "description": "Returns detailed market data for a specific token ID, including metadata, liquidity, and description.",
        "operationId": "get_market_detail",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Polymarket token ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Market detail"
          },
          "401": {
            "description": "Missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Market not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v1/search": {
      "get": {
        "tags": [
          "Markets"
        ],
        "summary": "Search markets",
        "description": "Full-text search across all market questions. Results ranked by volume and liquidity. Closed markets are excluded by default.",
        "operationId": "search_markets",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Search query string",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Max results (default 20, max 100)",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "include_inactive",
            "in": "query",
            "description": "Include closed/inactive markets in results (defaults to false)",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results"
          },
          "400": {
            "description": "Missing query parameter",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v1/stats/{token_id}": {
      "get": {
        "tags": [
          "Pricing"
        ],
        "summary": "Market statistics",
        "description": "Returns market statistics including last price, 24h volume, and 24-hour OHLCV derived from hourly candles.",
        "operationId": "get_market_stats",
        "parameters": [
          {
            "name": "token_id",
            "in": "path",
            "description": "Polymarket token ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Market statistics"
          },
          "401": {
            "description": "Missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Market not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v1/status": {
      "get": {
        "tags": [
          "System"
        ],
        "summary": "System status",
        "description": "Returns system status including node connectivity, uptime, stream lengths, and state engine summary.",
        "operationId": "get_status",
        "responses": {
          "200": {
            "description": "System status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v1/orderbook/{token_id}": {
      "get": {
        "tags": [
          "Orderbook"
        ],
        "summary": "Order book",
        "description": "Returns the full order book for a token, including all bid and ask price levels, market properties, and PolyNode metadata enrichment.\n\nThe response format is compatible with Polymarket's CLOB API. Data is served from PolyNode's live orderbook engine, which maintains real-time state via WebSocket deltas from Polymarket.",
        "operationId": "get_orderbook",
        "parameters": [
          {
            "name": "token_id",
            "in": "path",
            "description": "Token ID (all digits), condition ID (starts with 0x), or event slug. Token ID returns a single book; condition ID and slug return all outcomes.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Order book snapshot",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderBookResponse"
                },
                "example": {
                  "market": "0xd1796c09d0d6f876f8580086ae9808ec991784e3a74b25a1830a25de71a78c96",
                  "asset_id": "114694726451307654528948558967898493662917070661203465131156925998487819889437",
                  "timestamp": "1773901991806",
                  "hash": "b811dc1233a0f250a60018bc94f377955c9a513e",
                  "bids": [
                    {
                      "price": "0.01",
                      "size": "1130220"
                    },
                    {
                      "price": "0.02",
                      "size": "76910"
                    },
                    {
                      "price": "0.03",
                      "size": "94333.34"
                    },
                    {
                      "price": "0.04",
                      "size": "119706"
                    },
                    {
                      "price": "0.05",
                      "size": "16328"
                    },
                    {
                      "price": "0.46",
                      "size": "18"
                    }
                  ],
                  "asks": [
                    {
                      "price": "0.99",
                      "size": "24292"
                    },
                    {
                      "price": "0.98",
                      "size": "2048"
                    },
                    {
                      "price": "0.97",
                      "size": "13333.33"
                    },
                    {
                      "price": "0.96",
                      "size": "1024"
                    },
                    {
                      "price": "0.95",
                      "size": "14100"
                    },
                    {
                      "price": "0.47",
                      "size": "687"
                    }
                  ],
                  "min_order_size": "5",
                  "tick_size": "0.01",
                  "neg_risk": false,
                  "last_trade_price": "0.540",
                  "metadata": {
                    "question": "Netanyahu out by end of 2026?",
                    "slug": "netanyahu-out-before-2027-684-719-226",
                    "outcomes": [
                      "Yes",
                      "No"
                    ],
                    "condition_id": "0xd1796c09d0d6f876f8580086ae9808ec991784e3a74b25a1830a25de71a78c96",
                    "image": "https://polymarket-upload.s3.us-east-2.amazonaws.com/netanyahu-out-in-2025-Vc7bE4GtiJzM.jpg"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Token not found in orderbook",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": "No orderbook exists for the requested token id"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v1/midpoint/{token_id}": {
      "get": {
        "tags": [
          "Orderbook"
        ],
        "summary": "Midpoint price",
        "description": "Returns the midpoint price for a token, calculated as the average of the best bid and best ask.\n\nIf the book is one-sided (only bids or only asks), the missing side is treated as 0. Response is enriched with PolyNode market metadata.",
        "operationId": "get_midpoint",
        "parameters": [
          {
            "name": "token_id",
            "in": "path",
            "description": "Token ID (all digits), condition ID (starts with 0x), or event slug. Token ID returns a single book; condition ID and slug return all outcomes.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Midpoint price",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MidpointResponse"
                },
                "example": {
                  "mid": "0.465",
                  "token_id": "114694726451307654528948558967898493662917070661203465131156925998487819889437",
                  "question": "Netanyahu out by end of 2026?",
                  "slug": "netanyahu-out-before-2027-684-719-226"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Token not found in orderbook",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": "No orderbook exists for the requested token id"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v1/spread/{token_id}": {
      "get": {
        "tags": [
          "Orderbook"
        ],
        "summary": "Bid-ask spread",
        "description": "Returns the bid-ask spread for a token, calculated as the difference between the best ask and best bid price.\n\nFor one-sided books, the spread equals the best price on the existing side. Response is enriched with PolyNode market metadata.",
        "operationId": "get_spread",
        "parameters": [
          {
            "name": "token_id",
            "in": "path",
            "description": "Token ID (all digits), condition ID (starts with 0x), or event slug. Token ID returns a single book; condition ID and slug return all outcomes.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Bid-ask spread",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SpreadResponse"
                },
                "example": {
                  "spread": "0.01",
                  "token_id": "114694726451307654528948558967898493662917070661203465131156925998487819889437",
                  "question": "Netanyahu out by end of 2026?",
                  "slug": "netanyahu-out-before-2027-684-719-226"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Token not found in orderbook",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": "No orderbook exists for the requested token id"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v1/wallets/{addr}/positions": {
      "get": {
        "tags": [
          "Wallets"
        ],
        "summary": "Wallet positions & P&L",
        "description": "Returns all current positions for a wallet with full P&L breakdown. Each position includes unrealized cash P&L, realized P&L, percent P&L, average entry price, current value, and initial value.\n\nData is sourced from Polymarket and enriched with PolyNode market metadata (title, slug, image, outcome names).\n\nUse `sortBy` to rank positions by P&L. Supports pagination with `limit` and `offset`.",
        "operationId": "get_wallet_positions",
        "parameters": [
          {
            "name": "addr",
            "in": "path",
            "description": "Wallet address (0x-prefixed, case-insensitive)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum positions to return (default 100, max 500)",
            "schema": {
              "type": "integer",
              "default": 100,
              "minimum": 1,
              "maximum": 500
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Pagination offset (default 0)",
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Sort positions by field",
            "schema": {
              "type": "string",
              "enum": ["TOKENS", "CASHPNL", "PERCENTPNL", "CURRENT", "INITIAL", "TITLE", "RESOLVING", "PRICE", "AVGPRICE"],
              "default": "TOKENS"
            }
          },
          {
            "name": "sortDirection",
            "in": "query",
            "description": "Sort direction",
            "schema": {
              "type": "string",
              "enum": ["ASC", "DESC"],
              "default": "DESC"
            }
          },
          {
            "name": "sizeThreshold",
            "in": "query",
            "description": "Minimum position size to include (default 0 = all positions)",
            "schema": {
              "type": "number",
              "default": 0,
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Wallet positions with P&L",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WalletPositionsResponse"
                },
                "example": {
                  "wallet": "0xc2e7800b5af46e6093872b177b7a5e7f0563be51",
                  "count": 2,
                  "positions": [
                    {
                      "asset": "109021283308187724445216748902158026838799197184254281870091204386586933195142",
                      "conditionId": "0xca0136d7acc14db3835e40b5d13bc2723ffc7a34a950bef39a2f5a18b07399c3",
                      "title": "Trail Blazers vs. Timberwolves",
                      "slug": "nba-por-min-2026-03-20",
                      "outcome": "Trail Blazers",
                      "outcomeIndex": 0,
                      "size": 1390067.28,
                      "avgPrice": 0.502474,
                      "curPrice": 1.0,
                      "initialValue": 698472.66,
                      "currentValue": 1390067.28,
                      "cashPnl": 691594.61,
                      "realizedPnl": 0,
                      "percentPnl": 99.02,
                      "percentRealizedPnl": 99.02,
                      "totalBought": 1390067.28,
                      "redeemable": true,
                      "negativeRisk": false,
                      "endDate": "2026-03-21"
                    },
                    {
                      "asset": "3039641309958397001906153616677074061284510636203465131156925998487819889437",
                      "conditionId": "0x895e01dbf3e6a33cd9a44ca0f8cdb5df1bd2b0b6ebed5300d28f8da7145145e4",
                      "title": "Will Donald Trump win the 2028 Republican presidential nomination?",
                      "slug": "will-donald-trump-win-the-2028-republican-presidential-nomination",
                      "outcome": "Yes",
                      "outcomeIndex": 0,
                      "size": 248651.26,
                      "avgPrice": 0.040276,
                      "curPrice": 0.0165,
                      "initialValue": 10014.68,
                      "currentValue": 4102.75,
                      "cashPnl": -5911.93,
                      "realizedPnl": 0,
                      "percentPnl": -59.03,
                      "percentRealizedPnl": -59.03,
                      "totalBought": 248651.26,
                      "redeemable": false,
                      "negativeRisk": true,
                      "endDate": "2028-11-07"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Upstream data source unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v1/wallets/positions": {
      "get": {
        "tags": [
          "Wallets"
        ],
        "summary": "Multi-wallet positions & P&L",
        "description": "Returns positions with P&L for multiple wallets in a single request. Up to 20 wallets per request. All lookups run in parallel.\n\nSubject to your plan's standard rate limit. Each wallet counts as one request toward the limit.",
        "operationId": "get_multi_wallet_positions",
        "parameters": [
          {
            "name": "wallets",
            "in": "query",
            "description": "Comma-separated wallet addresses (max 20)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum positions per wallet (default 100, max 500)",
            "schema": {
              "type": "integer",
              "default": 100,
              "minimum": 1,
              "maximum": 500
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Pagination offset per wallet (default 0)",
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Positions grouped by wallet",
            "content": {
              "application/json": {
                "example": {
                  "wallet_count": 2,
                  "wallets": [
                    {
                      "wallet": "0xc2e7800b5af46e6093872b177b7a5e7f0563be51",
                      "count": 3,
                      "positions": [
                        {
                          "asset": "1090212833...",
                          "title": "Trail Blazers vs. Timberwolves",
                          "outcome": "Trail Blazers",
                          "size": 1390067.28,
                          "avgPrice": 0.502,
                          "cashPnl": 691594.61,
                          "currentValue": 1390067.28
                        }
                      ]
                    },
                    {
                      "wallet": "0xa5ef39c3d3e10d0b270233af41cac69796b12966",
                      "count": 2,
                      "positions": []
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Missing wallets parameter or exceeds 20 wallet limit",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Data endpoint rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v1/wallets/{addr}/trades": {
      "get": {
        "tags": [
          "Wallets"
        ],
        "summary": "Wallet trade history",
        "description": "Returns recent trades for a wallet, enriched with PolyNode market metadata. Each trade includes side (BUY/SELL), price, size, outcome, and transaction hash.\n\nSupports pagination with `limit` and `offset`.",
        "operationId": "get_wallet_trades",
        "parameters": [
          {
            "name": "addr",
            "in": "path",
            "description": "Wallet address (0x-prefixed, case-insensitive)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum trades to return (default 100, max 500)",
            "schema": {
              "type": "integer",
              "default": 100,
              "minimum": 1,
              "maximum": 500
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Pagination offset (default 0)",
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Wallet trade history",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WalletTradesResponse"
                },
                "example": {
                  "wallet": "0xc2e7800b5af46e6093872b177b7a5e7f0563be51",
                  "count": 2,
                  "trades": [
                    {
                      "asset": "13415003150793384080443080790288579981533217646600261055571395734776572036737",
                      "conditionId": "0x758ed7ee3495a4c23172fa8093dc86b8e62576e050f5a401a6108ebd4aedf681",
                      "title": "Raptors vs. Nuggets",
                      "slug": "nba-tor-den-2026-03-20",
                      "outcome": "Raptors",
                      "outcomeIndex": 0,
                      "side": "BUY",
                      "price": 0.3,
                      "size": 102914.64,
                      "timestamp": 1774052897,
                      "transactionHash": "0x327ebe167162830cedb687e33c7f6e6400911b36040cf94c44f31728bfc4c86c",
                      "name": "beachboy4"
                    },
                    {
                      "asset": "81704442833845672927495583718496337218247767238607647008236901764430036532097",
                      "conditionId": "0xd29e0bc31db95202735063064c5d9c9411ddd5da96564a591dcaa67e899d6948",
                      "title": "Spread: Nuggets (-7.5)",
                      "slug": "nba-tor-den-2026-03-20-spread-home-7pt5",
                      "outcome": "Raptors",
                      "outcomeIndex": 1,
                      "side": "BUY",
                      "price": 0.55,
                      "size": 227288.33,
                      "timestamp": 1774052841,
                      "transactionHash": "0x3844127c4af7dc94f90c156697e3dafc3bc4342acc25b4dd88245e6c2e1cc0d0",
                      "name": "beachboy4"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Upstream data source unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v1/markets/{id}/positions": {
      "get": {
        "tags": [
          "Wallets"
        ],
        "summary": "Market positions & P&L",
        "description": "Returns all holder positions for a market with per-holder P&L breakdown. Results are grouped by outcome token, with each holder's cash P&L, realized P&L, total P&L, average entry price, and current value.\n\nAccepts a condition ID (0x-prefixed) or market slug. Supports sorting by P&L and filtering by position status (open/closed/all).\n\nWhen `includeTrades=true`, this endpoint is rate limited to **60 requests per minute** per key (separate from your standard rate limit).",
        "operationId": "get_market_positions",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Condition ID (0x-prefixed) or market slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum holders per outcome token (default 50, max 500)",
            "schema": {
              "type": "integer",
              "default": 50,
              "minimum": 1,
              "maximum": 500
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Pagination offset (default 0)",
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Sort holders by field",
            "schema": {
              "type": "string",
              "enum": ["TOKENS", "CASH_PNL", "REALIZED_PNL", "TOTAL_PNL"],
              "default": "TOTAL_PNL"
            }
          },
          {
            "name": "sortDirection",
            "in": "query",
            "description": "Sort direction",
            "schema": {
              "type": "string",
              "enum": ["ASC", "DESC"],
              "default": "DESC"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by position status",
            "schema": {
              "type": "string",
              "enum": ["OPEN", "CLOSED", "ALL"],
              "default": "ALL"
            }
          },
          {
            "name": "includeTrades",
            "in": "query",
            "description": "Enrich each position with `firstTradeAt` and `lastTradeAt` timestamps. Adds one upstream call per holder, so responses will be slower. Default false. **Rate limited to 60 requests per minute per key** (separate from your standard rate limit).",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "user",
            "in": "query",
            "description": "Filter to specific wallet address(es). Accepts a single address or multiple comma-separated addresses (max 20). Returns only those wallets' positions in this market.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Market positions grouped by outcome token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarketPositionsResponse"
                },
                "example": {
                  "condition_id": "0x895e01dbf3e6a33cd9a44ca0f8cdb5df1bd2b0b6ebed5300d28f8da7145145e4",
                  "market_title": "Will Donald Trump win the 2028 Republican presidential nomination?",
                  "slug": "will-donald-trump-win-the-2028-republican-presidential-nomination",
                  "outcome_names": ["Yes", "No"],
                  "outcomes": [
                    {
                      "token": "3039641309958397001906153616677074061284510636203465131156925998487819889437",
                      "positions": [
                        {
                          "proxyWallet": "0xa5ef39c3d3e10d0b270233af41cac69796b12966",
                          "name": "",
                          "outcome": "No",
                          "outcomeIndex": 1,
                          "size": 1735573.72,
                          "avgPrice": 0.0,
                          "currPrice": 0.9835,
                          "currentValue": 1706936.75,
                          "cashPnl": 1706936.75,
                          "realizedPnl": 0,
                          "totalPnl": 1706936.75
                        },
                        {
                          "proxyWallet": "0xc2e7800b5af46e6093872b177b7a5e7f0563be51",
                          "name": "beachboy4",
                          "outcome": "Yes",
                          "outcomeIndex": 0,
                          "size": 248651.26,
                          "avgPrice": 0.040276,
                          "currPrice": 0.0165,
                          "currentValue": 4102.75,
                          "cashPnl": -5911.93,
                          "realizedPnl": 0,
                          "totalPnl": -5911.93,
                          "firstTradeAt": 1753016057,
                          "lastTradeAt": 1765034355
                        }
                      ]
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Market not found for the given slug",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Upstream data source unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v1/markets/{id}/trades": {
      "get": {
        "tags": [
          "Wallets"
        ],
        "summary": "Market trade history",
        "description": "Returns trade history for a market, optionally filtered by trader wallet(s) and/or side (BUY/SELL). Enriched with PolyNode market metadata.\n\nAccepts a condition ID (0x-prefixed) or market slug. The `user` parameter accepts comma-separated wallet addresses (max 20) to fetch trades for multiple traders in one request.",
        "operationId": "get_market_trades",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Condition ID (0x-prefixed) or market slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user",
            "in": "query",
            "description": "Filter by wallet address(es). Comma-separated for multiple (max 20).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "side",
            "in": "query",
            "description": "Filter by trade direction",
            "schema": {
              "type": "string",
              "enum": ["BUY", "SELL"]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum trades to return (default 100, max 500)",
            "schema": {
              "type": "integer",
              "default": 100,
              "minimum": 1,
              "maximum": 500
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Pagination offset (default 0)",
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Market trade history",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarketTradesResponse"
                },
                "example": {
                  "condition_id": "0xca0136d7acc14db3835e40b5d13bc2723ffc7a34a950bef39a2f5a18b07399c3",
                  "count": 2,
                  "trades": [
                    {
                      "proxyWallet": "0xc2e7800b5af46e6093872b177b7a5e7f0563be51",
                      "name": "beachboy4",
                      "side": "BUY",
                      "outcome": "Trail Blazers",
                      "outcomeIndex": 0,
                      "size": 313726.28,
                      "price": 0.51,
                      "timestamp": 1774050427,
                      "title": "Trail Blazers vs. Timberwolves",
                      "slug": "nba-por-min-2026-03-20",
                      "transactionHash": "0x55135cf4e359b6b53bb99a3bae54d102572268ae4cb816fcf6a648d0116d7f56"
                    },
                    {
                      "proxyWallet": "0xc2e7800b5af46e6093872b177b7a5e7f0563be51",
                      "name": "beachboy4",
                      "side": "BUY",
                      "outcome": "Trail Blazers",
                      "outcomeIndex": 0,
                      "size": 16827.77,
                      "price": 0.5,
                      "timestamp": 1774049705,
                      "title": "Trail Blazers vs. Timberwolves",
                      "slug": "nba-por-min-2026-03-20",
                      "transactionHash": "0xfddccf969b857353f047b2540a25175a77fc7d87c4f426cdf3172788cad97a85"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Market not found for the given slug",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Upstream data source unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "ApiKeyResponse": {
        "type": "object",
        "required": [
          "api_key",
          "name",
          "rate_limit_per_minute",
          "message"
        ],
        "properties": {
          "api_key": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "rate_limit_per_minute": {
            "type": "integer",
            "format": "int32",
            "minimum": 0
          }
        }
      },
      "BlockEvent": {
        "type": "object",
        "description": "Summary of a new confirmed block with Polymarket-relevant stats.",
        "required": [
          "block_number",
          "block_hash",
          "timestamp",
          "parent_hash",
          "tx_count",
          "polymarket_tx_count",
          "settlement_count",
          "trade_volume_usd"
        ],
        "properties": {
          "block_hash": {
            "type": "string"
          },
          "block_number": {
            "type": "integer",
            "format": "int64",
            "minimum": 0
          },
          "parent_hash": {
            "type": "string"
          },
          "polymarket_tx_count": {
            "type": "integer",
            "format": "int32",
            "minimum": 0
          },
          "settlement_count": {
            "type": "integer",
            "format": "int32",
            "minimum": 0
          },
          "timestamp": {
            "type": "integer",
            "format": "int64"
          },
          "trade_volume_usd": {
            "type": "number",
            "format": "double"
          },
          "tx_count": {
            "type": "integer",
            "format": "int32",
            "minimum": 0
          }
        }
      },
      "Candle": {
        "type": "object",
        "description": "A single OHLCV candle.",
        "required": [
          "open",
          "high",
          "low",
          "close",
          "volume",
          "timestamp"
        ],
        "properties": {
          "close": {
            "type": "number",
            "format": "double"
          },
          "high": {
            "type": "number",
            "format": "double"
          },
          "low": {
            "type": "number",
            "format": "double"
          },
          "open": {
            "type": "number",
            "format": "double"
          },
          "timestamp": {
            "type": "integer",
            "format": "int64",
            "description": "Candle bucket start timestamp (ms, floored to resolution)."
          },
          "volume": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "CandleResolution": {
        "type": "string",
        "description": "Supported candle resolutions.",
        "enum": [
          "1m",
          "5m",
          "15m",
          "1h",
          "4h",
          "1d"
        ]
      },
      "CreateKeyBody": {
        "type": "object",
        "properties": {
          "name": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "DecodedTrade": {
        "type": "object",
        "description": "Decoded trade information from a matchOrders transaction.",
        "required": [
          "maker",
          "signer",
          "taker",
          "token_id",
          "side",
          "price",
          "size",
          "maker_amount",
          "taker_amount"
        ],
        "properties": {
          "maker": {
            "type": "string"
          },
          "maker_amount": {
            "type": "string"
          },
          "price": {
            "type": "number",
            "format": "double"
          },
          "side": {
            "$ref": "#/components/schemas/TradeSide"
          },
          "signer": {
            "type": "string"
          },
          "size": {
            "type": "number",
            "format": "double"
          },
          "taker": {
            "type": "string"
          },
          "taker_amount": {
            "type": "string"
          },
          "token_id": {
            "type": "string"
          }
        }
      },
      "DepositDirection": {
        "type": "string",
        "enum": [
          "deposit",
          "withdrawal"
        ]
      },
      "DepositEvent": {
        "type": "object",
        "description": "USDC.e transfer to/from Polymarket contracts.",
        "required": [
          "tx_hash",
          "block_number",
          "log_index",
          "timestamp",
          "from",
          "to",
          "amount",
          "direction"
        ],
        "properties": {
          "amount": {
            "type": "number",
            "format": "double"
          },
          "block_number": {
            "type": "integer",
            "format": "int64",
            "minimum": 0
          },
          "direction": {
            "$ref": "#/components/schemas/DepositDirection"
          },
          "from": {
            "type": "string"
          },
          "log_index": {
            "type": "integer",
            "format": "int32",
            "minimum": 0
          },
          "timestamp": {
            "type": "integer",
            "format": "int64"
          },
          "to": {
            "type": "string"
          },
          "tx_hash": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "string"
          }
        }
      },
      "PriceLevel": {
        "type": "object",
        "description": "A single price level in the order book.",
        "required": [
          "price",
          "size"
        ],
        "properties": {
          "price": {
            "type": "string",
            "description": "Price as a decimal string (e.g. \"0.55\")"
          },
          "size": {
            "type": "string",
            "description": "Total size available at this price level (e.g. \"1500.25\")"
          }
        }
      },
      "OrderBookMetadata": {
        "type": "object",
        "description": "PolyNode market metadata enrichment (not present in Polymarket's CLOB API).",
        "properties": {
          "question": {
            "type": "string",
            "description": "Market question text"
          },
          "slug": {
            "type": "string",
            "description": "Event slug for URL construction"
          },
          "outcomes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Outcome labels (e.g. [\"Yes\", \"No\"])"
          },
          "condition_id": {
            "type": "string",
            "description": "Market condition ID (hex)"
          },
          "image": {
            "type": "string",
            "description": "Market image URL"
          }
        }
      },
      "OrderBookResponse": {
        "type": "object",
        "description": "Full order book snapshot. Base fields match Polymarket's CLOB `/book` response exactly. The `metadata` field is a PolyNode addition.",
        "required": [
          "market",
          "asset_id",
          "timestamp",
          "hash",
          "bids",
          "asks",
          "min_order_size",
          "tick_size",
          "neg_risk",
          "last_trade_price"
        ],
        "properties": {
          "market": {
            "type": "string",
            "description": "Market condition ID (hex)"
          },
          "asset_id": {
            "type": "string",
            "description": "Token ID"
          },
          "timestamp": {
            "type": "string",
            "description": "Unix timestamp in milliseconds (as string)"
          },
          "hash": {
            "type": "string",
            "description": "40-character hex hash of the book state"
          },
          "bids": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PriceLevel"
            },
            "description": "Bid price levels, sorted ascending by price"
          },
          "asks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PriceLevel"
            },
            "description": "Ask price levels, sorted descending by price"
          },
          "min_order_size": {
            "type": "string",
            "description": "Minimum order size for this market (e.g. \"5\")"
          },
          "tick_size": {
            "type": "string",
            "description": "Minimum price increment for this market (e.g. \"0.01\" or \"0.001\")"
          },
          "neg_risk": {
            "type": "boolean",
            "description": "Whether this is a neg-risk market"
          },
          "last_trade_price": {
            "type": "string",
            "description": "Last trade price (e.g. \"0.540\")"
          },
          "metadata": {
            "$ref": "#/components/schemas/OrderBookMetadata"
          }
        }
      },
      "MidpointResponse": {
        "type": "object",
        "description": "Midpoint price. The `mid` field matches Polymarket's CLOB `/midpoint` response. Additional fields are PolyNode enrichment.",
        "required": [
          "mid"
        ],
        "properties": {
          "mid": {
            "type": "string",
            "description": "Midpoint price as decimal string, calculated as (best_bid + best_ask) / 2"
          },
          "token_id": {
            "type": "string",
            "description": "Token ID (PolyNode enrichment)"
          },
          "question": {
            "type": "string",
            "description": "Market question (PolyNode enrichment)"
          },
          "slug": {
            "type": "string",
            "description": "Event slug (PolyNode enrichment)"
          }
        }
      },
      "SpreadResponse": {
        "type": "object",
        "description": "Bid-ask spread. The `spread` field matches Polymarket's CLOB `/spread` response. Additional fields are PolyNode enrichment.",
        "required": [
          "spread"
        ],
        "properties": {
          "spread": {
            "type": "string",
            "description": "Bid-ask spread as decimal string, calculated as best_ask - best_bid"
          },
          "token_id": {
            "type": "string",
            "description": "Token ID (PolyNode enrichment)"
          },
          "question": {
            "type": "string",
            "description": "Market question (PolyNode enrichment)"
          },
          "slug": {
            "type": "string",
            "description": "Event slug (PolyNode enrichment)"
          }
        }
      },
      "MultiOutcomeBookResponse": {
        "type": "object",
        "description": "Order books for all outcomes in a market or event. Returned when querying by condition ID or slug.",
        "required": [
          "outcomes",
          "question"
        ],
        "properties": {
          "question": {
            "type": "string",
            "description": "Market question text"
          },
          "event_title": {
            "type": "string",
            "description": "Event title"
          },
          "slug": {
            "type": "string",
            "description": "Event slug (present when queried by slug)"
          },
          "condition_id": {
            "type": "string",
            "description": "Condition ID (present when queried by condition ID)"
          },
          "outcomes": {
            "type": "array",
            "description": "Order books for each outcome",
            "items": {
              "type": "object",
              "properties": {
                "outcome": {
                  "type": "string",
                  "description": "Outcome label (e.g. Yes, No)"
                },
                "token_id": {
                  "type": "string"
                },
                "market": {
                  "type": "string"
                },
                "bids": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PriceLevel"
                  }
                },
                "asks": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PriceLevel"
                  }
                },
                "min_order_size": {
                  "type": "string"
                },
                "tick_size": {
                  "type": "string"
                },
                "neg_risk": {
                  "type": "boolean"
                },
                "last_trade_price": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "MultiOutcomeMidpointResponse": {
        "type": "object",
        "description": "Midpoints for all outcomes. Returned when querying by condition ID or slug.",
        "required": [
          "outcomes",
          "question"
        ],
        "properties": {
          "question": {
            "type": "string"
          },
          "event_title": {
            "type": "string"
          },
          "slug": {
            "type": "string",
            "description": "Present when queried by slug"
          },
          "condition_id": {
            "type": "string",
            "description": "Present when queried by condition ID"
          },
          "outcomes": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "outcome": {
                  "type": "string"
                },
                "token_id": {
                  "type": "string"
                },
                "mid": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "MultiOutcomeSpreadResponse": {
        "type": "object",
        "description": "Spreads for all outcomes. Returned when querying by condition ID or slug.",
        "required": [
          "outcomes",
          "question"
        ],
        "properties": {
          "question": {
            "type": "string"
          },
          "event_title": {
            "type": "string"
          },
          "slug": {
            "type": "string",
            "description": "Present when queried by slug"
          },
          "condition_id": {
            "type": "string",
            "description": "Present when queried by condition ID"
          },
          "outcomes": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "outcome": {
                  "type": "string"
                },
                "token_id": {
                  "type": "string"
                },
                "spread": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "EventStatus": {
        "type": "string",
        "description": "Status of an event \u2014 pending (mempool) or confirmed (in a block).",
        "enum": [
          "pending",
          "confirmed"
        ]
      },
      "Exchange": {
        "type": "string",
        "description": "Which exchange contract emitted the event.",
        "enum": [
          "ctf_exchange",
          "neg_risk_ctf_exchange"
        ]
      },
      "JsonRpcError": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "JsonRpcRequest": {
        "type": "object",
        "description": "JSON-RPC request.",
        "required": [
          "method",
          "id"
        ],
        "properties": {
          "id": {},
          "jsonrpc": {
            "type": [
              "string",
              "null"
            ]
          },
          "method": {
            "type": "string"
          },
          "params": {}
        }
      },
      "JsonRpcResponse": {
        "type": "object",
        "description": "JSON-RPC response.",
        "required": [
          "jsonrpc",
          "id"
        ],
        "properties": {
          "error": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/JsonRpcError"
              }
            ]
          },
          "id": {},
          "jsonrpc": {
            "type": "string"
          },
          "result": {}
        }
      },
      "MarketState": {
        "type": "object",
        "description": "Live state for a single market (identified by token ID).",
        "required": [
          "last_price",
          "last_trade_at",
          "volume_24h",
          "trade_count_24h",
          "last_status"
        ],
        "properties": {
          "last_price": {
            "type": "number",
            "format": "double",
            "description": "Last traded price (0-1 for binary, varies for multi-outcome)."
          },
          "last_status": {
            "$ref": "#/components/schemas/EventStatus",
            "description": "Last known event status for this market."
          },
          "last_trade_at": {
            "type": "integer",
            "format": "int64",
            "description": "Timestamp of last trade (ms)."
          },
          "trade_count_24h": {
            "type": "integer",
            "format": "int64",
            "description": "Rolling 24h trade count.",
            "minimum": 0
          },
          "volume_24h": {
            "type": "number",
            "format": "double",
            "description": "Rolling 24h volume in USD."
          }
        }
      },
      "PositionChangeEvent": {
        "type": "object",
        "description": "Token transfer from the Conditional Tokens (ERC-1155) contract.",
        "required": [
          "tx_hash",
          "block_number",
          "log_index",
          "timestamp",
          "from",
          "to",
          "token_id",
          "amount",
          "transfer_type"
        ],
        "properties": {
          "amount": {
            "type": "number",
            "format": "double"
          },
          "block_number": {
            "type": "integer",
            "format": "int64",
            "minimum": 0
          },
          "condition_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Condition ID for this market (CTF contract identifier)."
          },
          "event_title": {
            "type": [
              "string",
              "null"
            ],
            "description": "Parent event title if this market is part of a group."
          },
          "from": {
            "type": "string"
          },
          "log_index": {
            "type": "integer",
            "format": "int32",
            "minimum": 0
          },
          "market_image": {
            "type": [
              "string",
              "null"
            ],
            "description": "Market image URL from Gamma metadata."
          },
          "market_slug": {
            "type": [
              "string",
              "null"
            ]
          },
          "market_title": {
            "type": [
              "string",
              "null"
            ]
          },
          "neg_risk": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "Whether this market uses the negRisk contract type."
          },
          "outcome": {
            "type": [
              "string",
              "null"
            ]
          },
          "taker_base_fee": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "Taker fee rate (e.g. 0.02 for 2%)."
          },
          "tick_size": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "Minimum price increment (e.g. 0.01 or 0.001)."
          },
          "timestamp": {
            "type": "integer",
            "format": "int64"
          },
          "to": {
            "type": "string"
          },
          "token_id": {
            "type": "string"
          },
          "tokens": {
            "type": [
              "object",
              "null"
            ],
            "description": "Token ID \u2192 outcome name map.",
            "additionalProperties": {
              "type": "string"
            },
            "propertyNames": {
              "type": "string"
            }
          },
          "transfer_type": {
            "$ref": "#/components/schemas/TransferType"
          },
          "tx_hash": {
            "type": "string"
          }
        }
      },
      "SettlementEvent": {
        "type": "object",
        "description": "A decoded settlement event from matchOrders calldata.",
        "required": [
          "tx_hash",
          "status",
          "detected_at",
          "taker_wallet",
          "taker_token",
          "taker_side",
          "taker_price",
          "taker_size",
          "trades"
        ],
        "properties": {
          "block_number": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "minimum": 0
          },
          "condition_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Condition ID for this market (CTF contract identifier)."
          },
          "detected_at": {
            "type": "integer",
            "format": "int64"
          },
          "event_title": {
            "type": [
              "string",
              "null"
            ],
            "description": "Parent event title if this market is part of a group."
          },
          "market_image": {
            "type": [
              "string",
              "null"
            ],
            "description": "Market image URL from Gamma metadata."
          },
          "market_slug": {
            "type": [
              "string",
              "null"
            ],
            "description": "URL slug for the market (e.g. \"bitcoin-100k-2026\")."
          },
          "market_title": {
            "type": [
              "string",
              "null"
            ],
            "description": "Human-readable market question (e.g. \"Will Bitcoin reach $100K?\")."
          },
          "neg_risk": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "Whether this market uses the negRisk contract type."
          },
          "outcome": {
            "type": [
              "string",
              "null"
            ],
            "description": "Outcome name for this token (e.g. \"Yes\", \"No\", \"Trump\")."
          },
          "status": {
            "$ref": "#/components/schemas/EventStatus"
          },
          "taker_base_fee": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "Taker fee rate (e.g. 0.02 for 2%)."
          },
          "taker_price": {
            "type": "number",
            "format": "double"
          },
          "taker_side": {
            "type": "string"
          },
          "taker_size": {
            "type": "number",
            "format": "double"
          },
          "taker_token": {
            "type": "string"
          },
          "taker_wallet": {
            "type": "string"
          },
          "tick_size": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "Minimum price increment (e.g. 0.01 or 0.001)."
          },
          "tokens": {
            "type": [
              "object",
              "null"
            ],
            "description": "Token ID \u2192 outcome name map (e.g. {\"123...\": \"Yes\", \"456...\": \"No\"}).",
            "additionalProperties": {
              "type": "string"
            },
            "propertyNames": {
              "type": "string"
            }
          },
          "trades": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DecodedTrade"
            }
          },
          "tx_hash": {
            "type": "string"
          }
        }
      },
      "StateSummary": {
        "type": "object",
        "required": [
          "market_count",
          "wallet_count",
          "metadata_count",
          "events_buffered",
          "events_processed",
          "latest_block"
        ],
        "properties": {
          "events_buffered": {
            "type": "integer",
            "minimum": 0
          },
          "events_processed": {
            "type": "integer",
            "format": "int64",
            "minimum": 0
          },
          "latest_block": {
            "type": "integer",
            "format": "int64",
            "minimum": 0
          },
          "market_count": {
            "type": "integer",
            "minimum": 0
          },
          "metadata_count": {
            "type": "integer",
            "minimum": 0
          },
          "wallet_count": {
            "type": "integer",
            "minimum": 0
          }
        }
      },
      "StatusResponse": {
        "type": "object",
        "required": [
          "node_connected",
          "uptime_seconds",
          "stream_length",
          "events_stream_length",
          "pending_txs",
          "ws_subscribers",
          "firehose_connections",
          "redis_memory",
          "state"
        ],
        "properties": {
          "events_stream_length": {
            "type": "integer",
            "minimum": 0
          },
          "firehose_connections": {
            "type": "integer",
            "format": "int32",
            "minimum": 0
          },
          "node_connected": {
            "type": "boolean"
          },
          "pending_txs": {
            "type": "integer",
            "minimum": 0
          },
          "redis_memory": {
            "type": "string"
          },
          "state": {
            "$ref": "#/components/schemas/StateSummary"
          },
          "stream_length": {
            "type": "integer",
            "minimum": 0
          },
          "uptime_seconds": {
            "type": "integer",
            "format": "int64",
            "minimum": 0
          },
          "ws_subscribers": {
            "type": "integer",
            "minimum": 0
          }
        }
      },
      "StatusUpdateEvent": {
        "type": "object",
        "description": "Notification that a previously-pending settlement is now confirmed.",
        "required": [
          "tx_hash",
          "token_id",
          "block_number",
          "confirmed_at",
          "pending_detected_at",
          "latency_ms",
          "taker_wallet"
        ],
        "properties": {
          "block_number": {
            "type": "integer",
            "format": "int64",
            "minimum": 0
          },
          "condition_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Condition ID for this market."
          },
          "confirmed_at": {
            "type": "integer",
            "format": "int64"
          },
          "event_title": {
            "type": [
              "string",
              "null"
            ],
            "description": "Parent event title if this market is part of a group."
          },
          "latency_ms": {
            "type": "integer",
            "format": "int64",
            "description": "Time from pending detection to block confirmation (ms)."
          },
          "maker_wallets": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "market_image": {
            "type": [
              "string",
              "null"
            ],
            "description": "Market image URL from Gamma metadata."
          },
          "market_slug": {
            "type": [
              "string",
              "null"
            ],
            "description": "URL slug for the market."
          },
          "market_title": {
            "type": [
              "string",
              "null"
            ]
          },
          "neg_risk": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "Whether this market uses the negRisk contract type."
          },
          "outcome": {
            "type": [
              "string",
              "null"
            ]
          },
          "pending_detected_at": {
            "type": "integer",
            "format": "int64"
          },
          "taker_base_fee": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "Taker fee rate."
          },
          "taker_wallet": {
            "type": "string"
          },
          "tick_size": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "Minimum price increment."
          },
          "token_id": {
            "type": "string"
          },
          "tokens": {
            "type": [
              "object",
              "null"
            ],
            "description": "Token ID \u2192 outcome name map.",
            "additionalProperties": {
              "type": "string"
            },
            "propertyNames": {
              "type": "string"
            }
          },
          "tx_hash": {
            "type": "string"
          }
        }
      },
      "TradeEvent": {
        "type": "object",
        "description": "A confirmed trade from OrderFilled event log on CTF Exchange.",
        "required": [
          "tx_hash",
          "block_number",
          "log_index",
          "timestamp",
          "exchange",
          "maker",
          "taker",
          "token_id",
          "side",
          "price",
          "size",
          "maker_amount",
          "taker_amount"
        ],
        "properties": {
          "block_number": {
            "type": "integer",
            "format": "int64",
            "minimum": 0
          },
          "condition_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Condition ID for this market (CTF contract identifier)."
          },
          "event_title": {
            "type": [
              "string",
              "null"
            ],
            "description": "Parent event title if this market is part of a group."
          },
          "exchange": {
            "$ref": "#/components/schemas/Exchange"
          },
          "log_index": {
            "type": "integer",
            "format": "int32",
            "minimum": 0
          },
          "maker": {
            "type": "string"
          },
          "maker_amount": {
            "type": "string"
          },
          "market_image": {
            "type": [
              "string",
              "null"
            ],
            "description": "Market image URL from Gamma metadata."
          },
          "market_slug": {
            "type": [
              "string",
              "null"
            ]
          },
          "market_title": {
            "type": [
              "string",
              "null"
            ]
          },
          "neg_risk": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "Whether this market uses the negRisk contract type."
          },
          "outcome": {
            "type": [
              "string",
              "null"
            ]
          },
          "price": {
            "type": "number",
            "format": "double"
          },
          "side": {
            "$ref": "#/components/schemas/TradeSide"
          },
          "size": {
            "type": "number",
            "format": "double"
          },
          "taker": {
            "type": "string"
          },
          "taker_amount": {
            "type": "string"
          },
          "taker_base_fee": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "Taker fee rate (e.g. 0.02 for 2%)."
          },
          "tick_size": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "Minimum price increment (e.g. 0.01 or 0.001)."
          },
          "timestamp": {
            "type": "integer",
            "format": "int64"
          },
          "token_id": {
            "type": "string"
          },
          "tokens": {
            "type": [
              "object",
              "null"
            ],
            "description": "Token ID \u2192 outcome name map (e.g. {\"123...\": \"Yes\", \"456...\": \"No\"}).",
            "additionalProperties": {
              "type": "string"
            },
            "propertyNames": {
              "type": "string"
            }
          },
          "tx_hash": {
            "type": "string"
          }
        }
      },
      "TradeSide": {
        "type": "string",
        "enum": [
          "BUY",
          "SELL"
        ]
      },
      "TransferType": {
        "type": "string",
        "enum": [
          "single",
          "batch"
        ]
      },
      "WalletPositionsResponse": {
        "type": "object",
        "description": "Wallet positions with P&L breakdown.",
        "required": ["wallet", "count", "positions"],
        "properties": {
          "wallet": {
            "type": "string",
            "description": "Wallet address."
          },
          "count": {
            "type": "integer",
            "description": "Number of positions returned."
          },
          "positions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WalletPosition"
            }
          }
        }
      },
      "WalletPosition": {
        "type": "object",
        "description": "A single position with P&L data.",
        "properties": {
          "asset": {
            "type": "string",
            "description": "Token ID of the outcome token."
          },
          "conditionId": {
            "type": "string",
            "description": "Condition ID (market identifier)."
          },
          "title": {
            "type": "string",
            "description": "Market title."
          },
          "slug": {
            "type": "string",
            "description": "Market slug."
          },
          "outcome": {
            "type": "string",
            "description": "Outcome name (e.g. \"Yes\", \"Trail Blazers\")."
          },
          "outcomeIndex": {
            "type": "integer",
            "description": "Index of this outcome (0 or 1)."
          },
          "size": {
            "type": "number",
            "description": "Position size in outcome tokens."
          },
          "avgPrice": {
            "type": "number",
            "description": "Average entry price."
          },
          "curPrice": {
            "type": "number",
            "description": "Current market price."
          },
          "initialValue": {
            "type": "number",
            "description": "Total cost basis (USDC spent to acquire position)."
          },
          "currentValue": {
            "type": "number",
            "description": "Current market value of the position."
          },
          "cashPnl": {
            "type": "number",
            "description": "Unrealized cash P&L (currentValue - initialValue)."
          },
          "realizedPnl": {
            "type": "number",
            "description": "Realized P&L from closed/redeemed portions."
          },
          "percentPnl": {
            "type": "number",
            "description": "Total P&L as a percentage of initial value."
          },
          "percentRealizedPnl": {
            "type": "number",
            "description": "Realized P&L as a percentage."
          },
          "totalBought": {
            "type": "number",
            "description": "Total tokens bought."
          },
          "redeemable": {
            "type": "boolean",
            "description": "Whether the position can be redeemed (market resolved in this outcome's favor)."
          },
          "negativeRisk": {
            "type": "boolean",
            "description": "Whether this is a negative-risk market."
          },
          "endDate": {
            "type": "string",
            "description": "Market end date (YYYY-MM-DD)."
          }
        }
      },
      "WalletTradesResponse": {
        "type": "object",
        "description": "Wallet trade history.",
        "required": ["wallet", "count", "trades"],
        "properties": {
          "wallet": {
            "type": "string",
            "description": "Wallet address."
          },
          "count": {
            "type": "integer",
            "description": "Number of trades returned."
          },
          "trades": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WalletTrade"
            }
          }
        }
      },
      "WalletTrade": {
        "type": "object",
        "description": "A single trade.",
        "properties": {
          "asset": {
            "type": "string",
            "description": "Token ID."
          },
          "conditionId": {
            "type": "string",
            "description": "Condition ID (market identifier)."
          },
          "title": {
            "type": "string",
            "description": "Market title."
          },
          "slug": {
            "type": "string",
            "description": "Market slug."
          },
          "outcome": {
            "type": "string",
            "description": "Outcome name."
          },
          "outcomeIndex": {
            "type": "integer",
            "description": "Index of this outcome."
          },
          "side": {
            "type": "string",
            "enum": ["BUY", "SELL"],
            "description": "Trade direction."
          },
          "price": {
            "type": "number",
            "description": "Execution price."
          },
          "size": {
            "type": "number",
            "description": "Trade size in outcome tokens."
          },
          "timestamp": {
            "type": "integer",
            "description": "Unix timestamp of the trade."
          },
          "transactionHash": {
            "type": "string",
            "description": "On-chain transaction hash."
          },
          "name": {
            "type": "string",
            "description": "Polymarket username (if available)."
          }
        }
      },
      "MarketTradesResponse": {
        "type": "object",
        "description": "Trade history for a market.",
        "required": ["condition_id", "count", "trades"],
        "properties": {
          "condition_id": {
            "type": "string",
            "description": "Market condition ID."
          },
          "count": {
            "type": "integer",
            "description": "Number of trades returned."
          },
          "trades": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "proxyWallet": {
                  "type": "string",
                  "description": "Trader's wallet address."
                },
                "name": {
                  "type": "string",
                  "description": "Polymarket username."
                },
                "side": {
                  "type": "string",
                  "enum": ["BUY", "SELL"],
                  "description": "Trade direction."
                },
                "outcome": {
                  "type": "string",
                  "description": "Outcome name."
                },
                "outcomeIndex": {
                  "type": "integer",
                  "description": "Outcome index."
                },
                "size": {
                  "type": "number",
                  "description": "Trade size in outcome tokens."
                },
                "price": {
                  "type": "number",
                  "description": "Execution price."
                },
                "timestamp": {
                  "type": "integer",
                  "description": "Unix timestamp."
                },
                "title": {
                  "type": "string",
                  "description": "Market title."
                },
                "slug": {
                  "type": "string",
                  "description": "Market slug."
                },
                "transactionHash": {
                  "type": "string",
                  "description": "On-chain transaction hash."
                }
              }
            }
          }
        }
      },
      "MarketPositionsResponse": {
        "type": "object",
        "description": "Holder positions for a market, grouped by outcome token.",
        "required": ["condition_id", "outcomes"],
        "properties": {
          "condition_id": {
            "type": "string",
            "description": "Market condition ID."
          },
          "market_title": {
            "type": "string",
            "description": "Market title (enriched by PolyNode)."
          },
          "slug": {
            "type": "string",
            "description": "Market slug (enriched by PolyNode)."
          },
          "outcome_names": {
            "type": "array",
            "items": { "type": "string" },
            "description": "Outcome names (e.g. [\"Yes\", \"No\"])."
          },
          "outcomes": {
            "type": "array",
            "description": "Array of outcome tokens, each containing a list of holder positions.",
            "items": {
              "type": "object",
              "properties": {
                "token": {
                  "type": "string",
                  "description": "Token ID for this outcome."
                },
                "positions": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MarketHolderPosition"
                  }
                }
              }
            }
          }
        }
      },
      "MarketHolderPosition": {
        "type": "object",
        "description": "A single holder's position in a market outcome.",
        "properties": {
          "proxyWallet": {
            "type": "string",
            "description": "Holder's wallet address."
          },
          "name": {
            "type": "string",
            "description": "Polymarket username (if set)."
          },
          "outcome": {
            "type": "string",
            "description": "Outcome name."
          },
          "outcomeIndex": {
            "type": "integer",
            "description": "Outcome index (0 or 1)."
          },
          "size": {
            "type": "number",
            "description": "Position size in outcome tokens."
          },
          "avgPrice": {
            "type": "number",
            "description": "Average entry price."
          },
          "currPrice": {
            "type": "number",
            "description": "Current market price."
          },
          "currentValue": {
            "type": "number",
            "description": "Current market value."
          },
          "cashPnl": {
            "type": "number",
            "description": "Unrealized cash P&L."
          },
          "realizedPnl": {
            "type": "number",
            "description": "Realized P&L from closed portions."
          },
          "totalPnl": {
            "type": "number",
            "description": "Total P&L (cash + realized)."
          },
          "totalBought": {
            "type": "number",
            "description": "Total tokens bought."
          },
          "firstTradeAt": {
            "type": "integer",
            "description": "Unix timestamp of the holder's first trade on this market. Only present when `includeTrades=true`."
          },
          "lastTradeAt": {
            "type": "integer",
            "description": "Unix timestamp of the holder's most recent trade on this market. Only present when `includeTrades=true`."
          }
        }
      },
      "WalletActivity": {
        "type": "object",
        "description": "Activity summary for a tracked wallet.",
        "required": [
          "last_active",
          "trade_count",
          "trade_volume_usd",
          "transfer_count",
          "deposit_count",
          "deposit_volume_usd"
        ],
        "properties": {
          "deposit_count": {
            "type": "integer",
            "format": "int64",
            "description": "Number of USDC deposits/withdrawals.",
            "minimum": 0
          },
          "deposit_volume_usd": {
            "type": "number",
            "format": "double",
            "description": "Total deposit volume in USD."
          },
          "last_active": {
            "type": "integer",
            "format": "int64",
            "description": "Last activity timestamp (ms)."
          },
          "trade_count": {
            "type": "integer",
            "format": "int64",
            "description": "Number of trades in tracking window.",
            "minimum": 0
          },
          "trade_volume_usd": {
            "type": "number",
            "format": "double",
            "description": "Total trade volume in USD."
          },
[...]
