{
  "openapi": "3.1.0",
  "info": {
    "title": "PolyNode API",
    "description": "Real-time Polymarket data API with decoded mempool settlements, OHLCV candles, and full Polygon JSON-RPC proxy.",
    "contact": {
      "name": "PolyNode",
      "url": "https://polynode.dev"
    },
    "license": {
      "name": ""
    },
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://api.polynode.dev",
      "description": "Production"
    }
  ],
  "paths": {
    "/healthz": {
      "get": {
        "tags": [
          "System"
        ],
        "summary": "Health check",
        "description": "Liveness probe. Returns 200 OK if the server is running.",
        "operationId": "healthz",
        "responses": {
          "200": {
            "description": "Server is alive",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/readyz": {
      "get": {
        "tags": [
          "System"
        ],
        "summary": "Readiness check",
        "description": "Returns 200 if node is connected and Redis is reachable, 503 otherwise.",
        "operationId": "readyz",
        "responses": {
          "200": {
            "description": "System ready"
          },
          "503": {
            "description": "System not ready"
          }
        }
      }
    },
    "/rpc": {
      "post": {
        "tags": [
          "RPC"
        ],
        "summary": "JSON-RPC proxy",
        "description": "JSON-RPC 2.0 proxy supporting standard eth_*/net_* methods (forwarded to full Polygon node with caching) and custom pn_* methods (served from in-memory state). Supports single and batch requests (max 100 per batch).",
        "operationId": "rpc_handler",
        "requestBody": {
          "description": "JSON-RPC 2.0 request (single object or array for batch)",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonRpcRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "JSON-RPC response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonRpcResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/candles/{token_id}": {
      "get": {
        "tags": [
          "Pricing"
        ],
        "summary": "OHLCV candles",
        "description": "Returns OHLCV price candles for a token at the specified resolution.",
        "operationId": "get_candles",
        "parameters": [
          {
            "name": "token_id",
            "in": "path",
            "description": "Polymarket token ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resolution",
            "in": "query",
            "description": "Candle resolution: 1m, 5m, 15m, 1h, 4h, 1d (default: 1h)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of candles (default 100, max 1000)",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OHLCV candles"
          },
          "400": {
            "description": "Invalid resolution",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v1/keys": {
      "post": {
        "tags": [
          "System"
        ],
        "summary": "Generate API key",
        "description": "Generates a new API key. Rate limited to 1 per IP per day. The key is returned only once and cannot be retrieved again.",
        "operationId": "create_api_key",
        "requestBody": {
          "description": "Optional key name",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateKeyBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "API key created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyResponse"
                }
              }
            }
          },
          "429": {
            "description": "Key generation rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/markets": {
      "get": {
        "tags": [
          "Markets"
        ],
        "summary": "Top markets",
        "description": "Returns top markets sorted by 24-hour volume. Includes metadata enrichment when available.",
        "operationId": "get_markets",
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "description": "Number of markets (default 100, max 1000)",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Top markets by volume"
          },
          "401": {
            "description": "Missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v1/markets/condition/{id}": {
      "get": {
        "tags": [
          "Markets"
        ],
        "summary": "Market by condition ID",
        "description": "Looks up a market by its Polymarket condition ID. Returns full metadata, all token IDs with prices, and outcome prices.",
        "operationId": "get_market_by_condition",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Polymarket condition ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Market data with all tokens"
          },
          "401": {
            "description": "Missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Market not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v1/markets/list": {
      "get": {
        "tags": [
          "Markets"
        ],
        "summary": "Filtered market listing",
        "description": "Returns a filtered, paginated list of markets. Supports sorting, category filtering, and volume thresholds.",
        "operationId": "get_markets_filtered",
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "description": "Page size (default 50, max 500)",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort field: volume (default), price, updated",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "description": "Filter by category (case-insensitive substring match)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_volume",
            "in": "query",
            "description": "Minimum 24h volume in USD",
            "required": false,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "active_only",
            "in": "query",
            "description": "Only markets with trades in the last hour",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor (offset)",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Filtered market list with pagination"
          },
          "401": {
            "description": "Missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v1/markets/slug/{slug}": {
      "get": {
        "tags": [
          "Markets"
        ],
        "summary": "Market by slug",
        "description": "Looks up a market by its URL slug. Returns full metadata, all token IDs with prices, and outcome prices.",
        "operationId": "get_market_by_slug",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "Market URL slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Market data with all tokens"
          },
          "401": {
            "description": "Missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Market not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v1/markets/{id}": {
      "get": {
        "tags": [
          "Markets"
        ],
        "summary": "Market detail",
        "description": "Returns detailed market data for a specific token ID, including metadata, liquidity, and description.",
        "operationId": "get_market_detail",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Polymarket token ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Market detail"
          },
          "401": {
            "description": "Missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Market not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v1/search": {
      "get": {
        "tags": [
          "Markets"
        ],
        "summary": "Search markets",
        "description": "Full-text search across all market questions. Results ranked by volume and liquidity. Closed markets are excluded by default.",
        "operationId": "search_markets",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Search query string",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Max results (default 20, max 100)",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "include_inactive",
            "in": "query",
            "description": "Include closed/inactive markets in results (defaults to false)",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results"
          },
          "400": {
            "description": "Missing query parameter",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v1/settlements/recent": {
      "get": {
        "tags": [
          "Settlements"
        ],
        "summary": "Recent settlements",
        "description": "Returns the most recent decoded settlements (pending + confirmed) from the mempool and confirmed blocks.",
        "operationId": "get_recent_settlements",
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "description": "Number of settlements to return (default 100, max 1000)",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of settlements"
          },
          "401": {
            "description": "Missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v1/settlements/token/{id}": {
      "get": {
        "tags": [
          "Settlements"
        ],
        "summary": "Settlements by token",
        "description": "Returns settlements for a specific Polymarket token ID.",
        "operationId": "get_token_settlements",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Polymarket token ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Number of settlements (default 100, max 1000)",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Settlements for token"
          },
          "401": {
            "description": "Missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v1/settlements/wallet/{addr}": {
      "get": {
        "tags": [
          "Settlements"
        ],
        "summary": "Settlements by wallet",
        "description": "Returns settlements involving a specific wallet address.",
        "operationId": "get_wallet_settlements",
        "parameters": [
          {
            "name": "addr",
            "in": "path",
            "description": "Wallet address (0x...)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Number of settlements (default 100, max 1000)",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Settlements for wallet"
          },
          "401": {
            "description": "Missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v1/stats/{token_id}": {
      "get": {
        "tags": [
          "Pricing"
        ],
        "summary": "Market statistics",
        "description": "Returns market statistics including last price, 24h volume, and 24-hour OHLCV derived from hourly candles.",
        "operationId": "get_market_stats",
        "parameters": [
          {
            "name": "token_id",
            "in": "path",
            "description": "Polymarket token ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Market statistics"
          },
          "401": {
            "description": "Missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Market not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v1/status": {
      "get": {
        "tags": [
          "System"
        ],
        "summary": "System status",
        "description": "Returns system status including node connectivity, uptime, stream lengths, and state engine summary.",
        "operationId": "get_status",
        "responses": {
          "200": {
            "description": "System status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v1/wallets/{addr}": {
      "get": {
        "tags": [
          "Wallets"
        ],
        "summary": "Wallet activity",
        "description": "Returns activity summary for a wallet address including trade count, volume, transfers, and deposits.",
        "operationId": "get_wallet_activity",
        "parameters": [
          {
            "name": "addr",
            "in": "path",
            "description": "Wallet address (0x...)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Wallet activity summary"
          },
          "401": {
            "description": "Missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "No activity found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v1/orderbook/{token_id}": {
      "get": {
        "tags": [
          "Orderbook"
        ],
        "summary": "Order book",
        "description": "Returns the full order book for a token, including all bid and ask price levels, market properties, and PolyNode metadata enrichment.\n\nThe response format is compatible with Polymarket's CLOB API. Data is served from PolyNode's live orderbook engine, which maintains real-time state via WebSocket deltas from Polymarket.",
        "operationId": "get_orderbook",
        "parameters": [
          {
            "name": "token_id",
            "in": "path",
            "description": "Polymarket CLOB token ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Order book snapshot",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderBookResponse"
                },
                "example": {
                  "market": "0xd1796c09d0d6f876f8580086ae9808ec991784e3a74b25a1830a25de71a78c96",
                  "asset_id": "114694726451307654528948558967898493662917070661203465131156925998487819889437",
                  "timestamp": "1773901991806",
                  "hash": "b811dc1233a0f250a60018bc94f377955c9a513e",
                  "bids": [
                    {"price": "0.01", "size": "1130220"},
                    {"price": "0.02", "size": "76910"},
                    {"price": "0.03", "size": "94333.34"},
                    {"price": "0.04", "size": "119706"},
                    {"price": "0.05", "size": "16328"},
                    {"price": "0.46", "size": "18"}
                  ],
                  "asks": [
                    {"price": "0.99", "size": "24292"},
                    {"price": "0.98", "size": "2048"},
                    {"price": "0.97", "size": "13333.33"},
                    {"price": "0.96", "size": "1024"},
                    {"price": "0.95", "size": "14100"},
                    {"price": "0.47", "size": "687"}
                  ],
                  "min_order_size": "5",
                  "tick_size": "0.01",
                  "neg_risk": false,
                  "last_trade_price": "0.540",
                  "metadata": {
                    "question": "Netanyahu out by end of 2026?",
                    "slug": "netanyahu-out-before-2027-684-719-226",
                    "outcomes": ["Yes", "No"],
                    "condition_id": "0xd1796c09d0d6f876f8580086ae9808ec991784e3a74b25a1830a25de71a78c96",
                    "image": "https://polymarket-upload.s3.us-east-2.amazonaws.com/netanyahu-out-in-2025-Vc7bE4GtiJzM.jpg"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Token not found in orderbook",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": "No orderbook exists for the requested token id"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v1/midpoint/{token_id}": {
      "get": {
        "tags": [
          "Orderbook"
        ],
        "summary": "Midpoint price",
        "description": "Returns the midpoint price for a token, calculated as the average of the best bid and best ask.\n\nIf the book is one-sided (only bids or only asks), the missing side is treated as 0. Response is enriched with PolyNode market metadata.",
        "operationId": "get_midpoint",
        "parameters": [
          {
            "name": "token_id",
            "in": "path",
            "description": "Polymarket CLOB token ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Midpoint price",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MidpointResponse"
                },
                "example": {
                  "mid": "0.465",
                  "token_id": "114694726451307654528948558967898493662917070661203465131156925998487819889437",
                  "question": "Netanyahu out by end of 2026?",
                  "slug": "netanyahu-out-before-2027-684-719-226"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Token not found in orderbook",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": "No orderbook exists for the requested token id"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v1/spread/{token_id}": {
      "get": {
        "tags": [
          "Orderbook"
        ],
        "summary": "Bid-ask spread",
        "description": "Returns the bid-ask spread for a token, calculated as the difference between the best ask and best bid price.\n\nFor one-sided books, the spread equals the best price on the existing side. Response is enriched with PolyNode market metadata.",
        "operationId": "get_spread",
        "parameters": [
          {
            "name": "token_id",
            "in": "path",
            "description": "Polymarket CLOB token ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Bid-ask spread",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SpreadResponse"
                },
                "example": {
                  "spread": "0.01",
                  "token_id": "114694726451307654528948558967898493662917070661203465131156925998487819889437",
                  "question": "Netanyahu out by end of 2026?",
                  "slug": "netanyahu-out-before-2027-684-719-226"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Token not found in orderbook",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": "No orderbook exists for the requested token id"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "ApiKeyResponse": {
        "type": "object",
        "required": [
          "api_key",
          "name",
          "rate_limit_per_minute",
          "message"
        ],
        "properties": {
          "api_key": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "rate_limit_per_minute": {
            "type": "integer",
            "format": "int32",
            "minimum": 0
          }
        }
      },
      "BlockEvent": {
        "type": "object",
        "description": "Summary of a new confirmed block with Polymarket-relevant stats.",
        "required": [
          "block_number",
          "block_hash",
          "timestamp",
          "parent_hash",
          "tx_count",
          "polymarket_tx_count",
          "settlement_count",
          "trade_volume_usd"
        ],
        "properties": {
          "block_hash": {
            "type": "string"
          },
          "block_number": {
            "type": "integer",
            "format": "int64",
            "minimum": 0
          },
          "parent_hash": {
            "type": "string"
          },
          "polymarket_tx_count": {
            "type": "integer",
            "format": "int32",
            "minimum": 0
          },
          "settlement_count": {
            "type": "integer",
            "format": "int32",
            "minimum": 0
          },
          "timestamp": {
            "type": "integer",
            "format": "int64"
          },
          "trade_volume_usd": {
            "type": "number",
            "format": "double"
          },
          "tx_count": {
            "type": "integer",
            "format": "int32",
            "minimum": 0
          }
        }
      },
      "Candle": {
        "type": "object",
        "description": "A single OHLCV candle.",
        "required": [
          "open",
          "high",
          "low",
          "close",
          "volume",
          "timestamp"
        ],
        "properties": {
          "close": {
            "type": "number",
            "format": "double"
          },
          "high": {
            "type": "number",
            "format": "double"
          },
          "low": {
            "type": "number",
            "format": "double"
          },
          "open": {
            "type": "number",
            "format": "double"
          },
          "timestamp": {
            "type": "integer",
            "format": "int64",
            "description": "Candle bucket start timestamp (ms, floored to resolution)."
          },
          "volume": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "CandleResolution": {
        "type": "string",
        "description": "Supported candle resolutions.",
        "enum": [
          "1m",
          "5m",
          "15m",
          "1h",
          "4h",
          "1d"
        ]
      },
      "CreateKeyBody": {
        "type": "object",
        "properties": {
          "name": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "DecodedTrade": {
        "type": "object",
        "description": "Decoded trade information from a matchOrders transaction.",
        "required": [
          "maker",
          "signer",
          "taker",
          "token_id",
          "side",
          "price",
          "size",
          "maker_amount",
          "taker_amount"
        ],
        "properties": {
          "maker": {
            "type": "string"
          },
          "maker_amount": {
            "type": "string"
          },
          "price": {
            "type": "number",
            "format": "double"
          },
          "side": {
            "$ref": "#/components/schemas/TradeSide"
          },
          "signer": {
            "type": "string"
          },
          "size": {
            "type": "number",
            "format": "double"
          },
          "taker": {
            "type": "string"
          },
          "taker_amount": {
            "type": "string"
          },
          "token_id": {
            "type": "string"
          }
        }
      },
      "DepositDirection": {
        "type": "string",
        "enum": [
          "deposit",
          "withdrawal"
        ]
      },
      "DepositEvent": {
        "type": "object",
        "description": "USDC.e transfer to/from Polymarket contracts.",
        "required": [
          "tx_hash",
          "block_number",
          "log_index",
          "timestamp",
          "from",
          "to",
          "amount",
          "direction"
        ],
        "properties": {
          "amount": {
            "type": "number",
            "format": "double"
          },
          "block_number": {
            "type": "integer",
            "format": "int64",
            "minimum": 0
          },
          "direction": {
            "$ref": "#/components/schemas/DepositDirection"
          },
          "from": {
            "type": "string"
          },
          "log_index": {
            "type": "integer",
            "format": "int32",
            "minimum": 0
          },
          "timestamp": {
            "type": "integer",
            "format": "int64"
          },
          "to": {
            "type": "string"
          },
          "tx_hash": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "string"
          }
        }
      },
      "PriceLevel": {
        "type": "object",
        "description": "A single price level in the order book.",
        "required": ["price", "size"],
        "properties": {
          "price": {
            "type": "string",
            "description": "Price as a decimal string (e.g. \"0.55\")"
          },
          "size": {
            "type": "string",
            "description": "Total size available at this price level (e.g. \"1500.25\")"
          }
        }
      },
      "OrderBookMetadata": {
        "type": "object",
        "description": "PolyNode market metadata enrichment (not present in Polymarket's CLOB API).",
        "properties": {
          "question": {
            "type": "string",
            "description": "Market question text"
          },
          "slug": {
            "type": "string",
            "description": "Event slug for URL construction"
          },
          "outcomes": {
            "type": "array",
            "items": { "type": "string" },
            "description": "Outcome labels (e.g. [\"Yes\", \"No\"])"
          },
          "condition_id": {
            "type": "string",
            "description": "Market condition ID (hex)"
          },
          "image": {
            "type": "string",
            "description": "Market image URL"
          }
        }
      },
      "OrderBookResponse": {
        "type": "object",
        "description": "Full order book snapshot. Base fields match Polymarket's CLOB `/book` response exactly. The `metadata` field is a PolyNode addition.",
        "required": ["market", "asset_id", "timestamp", "hash", "bids", "asks", "min_order_size", "tick_size", "neg_risk", "last_trade_price"],
        "properties": {
          "market": {
            "type": "string",
            "description": "Market condition ID (hex)"
          },
          "asset_id": {
            "type": "string",
            "description": "Token ID"
          },
          "timestamp": {
            "type": "string",
            "description": "Unix timestamp in milliseconds (as string)"
          },
          "hash": {
            "type": "string",
            "description": "40-character hex hash of the book state"
          },
          "bids": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/PriceLevel" },
            "description": "Bid price levels, sorted ascending by price"
          },
          "asks": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/PriceLevel" },
            "description": "Ask price levels, sorted descending by price"
          },
          "min_order_size": {
            "type": "string",
            "description": "Minimum order size for this market (e.g. \"5\")"
          },
          "tick_size": {
            "type": "string",
            "description": "Minimum price increment for this market (e.g. \"0.01\" or \"0.001\")"
          },
          "neg_risk": {
            "type": "boolean",
            "description": "Whether this is a neg-risk market"
          },
          "last_trade_price": {
            "type": "string",
            "description": "Last trade price (e.g. \"0.540\")"
          },
          "metadata": {
            "$ref": "#/components/schemas/OrderBookMetadata"
          }
        }
      },
      "MidpointResponse": {
        "type": "object",
        "description": "Midpoint price. The `mid` field matches Polymarket's CLOB `/midpoint` response. Additional fields are PolyNode enrichment.",
        "required": ["mid"],
        "properties": {
          "mid": {
            "type": "string",
            "description": "Midpoint price as decimal string, calculated as (best_bid + best_ask) / 2"
          },
          "token_id": {
            "type": "string",
            "description": "Token ID (PolyNode enrichment)"
          },
          "question": {
            "type": "string",
            "description": "Market question (PolyNode enrichment)"
          },
          "slug": {
            "type": "string",
            "description": "Event slug (PolyNode enrichment)"
          }
        }
      },
      "SpreadResponse": {
        "type": "object",
        "description": "Bid-ask spread. The `spread` field matches Polymarket's CLOB `/spread` response. Additional fields are PolyNode enrichment.",
        "required": ["spread"],
        "properties": {
          "spread": {
            "type": "string",
            "description": "Bid-ask spread as decimal string, calculated as best_ask - best_bid"
          },
          "token_id": {
            "type": "string",
            "description": "Token ID (PolyNode enrichment)"
          },
          "question": {
            "type": "string",
            "description": "Market question (PolyNode enrichment)"
          },
          "slug": {
            "type": "string",
            "description": "Event slug (PolyNode enrichment)"
          }
        }
      },
      "EventStatus": {
        "type": "string",
        "description": "Status of an event — pending (mempool) or confirmed (in a block).",
        "enum": [
          "pending",
          "confirmed"
        ]
      },
      "Exchange": {
        "type": "string",
        "description": "Which exchange contract emitted the event.",
        "enum": [
          "ctf_exchange",
          "neg_risk_ctf_exchange"
        ]
      },
      "JsonRpcError": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "JsonRpcRequest": {
        "type": "object",
        "description": "JSON-RPC request.",
        "required": [
          "method",
          "id"
        ],
        "properties": {
          "id": {},
          "jsonrpc": {
            "type": [
              "string",
              "null"
            ]
          },
          "method": {
            "type": "string"
          },
          "params": {}
        }
      },
      "JsonRpcResponse": {
        "type": "object",
        "description": "JSON-RPC response.",
        "required": [
          "jsonrpc",
          "id"
        ],
        "properties": {
          "error": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/JsonRpcError"
              }
            ]
          },
          "id": {},
          "jsonrpc": {
            "type": "string"
          },
          "result": {}
        }
      },
      "MarketState": {
        "type": "object",
        "description": "Live state for a single market (identified by token ID).",
        "required": [
          "last_price",
          "last_trade_at",
          "volume_24h",
          "trade_count_24h",
          "last_status"
        ],
        "properties": {
          "last_price": {
            "type": "number",
            "format": "double",
            "description": "Last traded price (0-1 for binary, varies for multi-outcome)."
          },
          "last_status": {
            "$ref": "#/components/schemas/EventStatus",
            "description": "Last known event status for this market."
          },
          "last_trade_at": {
            "type": "integer",
            "format": "int64",
            "description": "Timestamp of last trade (ms)."
          },
          "trade_count_24h": {
            "type": "integer",
            "format": "int64",
            "description": "Rolling 24h trade count.",
            "minimum": 0
          },
          "volume_24h": {
            "type": "number",
            "format": "double",
            "description": "Rolling 24h volume in USD."
          }
        }
      },
      "PositionChangeEvent": {
        "type": "object",
        "description": "Token transfer from the Conditional Tokens (ERC-1155) contract.",
        "required": [
          "tx_hash",
          "block_number",
          "log_index",
          "timestamp",
          "from",
          "to",
          "token_id",
          "amount",
          "transfer_type"
        ],
        "properties": {
          "amount": {
            "type": "number",
            "format": "double"
          },
          "block_number": {
            "type": "integer",
            "format": "int64",
            "minimum": 0
          },
          "condition_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Condition ID for this market (CTF contract identifier)."
          },
          "event_title": {
            "type": [
              "string",
              "null"
            ],
            "description": "Parent event title if this market is part of a group."
          },
          "from": {
            "type": "string"
          },
          "log_index": {
            "type": "integer",
            "format": "int32",
            "minimum": 0
          },
          "market_image": {
            "type": [
              "string",
              "null"
            ],
            "description": "Market image URL from Gamma metadata."
          },
          "market_slug": {
            "type": [
              "string",
              "null"
            ]
          },
          "market_title": {
            "type": [
              "string",
              "null"
            ]
          },
          "neg_risk": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "Whether this market uses the negRisk contract type."
          },
          "outcome": {
            "type": [
              "string",
              "null"
            ]
          },
          "taker_base_fee": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "Taker fee rate (e.g. 0.02 for 2%)."
          },
          "tick_size": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "Minimum price increment (e.g. 0.01 or 0.001)."
          },
          "timestamp": {
            "type": "integer",
            "format": "int64"
          },
          "to": {
            "type": "string"
          },
          "token_id": {
            "type": "string"
          },
          "tokens": {
            "type": [
              "object",
              "null"
            ],
            "description": "Token ID → outcome name map.",
            "additionalProperties": {
              "type": "string"
            },
            "propertyNames": {
              "type": "string"
            }
          },
          "transfer_type": {
            "$ref": "#/components/schemas/TransferType"
          },
          "tx_hash": {
            "type": "string"
          }
        }
      },
      "SettlementEvent": {
        "type": "object",
        "description": "A decoded settlement event from matchOrders calldata.",
        "required": [
          "tx_hash",
          "status",
          "detected_at",
          "taker_wallet",
          "taker_token",
          "taker_side",
          "taker_price",
          "taker_size",
          "trades"
        ],
        "properties": {
          "block_number": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "minimum": 0
          },
          "condition_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Condition ID for this market (CTF contract identifier)."
          },
          "detected_at": {
            "type": "integer",
            "format": "int64"
          },
          "event_title": {
            "type": [
              "string",
              "null"
            ],
            "description": "Parent event title if this market is part of a group."
          },
          "market_image": {
            "type": [
              "string",
              "null"
            ],
            "description": "Market image URL from Gamma metadata."
          },
          "market_slug": {
            "type": [
              "string",
              "null"
            ],
            "description": "URL slug for the market (e.g. \"bitcoin-100k-2026\")."
          },
          "market_title": {
            "type": [
              "string",
              "null"
            ],
            "description": "Human-readable market question (e.g. \"Will Bitcoin reach $100K?\")."
          },
          "neg_risk": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "Whether this market uses the negRisk contract type."
          },
          "outcome": {
            "type": [
              "string",
              "null"
            ],
            "description": "Outcome name for this token (e.g. \"Yes\", \"No\", \"Trump\")."
          },
          "status": {
            "$ref": "#/components/schemas/EventStatus"
          },
          "taker_base_fee": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "Taker fee rate (e.g. 0.02 for 2%)."
          },
          "taker_price": {
            "type": "number",
            "format": "double"
          },
          "taker_side": {
            "type": "string"
          },
          "taker_size": {
            "type": "number",
            "format": "double"
          },
          "taker_token": {
            "type": "string"
          },
          "taker_wallet": {
            "type": "string"
          },
          "tick_size": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "Minimum price increment (e.g. 0.01 or 0.001)."
          },
          "tokens": {
            "type": [
              "object",
              "null"
            ],
            "description": "Token ID → outcome name map (e.g. {\"123...\": \"Yes\", \"456...\": \"No\"}).",
            "additionalProperties": {
              "type": "string"
            },
            "propertyNames": {
              "type": "string"
            }
          },
          "trades": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DecodedTrade"
            }
          },
          "tx_hash": {
            "type": "string"
          }
        }
      },
      "StateSummary": {
        "type": "object",
        "required": [
          "market_count",
          "wallet_count",
          "metadata_count",
          "events_buffered",
          "events_processed",
          "latest_block"
        ],
        "properties": {
          "events_buffered": {
            "type": "integer",
            "minimum": 0
          },
          "events_processed": {
            "type": "integer",
            "format": "int64",
            "minimum": 0
          },
          "latest_block": {
            "type": "integer",
            "format": "int64",
            "minimum": 0
          },
          "market_count": {
            "type": "integer",
            "minimum": 0
          },
          "metadata_count": {
            "type": "integer",
            "minimum": 0
          },
          "wallet_count": {
            "type": "integer",
            "minimum": 0
          }
        }
      },
      "StatusResponse": {
        "type": "object",
        "required": [
          "node_connected",
          "uptime_seconds",
          "stream_length",
          "events_stream_length",
          "pending_txs",
          "ws_subscribers",
          "firehose_connections",
          "redis_memory",
          "state"
        ],
        "properties": {
          "events_stream_length": {
            "type": "integer",
            "minimum": 0
          },
          "firehose_connections": {
            "type": "integer",
            "format": "int32",
            "minimum": 0
          },
          "node_connected": {
            "type": "boolean"
          },
          "pending_txs": {
            "type": "integer",
            "minimum": 0
          },
          "redis_memory": {
            "type": "string"
          },
          "state": {
            "$ref": "#/components/schemas/StateSummary"
          },
          "stream_length": {
            "type": "integer",
            "minimum": 0
          },
          "uptime_seconds": {
            "type": "integer",
            "format": "int64",
            "minimum": 0
          },
          "ws_subscribers": {
            "type": "integer",
            "minimum": 0
          }
        }
      },
      "StatusUpdateEvent": {
        "type": "object",
        "description": "Notification that a previously-pending settlement is now confirmed.",
        "required": [
          "tx_hash",
          "token_id",
          "block_number",
          "confirmed_at",
          "pending_detected_at",
          "latency_ms",
          "taker_wallet"
        ],
        "properties": {
          "block_number": {
            "type": "integer",
            "format": "int64",
            "minimum": 0
          },
          "condition_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Condition ID for this market."
          },
          "confirmed_at": {
            "type": "integer",
            "format": "int64"
          },
          "event_title": {
            "type": [
              "string",
              "null"
            ],
            "description": "Parent event title if this market is part of a group."
          },
          "latency_ms": {
            "type": "integer",
            "format": "int64",
            "description": "Time from pending detection to block confirmation (ms)."
          },
          "maker_wallets": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "market_image": {
            "type": [
              "string",
              "null"
            ],
            "description": "Market image URL from Gamma metadata."
          },
          "market_slug": {
            "type": [
              "string",
              "null"
            ],
            "description": "URL slug for the market."
          },
          "market_title": {
            "type": [
              "string",
              "null"
            ]
          },
          "neg_risk": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "Whether this market uses the negRisk contract type."
          },
          "outcome": {
            "type": [
              "string",
              "null"
            ]
          },
          "pending_detected_at": {
            "type": "integer",
            "format": "int64"
          },
          "taker_base_fee": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "Taker fee rate."
          },
          "taker_wallet": {
            "type": "string"
          },
          "tick_size": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "Minimum price increment."
          },
          "token_id": {
            "type": "string"
          },
          "tokens": {
            "type": [
              "object",
              "null"
            ],
            "description": "Token ID → outcome name map.",
            "additionalProperties": {
              "type": "string"
            },
            "propertyNames": {
              "type": "string"
            }
          },
          "tx_hash": {
            "type": "string"
          }
        }
      },
      "TradeEvent": {
        "type": "object",
        "description": "A confirmed trade from OrderFilled event log on CTF Exchange.",
        "required": [
          "tx_hash",
          "block_number",
          "log_index",
          "timestamp",
          "exchange",
          "maker",
          "taker",
          "token_id",
          "side",
          "price",
          "size",
          "maker_amount",
          "taker_amount"
        ],
        "properties": {
          "block_number": {
            "type": "integer",
            "format": "int64",
            "minimum": 0
          },
          "condition_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Condition ID for this market (CTF contract identifier)."
          },
          "event_title": {
            "type": [
              "string",
              "null"
            ],
            "description": "Parent event title if this market is part of a group."
          },
          "exchange": {
            "$ref": "#/components/schemas/Exchange"
          },
          "log_index": {
            "type": "integer",
            "format": "int32",
            "minimum": 0
          },
          "maker": {
            "type": "string"
          },
          "maker_amount": {
            "type": "string"
          },
          "market_image": {
            "type": [
              "string",
              "null"
            ],
            "description": "Market image URL from Gamma metadata."
          },
          "market_slug": {
            "type": [
              "string",
              "null"
            ]
          },
          "market_title": {
            "type": [
              "string",
              "null"
            ]
          },
          "neg_risk": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "Whether this market uses the negRisk contract type."
          },
          "outcome": {
            "type": [
              "string",
              "null"
            ]
          },
          "price": {
            "type": "number",
            "format": "double"
          },
          "side": {
            "$ref": "#/components/schemas/TradeSide"
          },
          "size": {
            "type": "number",
            "format": "double"
          },
          "taker": {
            "type": "string"
          },
          "taker_amount": {
            "type": "string"
          },
          "taker_base_fee": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "Taker fee rate (e.g. 0.02 for 2%)."
          },
          "tick_size": {
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "description": "Minimum price increment (e.g. 0.01 or 0.001)."
          },
          "timestamp": {
            "type": "integer",
            "format": "int64"
          },
          "token_id": {
            "type": "string"
          },
          "tokens": {
            "type": [
              "object",
              "null"
            ],
            "description": "Token ID → outcome name map (e.g. {\"123...\": \"Yes\", \"456...\": \"No\"}).",
            "additionalProperties": {
              "type": "string"
            },
            "propertyNames": {
              "type": "string"
            }
          },
          "tx_hash": {
            "type": "string"
          }
        }
      },
      "TradeSide": {
        "type": "string",
        "enum": [
          "BUY",
          "SELL"
        ]
      },
      "TransferType": {
        "type": "string",
        "enum": [
          "single",
          "batch"
        ]
      },
      "WalletActivity": {
        "type": "object",
        "description": "Activity summary for a tracked wallet.",
        "required": [
          "last_active",
          "trade_count",
          "trade_volume_usd",
          "transfer_count",
          "deposit_count",
          "deposit_volume_usd"
        ],
        "properties": {
          "deposit_count": {
            "type": "integer",
            "format": "int64",
            "description": "Number of USDC deposits/withdrawals.",
            "minimum": 0
          },
          "deposit_volume_usd": {
            "type": "number",
            "format": "double",
            "description": "Total deposit volume in USD."
          },
          "last_active": {
            "type": "integer",
            "format": "int64",
            "description": "Last activity timestamp (ms)."
          },
          "trade_count": {
            "type": "integer",
            "format": "int64",
            "description": "Number of trades in tracking window.",
            "minimum": 0
          },
          "trade_volume_usd": {
            "type": "number",
            "format": "double",
            "description": "Total trade volume in USD."
          },
          "transfer_count": {
            "type": "integer",
            "format": "int64",
            "description": "Number of token transfers.",
            "minimum": 0
          }
        }
      }
    },
    "securitySchemes": {
      "api_key": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      }
    }
  },
  "security": [
    {
      "api_key": []
    }
  ]
}
