{
  "openapi": "3.1.0",
  "info": {
    "title": "PolyNode API",
    "description": "Real-time Polymarket data API with decoded mempool settlements, OHLCV candles, and orderbook data.",
    "contact": {
      "name": "PolyNode",
      "url": "https://polynode.dev"
    },
    "license": {
      "name": ""
    },
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://api.polynode.dev",
      "description": "Production"
    }
  ],
  "paths": {
    "/healthz": {
      "get": {
        "tags": [
          "System"
        ],
        "summary": "Health check",
        "description": "Liveness probe. Returns 200 OK if the server is running.",
        "operationId": "healthz",
        "responses": {
          "200": {
            "description": "Server is alive",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/readyz": {
      "get": {
        "tags": [
          "System"
        ],
        "summary": "Readiness check",
        "description": "Returns 200 if node is connected and Redis is reachable, 503 otherwise.",
        "operationId": "readyz",
        "responses": {
          "200": {
            "description": "System ready"
          },
          "503": {
            "description": "System not ready"
          }
        }
      }
    },
    "/v1/candles/{token_id}": {
      "get": {
        "tags": [
          "Pricing"
        ],
        "summary": "OHLCV candles",
        "description": "Returns OHLCV price candles for a token at the specified resolution.",
        "operationId": "get_candles",
        "parameters": [
          {
            "name": "token_id",
            "in": "path",
            "description": "Polymarket token ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resolution",
            "in": "query",
            "description": "Candle resolution: 1m, 5m, 15m, 1h, 4h, 1d (default: 1h)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of candles (default 100, max 1000)",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "API key",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OHLCV candles",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "candles": [
                    {
                      "close": 0.036,
                      "high": 0.036,
                      "low": 0.036,
                      "open": 0.036,
                      "timestamp": 1772694000000,
                      "volume": 1400.0
                    }
                  ],
                  "count": 1,
                  "question": "Will Bitcoin dip to $45,000 in March?",
                  "resolution": "1h",
                  "slug": "will-bitcoin-dip-to-45k-in-march-2026",
                  "token_id": "13377794642435611385847620240808138064594447585244290622688315269067148861161"
                }
              }
            }
          },
          "400": {
            "description": "Invalid resolution",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v1/midpoint/{token_id}": {
      "get": {
        "tags": [
          "Orderbook"
        ],
        "summary": "Midpoint price",
        "description": "Returns the midpoint price for a token from the Polymarket CLOB, enriched with market metadata.",
        "operationId": "get_midpoint",
        "parameters": [
          {
            "name": "token_id",
            "in": "path",
            "description": "Polymarket token ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "API key",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Midpoint price with market metadata",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "mid": "0.0375",
                  "question": "Will Bitcoin dip to $45,000 in March?",
                  "slug": "will-bitcoin-dip-to-45k-in-march-2026",
                  "token_id": "13377794642435611385847620240808138064594447585244290622688315269067148861161"
                }
              }
            }
          },
          "401": {
            "description": "Missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "CLOB upstream error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v1/orderbook/{token_id}": {
      "get": {
        "tags": [
          "Orderbook"
        ],
        "summary": "Order book",
        "description": "Proxies to the Polymarket CLOB order book, enriched with market metadata.",
        "operationId": "get_orderbook",
        "parameters": [
          {
            "name": "token_id",
            "in": "path",
            "description": "Polymarket token ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "API key",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Order book with market metadata",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "asks": [
                    {
                      "price": "0.999",
                      "size": "1154205.07"
                    },
                    {
                      "price": "0.998",
                      "size": "68007.53"
                    },
                    {
                      "price": "0.997",
                      "size": "5000"
                    }
                  ],
                  "asset_id": "13377794642435611385847620240808138064594447585244290622688315269067148861161",
                  "bids": [
                    {
                      "price": "0.001",
                      "size": "324337"
                    },
                    {
                      "price": "0.002",
                      "size": "20891.4"
                    },
                    {
                      "price": "0.003",
                      "size": "10609.62"
                    }
                  ],
                  "hash": "9d2ebb671b2ed519930ff322d62bcd151c7a5e83",
                  "last_trade_price": "0.963",
                  "market": {
                    "condition_id": "0x31ca3efabff600267d69924a5280b7c1aa3f46cfc14590b28fa231c807253768",
                    "image": "https://polymarket-upload.s3.us-east-2.amazonaws.com/BTC+fullsize.png",
                    "outcomes": [
                      "Yes",
                      "No"
                    ],
                    "question": "Will Bitcoin dip to $45,000 in March?",
                    "slug": "will-bitcoin-dip-to-45k-in-march-2026"
                  },
                  "min_order_size": "5",
                  "neg_risk": false,
                  "tick_size": "0.001",
                  "timestamp": "1772699224507",
                  "token_id": "13377794642435611385847620240808138064594447585244290622688315269067148861161"
                }
              }
            }
          },
          "401": {
            "description": "Missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "CLOB upstream error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v1/spread/{token_id}": {
      "get": {
        "tags": [
          "Orderbook"
        ],
        "summary": "Bid-ask spread",
        "description": "Returns the bid-ask spread for a token from the Polymarket CLOB, enriched with market metadata.",
        "operationId": "get_spread",
        "parameters": [
          {
            "name": "token_id",
            "in": "path",
            "description": "Polymarket token ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "API key",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Bid-ask spread with market metadata",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "question": "Will Bitcoin dip to $45,000 in March?",
                  "slug": "will-bitcoin-dip-to-45k-in-march-2026",
                  "spread": "0.001",
                  "token_id": "13377794642435611385847620240808138064594447585244290622688315269067148861161"
                }
              }
            }
          },
          "401": {
            "description": "Missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "CLOB upstream error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v1/keys": {
      "post": {
        "tags": [
          "System"
        ],
        "summary": "Generate API key",
        "description": "Generates a new API key. Rate limited to 1 per IP per day. The key is returned only once and cannot be retrieved again.",
        "operationId": "create_api_key",
        "requestBody": {
          "description": "Optional key name",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateKeyBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "API key created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyResponse"
                },
                "example": {
                  "key": "pn_live_a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4e5f6",
                  "name": "my-trading-bot",
                  "created_at": "2026-03-05T10:30:00Z",
                  "note": "Save this key \u2014 it cannot be retrieved again."
                }
              }
            }
          },
          "429": {
            "description": "Key generation rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/markets": {
      "get": {
        "tags": [
          "Markets"
        ],
        "summary": "Top markets",
        "description": "Returns top markets sorted by 24-hour volume. Only includes markets with activity in the last 24 hours. Use `/v1/markets/list?active_only=false` for all markets.",
        "operationId": "get_markets",
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "description": "Number of markets (default 100, max 1000)",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "API key",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Top markets by volume",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "count": 2,
                  "markets": [
                    {
                      "last_price": 1.960784,
                      "last_trade_at": 1772699163000,
                      "token_id": "0",
                      "trade_count_24h": 1345103,
                      "volume_24h": 27498413.9737
                    },
                    {
                      "last_price": 0.001,
                      "last_trade_at": 1772689981000,
                      "token_id": "44906371323173926037832005247987413218",
                      "trade_count_24h": 13,
                      "volume_24h": 2579276.17
                    }
                  ],
                  "total": 17951
                }
              }
            }
          },
          "401": {
            "description": "Missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v1/markets/condition/{id}": {
      "get": {
        "tags": [
          "Markets"
        ],
        "summary": "Market by condition ID",
        "description": "Looks up a market by its Polymarket condition ID. Returns full metadata, all token IDs with prices, and outcome prices.",
        "operationId": "get_market_by_condition",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Polymarket condition ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "API key",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Market data with all tokens",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "active": true,
                  "category": null,
                  "closed": false,
                  "condition_id": "0x31ca3efabff600267d69924a5280b7c1aa3f46cfc14590b28fa231c807253768",
                  "created_at": "2026-03-01T05:11:16.653402Z",
                  "description": "This market will immediately resolve to \"Yes\" if any Binance 1 minute candle for BTC/USDT during the month specified in the title (from 00:00 AM ET on...",
                  "end_date": "2026-04-01T04:00:00Z",
                  "event_slug": "what-price-will-bitcoin-hit-in-march-2026",
                  "event_title": "What price will Bitcoin hit in March?",
                  "group_item_title": "\u2193 45,000",
                  "icon": "https://polymarket-upload.s3.us-east-2.amazonaws.com/BTC+fullsize.png",
                  "image": "https://polymarket-upload.s3.us-east-2.amazonaws.com/BTC+fullsize.png",
                  "liquidity": 69179.40617,
                  "market_type": "binary",
                  "neg_risk": false,
                  "outcome_prices": {
                    "No": 0.963,
                    "Yes": 0.036
                  },
                  "outcomes": [
                    "Yes",
                    "No"
                  ],
                  "question": "Will Bitcoin dip to $45,000 in March?",
                  "slug": "will-bitcoin-dip-to-45k-in-march-2026",
                  "tokens": [
                    {
                      "last_price": 0.036,
                      "last_trade_at": 1772696067557,
                      "token_id": "13377794642435611385847620240808138064594447585244290622688315269067148861161",
                      "trade_count_24h": 0,
                      "volume_24h": 0.0
                    },
                    {
                      "last_price": 0.963,
                      "last_trade_at": 1772697404776,
                      "token_id": "22088915752461138493579213546126689516700387819895194848477804393373846384280",
                      "trade_count_24h": 1,
                      "volume_24h": 849.29
                    }
                  ],
                  "volume": 424829.226541
                }
              }
            }
          },
          "401": {
            "description": "Missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Market not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v1/markets/list": {
      "get": {
        "tags": [
          "Markets"
        ],
        "summary": "Filtered market listing",
        "description": "Returns a filtered, paginated list of markets. Supports sorting, category filtering, and volume thresholds.",
        "operationId": "get_markets_filtered",
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "description": "Page size (default 50, max 500)",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort field: volume (default), price, updated",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "description": "Filter by category (case-insensitive substring match)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_volume",
            "in": "query",
            "description": "Minimum 24h volume in USD",
            "required": false,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "active_only",
            "in": "query",
            "description": "Only markets with trades in the last hour (defaults to true)",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor (offset)",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "API key",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Filtered market list with pagination",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "count": 2,
                  "cursor": 0,
                  "markets": [
                    {
                      "last_price": 1.092896,
                      "last_trade_at": 1772699173000,
                      "token_id": "0",
                      "trade_count_24h": 1346687,
                      "volume_24h": 27519046.748896
                    },
                    {
                      "last_price": 0.004,
                      "last_trade_at": 1772699001000,
                      "token_id": "290297004048456664490486060014071272408",
                      "trade_count_24h": 84,
                      "volume_24h": 1074230.16
                    }
                  ],
                  "next_cursor": 2,
                  "total": 8348
                }
              }
            }
          },
          "401": {
            "description": "Missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v1/markets/slug/{slug}": {
      "get": {
        "tags": [
          "Markets"
        ],
        "summary": "Market by slug",
        "description": "Looks up a market by its URL slug. Returns full metadata, all token IDs with prices, and outcome prices.",
        "operationId": "get_market_by_slug",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "Market URL slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "API key",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Market data with all tokens",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "active": true,
                  "category": null,
                  "closed": false,
                  "condition_id": "0x31ca3efabff600267d69924a5280b7c1aa3f46cfc14590b28fa231c807253768",
                  "created_at": "2026-03-01T05:11:16.653402Z",
                  "description": "This market will immediately resolve to \"Yes\" if any Binance 1 minute candle for BTC/USDT during the month specified in the title (from 00:00 AM ET on...",
                  "end_date": "2026-04-01T04:00:00Z",
                  "event_slug": "what-price-will-bitcoin-hit-in-march-2026",
                  "event_title": "What price will Bitcoin hit in March?",
                  "group_item_title": "\u2193 45,000",
                  "icon": "https://polymarket-upload.s3.us-east-2.amazonaws.com/BTC+fullsize.png",
                  "image": "https://polymarket-upload.s3.us-east-2.amazonaws.com/BTC+fullsize.png",
                  "liquidity": 69179.40617,
                  "market_type": "binary",
                  "neg_risk": false,
                  "outcome_prices": {
                    "No": 0.963,
                    "Yes": 0.036
                  },
                  "outcomes": [
                    "Yes",
                    "No"
                  ],
                  "question": "Will Bitcoin dip to $45,000 in March?",
                  "slug": "will-bitcoin-dip-to-45k-in-march-2026",
                  "tokens": [
                    {
                      "last_price": 0.036,
                      "last_trade_at": 1772696067557,
                      "token_id": "13377794642435611385847620240808138064594447585244290622688315269067148861161",
                      "trade_count_24h": 0,
                      "volume_24h": 0.0
                    },
                    {
                      "last_price": 0.963,
                      "last_trade_at": 1772697404776,
                      "token_id": "22088915752461138493579213546126689516700387819895194848477804393373846384280",
                      "trade_count_24h": 1,
                      "volume_24h": 849.29
                    }
                  ],
                  "volume": 424829.226541
                }
              }
            }
          },
          "401": {
            "description": "Missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Market not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v1/markets/{id}": {
      "get": {
        "tags": [
          "Markets"
        ],
        "summary": "Market detail",
        "description": "Returns detailed market data for a specific token ID, including metadata, liquidity, and description.",
        "operationId": "get_market_detail",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Polymarket token ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "API key",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Market detail",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "category": null,
                  "condition_id": "0x31ca3efabff600267d69924a5280b7c1aa3f46cfc14590b28fa231c807253768",
                  "created_at": "2026-03-01T05:11:16.653402Z",
                  "description": "This market will immediately resolve to \"Yes\" if any Binance 1 minute candle for BTC/USDT during the month specified in the title (from 00:00 AM ET on...",
                  "end_date": "2026-04-01T04:00:00Z",
                  "icon": "https://polymarket-upload.s3.us-east-2.amazonaws.com/BTC+fullsize.png",
                  "image": "https://polymarket-upload.s3.us-east-2.amazonaws.com/BTC+fullsize.png",
                  "last_price": 0.036,
                  "last_status": "pending",
                  "last_trade_at": 1772696067557,
                  "liquidity": 69179.40617,
                  "market_type": "binary",
                  "neg_risk": false,
                  "outcomes": [
                    "Yes",
                    "No"
                  ],
                  "question": "Will Bitcoin dip to $45,000 in March?",
                  "slug": "will-bitcoin-dip-to-45k-in-march-2026",
                  "token_id": "13377794642435611385847620240808138064594447585244290622688315269067148861161",
                  "trade_count_24h": 0,
                  "volume": 424829.226541,
                  "volume_24h": 0.0
                }
              }
            }
          },
          "401": {
            "description": "Missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Market not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v1/search": {
      "get": {
        "tags": [
          "Markets"
        ],
        "summary": "Search markets",
        "description": "Full-text search across all market questions. Sub-millisecond response times. Closed markets are excluded by default.",
        "operationId": "search_markets",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Search query string",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Max results (default 20, max 100)",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "include_inactive",
            "in": "query",
            "description": "Include closed/inactive markets in results (defaults to false)",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "API key",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "count": 2,
                  "query": "bitcoin",
                  "results": [
                    {
                      "active": true,
                      "category": null,
                      "closed": false,
                      "condition_id": "0x31ca3efabff600267d69924a5280b7c1aa3f46cfc14590b28fa231c807253768",
                      "created_at": "2026-03-01T05:11:16.653402Z",
                      "end_date": "2026-04-01T04:00:00Z",
                      "icon": "https://polymarket-upload.s3.us-east-2.amazonaws.com/BTC+fullsize.png",
                      "image": "https://polymarket-upload.s3.us-east-2.amazonaws.com/BTC+fullsize.png",
                      "last_price": 0.036,
                      "market_type": "binary",
                      "neg_risk": false,
                      "outcomes": [
                        "Yes",
                        "No"
                      ],
                      "question": "Will Bitcoin dip to $45,000 in March?",
                      "slug": "will-bitcoin-dip-to-45k-in-march-2026",
                      "token_ids": [
                        "13377794642435611385847620240808138064594447585244290622688315269067148861161",
                        "22088915752461138493579213546126689516700387819895194848477804393373846384280"
                      ],
                      "volume_24h": 0.0
                    },
                    {
                      "active": true,
                      "category": null,
                      "closed": false,
                      "condition_id": "0xb8d143465b68e8aa5520be8947142654b1d0e236630cea6447db1c1372c84a60",
                      "created_at": "2026-03-04T14:07:03.817509Z",
                      "end_date": "2026-03-05T14:15:00Z",
                      "icon": "https://polymarket-upload.s3.us-east-2.amazonaws.com/BTC+fullsize.png",
                      "image": "https://polymarket-upload.s3.us-east-2.amazonaws.com/BTC+fullsize.png",
                      "last_price": 0.51,
                      "market_type": "binary",
                      "neg_risk": false,
                      "outcomes": [
                        "Up",
                        "Down"
                      ],
                      "question": "Bitcoin Up or Down - March 5, 9:00AM-9:15AM ET",
                      "slug": "btc-updown-15m-1772719200",
                      "token_ids": [
                        "12055650140478655335944070632767866806452702803647460244041397723070979397168",
                        "63815832742571358974292552232617721559649233524636637183953732274179444905044"
                      ],
                      "volume_24h": 0.0
                    }
                  ],
                  "total": 2
                }
              }
            }
          },
          "400": {
            "description": "Missing query parameter",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v1/settlements/recent": {
      "get": {
        "tags": [
          "Settlements"
        ],
        "summary": "Recent settlements",
        "description": "Returns the most recent decoded settlements (pending + confirmed) from the mempool and confirmed blocks.",
        "operationId": "get_recent_settlements",
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "description": "Number of settlements to return (default 100, max 1000)",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "API key (alternative to x-api-key header)",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of settlements",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "count": 1,
                  "settlements": [
                    {
                      "block_number": "0",
                      "detected_at": "1772699146122",
                      "event_title": "Bitcoin Up or Down - March 5, 3:25AM-3:30AM ET",
                      "id": "1772699146123-3",
                      "market_image": "https://polymarket-upload.s3.us-east-2.amazonaws.com/BTC+fullsize.png",
                      "market_slug": "btc-updown-5m-1772699100",
                      "market_title": "Bitcoin Up or Down - March 5, 3:25AM-3:30AM ET",
                      "outcome": "Down",
                      "status": "pending",
                      "taker_price": "0.65",
                      "taker_side": "BUY",
                      "taker_size": "30.0",
                      "taker_token": "98483818132457972115680978277424874797141979920206380372504887336897704499424",
                      "taker_wallet": "0x6c4490948df4b4d88f5b9a800d5ad3cb629e3ae5",
                      "timestamp": "1772699146122",
                      "trades_json": "[{\"maker\": \"0xd9f9ca5f84d7f2fc74c1901e98e91d4b448e1622\", \"signer\": \"0x0c24b37b2a19b49a0ea90b574f7a3eaefcee2933\", \"taker\": \"0x6c4490948df4b4d88f5b9a800...",
                      "tx_hash": "0xf228b71ad532e8e24d54d5ae2220190ba83de8ea1c768de803ef62260ee9bf08"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v1/settlements/token/{id}": {
      "get": {
        "tags": [
          "Settlements"
        ],
        "summary": "Settlements by token",
        "description": "Returns settlements for a specific Polymarket token ID.",
        "operationId": "get_token_settlements",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Polymarket token ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Number of settlements (default 100, max 1000)",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "API key",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Settlements for token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "count": 0,
                  "settlements": [],
                  "token_id": "98483818132457972115680978277424874797141979920206380372504887336897704499424"
                }
              }
            }
          },
          "401": {
            "description": "Missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v1/settlements/wallet/{addr}": {
      "get": {
        "tags": [
          "Settlements"
        ],
        "summary": "Settlements by wallet",
        "description": "Returns settlements involving a specific wallet address.",
        "operationId": "get_wallet_settlements",
        "parameters": [
          {
            "name": "addr",
            "in": "path",
            "description": "Wallet address (0x...)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Number of settlements (default 100, max 1000)",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "API key",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Settlements for wallet",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "count": 0,
                  "settlements": [],
                  "wallet": "0x6c4490948df4b4d88f5b9a800d5ad3cb629e3ae5"
                }
              }
            }
          },
          "401": {
            "description": "Missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v1/stats/{token_id}": {
      "get": {
        "tags": [
          "Pricing"
        ],
        "summary": "Market statistics",
        "description": "Returns market statistics including last price, 24h volume, and 24-hour OHLCV derived from hourly candles.",
        "operationId": "get_market_stats",
        "parameters": [
          {
            "name": "token_id",
            "in": "path",
            "description": "Polymarket token ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "API key",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Market statistics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "category": null,
                  "condition_id": "0x31ca3efabff600267d69924a5280b7c1aa3f46cfc14590b28fa231c807253768",
                  "created_at": "2026-03-01T05:11:16.653402Z",
                  "end_date": "2026-04-01T04:00:00Z",
                  "icon": "https://polymarket-upload.s3.us-east-2.amazonaws.com/BTC+fullsize.png",
                  "image": "https://polymarket-upload.s3.us-east-2.amazonaws.com/BTC+fullsize.png",
                  "last_trade_at": 1772696067557,
                  "liquidity": 69179.40617,
                  "market_type": "binary",
                  "neg_risk": false,
                  "ohlcv_24h": {
                    "candle_count": 1,
                    "close": 0.036,
                    "high": 0.036,
                    "low": 0.036,
                    "open": 0.036,
                    "volume": 1400.0
                  },
                  "outcomes": [
                    "Yes",
                    "No"
                  ],
                  "price": {
                    "last": 0.036
                  },
                  "question": "Will Bitcoin dip to $45,000 in March?",
                  "slug": "will-bitcoin-dip-to-45k-in-march-2026",
                  "token_id": "13377794642435611385847620240808138064594447585244290622688315269067148861161",
                  "trade_count_24h": 0,
                  "volume": 424829.226541,
                  "volume_24h": 0.0
                }
              }
            }
          },
          "401": {
            "description": "Missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Market not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v1/status": {
      "get": {
        "tags": [
          "System"
        ],
        "summary": "System status",
        "description": "Returns system status including node connectivity, uptime, stream lengths, and state engine summary.",
        "operationId": "get_status",
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "description": "API key",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "System status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "node_connected": true,
                  "uptime_seconds": 14452,
                  "stream_length": 500000,
                  "events_stream_length": 1000000,
                  "pending_txs": 804,
                  "ws_subscribers": 1,
                  "redis_memory": "4.22G",
                  "state": {
                    "market_count": 17941,
                    "wallet_count": 48076,
                    "metadata_count": 35829,
                    "events_buffered": 10000,
                    "events_processed": 9260435,
                    "latest_block": 83789555
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v1/wallets/{addr}": {
      "get": {
        "tags": [
          "Wallets"
        ],
        "summary": "Wallet activity",
        "description": "Returns activity summary for a wallet address including trade count, volume, transfers, and deposits.",
        "operationId": "get_wallet_activity",
        "parameters": [
          {
            "name": "addr",
            "in": "path",
            "description": "Wallet address (0x...)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "API key",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Wallet activity summary",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "activity": {
                    "deposit_count": 2453,
                    "deposit_volume_usd": 69909.14417500002,
                    "last_active": 1772699205000,
                    "trade_count": 9763,
                    "trade_volume_usd": 210970.48651899898,
                    "transfer_count": 4911
                  },
                  "wallet": "0x6c4490948df4b4d88f5b9a800d5ad3cb629e3ae5"
                }
              }
            }
          },
          "401": {
            "description": "Missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "No activity found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v1/wallets/{addr}/positions": {
      "get": {
        "tags": [
          "Wallets"
        ],
        "summary": "Wallet positions",
        "description": "Returns wallet positions from Polymarket, enriched with market metadata.",
        "operationId": "get_wallet_positions",
        "parameters": [
          {
            "name": "addr",
            "in": "path",
            "description": "Wallet address (0x...)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of positions (default 100, max 500)",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 500
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Pagination offset (default 0)",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "API key",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Wallet positions with market metadata",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "count": 1,
                  "positions": [
                    {
                      "asset": "8950254880134482680463537095655380267348307435283215501419161499297735145186",
                      "avgPrice": 0.252805,
                      "cashPnl": -319.0152969052,
                      "conditionId": "0x80140958b84cf715f8b9fcadb8879d184b25f667c9319e54b313abcd701dc54b",
                      "curPrice": 0,
                      "currentValue": 0,
                      "endDate": "2026-03-05",
                      "eventId": "245263",
                      "eventSlug": "btc-updown-5m-1772698800",
                      "icon": "https://polymarket-upload.s3.us-east-2.amazonaws.com/BTC+fullsize.png",
                      "initialValue": 319.0152969052,
                      "market_image": "https://polymarket-upload.s3.us-east-2.amazonaws.com/BTC+fullsize.png",
                      "market_slug": "btc-updown-5m-1772698800",
                      "market_title": "Bitcoin Up or Down - March 5, 3:20AM-3:25AM ET",
                      "mergeable": true,
                      "negativeRisk": false,
                      "oppositeAsset": "21647974123834743224851698382632299997426704582514642007303389312543242629631",
                      "oppositeOutcome": "Up",
                      "outcome": "Down",
                      "outcomeIndex": 1,
                      "outcomes": [
                        "Up",
                        "Down"
                      ],
                      "percentPnl": -100,
                      "percentRealizedPnl": -100,
                      "proxyWallet": "0x6c4490948df4b4d88f5b9a800d5ad3cb629e3ae5",
                      "realizedPnl": 0,
                      "redeemable": true,
                      "size": 1261.90264,
                      "slug": "btc-updown-5m-1772698800",
                      "title": "Bitcoin Up or Down - March 5, 3:20AM-3:25AM ET",
                      "totalBought": 1272.99994
                    }
                  ],
                  "wallet": "0x6c4490948df4b4d88f5b9a800d5ad3cb629e3ae5"
                }
              }
            }
          },
          "401": {
            "description": "Missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Data API upstream error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v1/wallets/{addr}/trades": {
      "get": {
        "tags": [
          "Wallets"
        ],
        "summary": "Wallet trades",
        "description": "Returns wallet trade history from Polymarket, enriched with market metadata.",
        "operationId": "get_wallet_trades",
        "parameters": [
          {
            "name": "addr",
            "in": "path",
            "description": "Wallet address (0x...)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of trades (default 100, max 500)",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 500
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Pagination offset (default 0)",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "API key",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Wallet trade history with market metadata",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "count": 1,
                  "trades": [
                    {
                      "asset": "51444701753104653724754784921938383346915558299594674312736208059677550686044",
                      "bio": "",
                      "conditionId": "0xe58f78e646f7fa00e7f79a1eddc0ec5c1488d3a312b6a1b3876678b27de93471",
                      "eventSlug": "btc-updown-5m-1772699100",
                      "icon": "https://polymarket-upload.s3.us-east-2.amazonaws.com/BTC+fullsize.png",
                      "market_image": "https://polymarket-upload.s3.us-east-2.amazonaws.com/BTC+fullsize.png",
                      "market_slug": "btc-updown-5m-1772699100",
                      "market_title": "Bitcoin Up or Down - March 5, 3:25AM-3:30AM ET",
                      "name": "",
                      "outcome": "Up",
                      "outcomeIndex": 0,
                      "outcomes": [
                        "Up",
                        "Down"
                      ],
                      "price": 0.3905085714285714,
                      "profileImage": "",
                      "profileImageOptimized": "",
                      "proxyWallet": "0x6c4490948df4b4d88f5b9a800d5ad3cb629e3ae5",
                      "pseudonym": "",
                      "side": "BUY",
                      "size": 70,
                      "slug": "btc-updown-5m-1772699100",
                      "timestamp": 1772699139,
                      "title": "Bitcoin Up or Down - March 5, 3:25AM-3:30AM ET",
                      "transactionHash": "0x75eca9dc8af8fc88f7ca09439945757546a632759b7a367e3316756793d83376"
                    }
                  ],
                  "wallet": "0x6c4490948df4b4d88f5b9a800d5ad3cb629e3ae5"
                }
              }
            }
          },
          "401": {
            "description": "Missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Data API upstream error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "ApiKeyResponse": {
        "type": "object",
        "required": [
          "api_key",
          "name",
          "rate_limit_per_minute",
          "message"
        ],
        "properties": {
          "api_key": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "rate_limit_per_minute": {
            "type": "integer",
            "format": "int32",
            "minimum": 0
          }
        }
      },
      "BlockEvent": {
        "type": "object",
        "description": "Summary of a new confirmed block with Polymarket-relevant stats.",
        "required": [
          "block_number",
          "block_hash",
          "timestamp",
          "parent_hash",
          "tx_count",
          "polymarket_tx_count",
          "settlement_count",
          "trade_volume_usd"
        ],
        "properties": {
          "block_hash": {
            "type": "string"
          },
          "block_number": {
            "type": "integer",
            "format": "int64",
            "minimum": 0
          },
          "parent_hash": {
            "type": "string"
          },
          "polymarket_tx_count": {
            "type": "integer",
            "format": "int32",
            "minimum": 0
          },
          "settlement_count": {
            "type": "integer",
            "format": "int32",
            "minimum": 0
          },
          "timestamp": {
            "type": "integer",
            "format": "int64"
          },
          "trade_volume_usd": {
            "type": "number",
            "format": "double"
          },
          "tx_count": {
            "type": "integer",
            "format": "int32",
            "minimum": 0
          }
        }
      },
      "Candle": {
        "type": "object",
        "description": "A single OHLCV candle.",
        "required": [
          "open",
          "high",
          "low",
          "close",
          "volume",
          "timestamp"
        ],
        "properties": {
          "close": {
            "type": "number",
            "format": "double"
          },
          "high": {
            "type": "number",
            "format": "double"
          },
          "low": {
            "type": "number",
            "format": "double"
          },
          "open": {
            "type": "number",
            "format": "double"
          },
          "timestamp": {
            "type": "integer",
            "format": "int64",
            "description": "Candle bucket start timestamp (ms, floored to resolution)."
          },
          "volume": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "CreateKeyBody": {
        "type": "object",
        "properties": {
          "name": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "DecodedTrade": {
        "type": "object",
        "description": "Decoded trade information from a matchOrders transaction.",
        "required": [
          "maker",
          "signer",
          "taker",
          "token_id",
          "side",
          "price",
          "size",
          "maker_amount",
          "taker_amount"
        ],
        "properties": {
          "maker": {
            "type": "string"
          },
          "maker_amount": {
            "type": "string"
          },
          "price": {
            "type": "number",
            "format": "double"
          },
          "side": {
            "$ref": "#/components/schemas/TradeSide"
          },
          "signer": {
            "type": "string"
          },
          "size": {
            "type": "number",
            "format": "double"
          },
          "taker": {
            "type": "string"
          },
          "taker_amount": {
            "type": "string"
          },
          "token_id": {
            "type": "string"
          }
        }
      },
      "DepositDirection": {
        "type": "string",
        "enum": [
          "deposit",
          "withdrawal"
        ]
      },
      "DepositEvent": {
        "type": "object",
        "description": "USDC.e transfer to/from Polymarket contracts.",
        "required": [
          "tx_hash",
          "block_number",
          "log_index",
          "timestamp",
          "from",
          "to",
          "amount",
          "direction"
        ],
        "properties": {
          "amount": {
            "type": "number",
            "format": "double"
          },
          "block_number": {
            "type": "integer",
            "format": "int64",
            "minimum": 0
          },
          "direction": {
            "$ref": "#/components/schemas/DepositDirection"
          },
          "from": {
            "type": "string"
          },
          "log_index": {
            "type": "integer",
            "format": "int32",
            "minimum": 0
          },
          "timestamp": {
            "type": "integer",
            "format": "int64"
          },
          "to": {
            "type": "string"
          },
          "tx_hash": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "string"
          }
        }
      },
      "EventStatus": {
        "type": "string",
        "description": "Status of an event \u2014 pending (mempool) or confirmed (in a block).",
        "enum": [
          "pending",
          "confirmed"
        ]
      },
      "Exchange": {
        "type": "string",
        "description": "Which exchange contract emitted the event.",
        "enum": [
          "ctf_exchange",
          "neg_risk_ctf_exchange"
        ]
      },
      "MarketState": {
        "type": "object",
        "description": "Live state for a single market (identified by token ID).",
        "required": [
          "last_price",
          "last_trade_at",
          "volume_24h",
          "trade_count_24h",
          "last_status"
        ],
        "properties": {
          "last_price": {
            "type": "number",
            "format": "double",
            "description": "Last traded price (0-1 for binary, varies for multi-outcome)."
          },
          "last_status": {
            "$ref": "#/components/schemas/EventStatus",
            "description": "Last known event status for this market."
          },
          "last_trade_at": {
            "type": "integer",
            "format": "int64",
            "description": "Timestamp of last trade (ms)."
          },
          "trade_count_24h": {
            "type": "integer",
            "format": "int64",
            "description": "Rolling 24h trade count.",
            "minimum": 0
          },
          "volume_24h": {
            "type": "number",
            "format": "double",
            "description": "Rolling 24h volume in USD."
          }
        }
      },
      "PositionChangeEvent": {
        "type": "object",
        "description": "Token transfer from the Conditional Tokens (ERC-1155) contract.",
        "required": [
          "tx_hash",
          "block_number",
          "log_index",
          "timestamp",
          "from",
          "to",
          "token_id",
          "amount",
          "transfer_type"
        ],
        "properties": {
          "amount": {
            "type": "number",
            "format": "double"
          },
          "block_number": {
            "type": "integer",
            "format": "int64",
            "minimum": 0
          },
          "from": {
            "type": "string"
          },
          "log_index": {
            "type": "integer",
            "format": "int32",
            "minimum": 0
          },
          "timestamp": {
            "type": "integer",
            "format": "int64"
          },
          "to": {
            "type": "string"
          },
          "token_id": {
            "type": "string"
          },
          "transfer_type": {
            "$ref": "#/components/schemas/TransferType"
          },
          "tx_hash": {
            "type": "string"
          }
        }
      },
      "SettlementEvent": {
        "type": "object",
        "description": "A decoded settlement event from matchOrders calldata.",
        "required": [
          "tx_hash",
          "status",
          "detected_at",
          "taker_wallet",
          "taker_token",
          "taker_side",
          "taker_price",
          "taker_size",
          "trades"
        ],
        "properties": {
          "block_number": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "minimum": 0
          },
          "detected_at": {
            "type": "integer",
            "format": "int64"
          },
          "timestamp": {
            "type": "integer",
            "format": "int64",
            "description": "Normalized timestamp (alias for detected_at). Present on all event types for consistent access."
          },
          "event_title": {
            "type": [
              "string",
              "null"
            ],
            "description": "Parent event title if this market is part of a group."
          },
          "market_slug": {
            "type": [
              "string",
              "null"
            ],
            "description": "URL slug for the market (e.g. \"bitcoin-100k-2026\")."
          },
          "market_title": {
            "type": [
              "string",
              "null"
            ],
            "description": "Human-readable market question (e.g. \"Will Bitcoin reach $100K?\")."
          },
          "outcome": {
            "type": [
              "string",
              "null"
            ],
            "description": "Outcome name for this token (e.g. \"Yes\", \"No\", \"Trump\")."
          },
          "status": {
            "$ref": "#/components/schemas/EventStatus"
          },
          "taker_price": {
            "type": "number",
            "format": "double"
          },
          "taker_side": {
            "type": "string"
          },
          "taker_size": {
            "type": "number",
            "format": "double"
          },
          "taker_token": {
            "type": "string"
          },
          "taker_wallet": {
            "type": "string"
          },
          "trades": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DecodedTrade"
            }
          },
          "tx_hash": {
            "type": "string"
          }
        }
      },
      "StateSummary": {
        "type": "object",
        "required": [
          "market_count",
          "wallet_count",
          "metadata_count",
          "events_buffered",
          "events_processed",
          "latest_block"
        ],
        "properties": {
          "events_buffered": {
            "type": "integer",
            "minimum": 0
          },
          "events_processed": {
            "type": "integer",
            "format": "int64",
            "minimum": 0
          },
          "latest_block": {
            "type": "integer",
            "format": "int64",
            "minimum": 0
          },
          "market_count": {
            "type": "integer",
            "minimum": 0
          },
          "metadata_count": {
            "type": "integer",
            "minimum": 0
          },
          "wallet_count": {
            "type": "integer",
            "minimum": 0
          }
        }
      },
      "StatusResponse": {
        "type": "object",
        "required": [
          "node_connected",
          "uptime_seconds",
          "stream_length",
          "events_stream_length",
          "pending_txs",
          "ws_subscribers",
          "redis_memory",
          "state"
        ],
        "properties": {
          "events_stream_length": {
            "type": "integer",
            "minimum": 0
          },
          "node_connected": {
            "type": "boolean"
          },
          "pending_txs": {
            "type": "integer",
            "minimum": 0
          },
          "redis_memory": {
            "type": "string"
          },
          "state": {
            "$ref": "#/components/schemas/StateSummary"
          },
          "stream_length": {
            "type": "integer",
            "minimum": 0
          },
          "uptime_seconds": {
            "type": "integer",
            "format": "int64",
            "minimum": 0
          },
          "ws_subscribers": {
            "type": "integer",
            "minimum": 0
          }
        }
      },
      "StatusUpdateEvent": {
        "type": "object",
        "description": "Notification that a previously-pending settlement is now confirmed.",
        "required": [
          "tx_hash",
          "token_id",
          "block_number",
          "confirmed_at",
          "pending_detected_at",
          "latency_ms"
        ],
        "properties": {
          "block_number": {
            "type": "integer",
            "format": "int64",
            "minimum": 0
          },
          "confirmed_at": {
            "type": "integer",
            "format": "int64"
          },
          "latency_ms": {
            "type": "integer",
            "format": "int64",
            "description": "Time from pending detection to block confirmation (ms)."
          },
          "market_title": {
            "type": [
              "string",
              "null"
            ]
          },
          "outcome": {
            "type": [
              "string",
              "null"
            ]
          },
          "pending_detected_at": {
            "type": "integer",
            "format": "int64"
          },
          "token_id": {
            "type": "string"
          },
          "tx_hash": {
            "type": "string"
          }
        }
      },
      "TradeEvent": {
        "type": "object",
        "description": "A confirmed trade from OrderFilled event log on CTF Exchange.",
        "required": [
          "tx_hash",
          "block_number",
          "log_index",
          "timestamp",
          "exchange",
          "maker",
          "taker",
          "token_id",
          "side",
          "price",
          "size",
          "maker_amount",
          "taker_amount"
        ],
        "properties": {
          "block_number": {
            "type": "integer",
            "format": "int64",
            "minimum": 0
          },
          "exchange": {
            "$ref": "#/components/schemas/Exchange"
          },
          "log_index": {
            "type": "integer",
            "format": "int32",
            "minimum": 0
          },
          "maker": {
            "type": "string"
          },
          "maker_amount": {
            "type": "string"
          },
          "market_slug": {
            "type": [
              "string",
              "null"
            ]
          },
          "market_title": {
            "type": [
              "string",
              "null"
            ]
          },
          "outcome": {
            "type": [
              "string",
              "null"
            ]
          },
          "price": {
            "type": "number",
            "format": "double"
          },
          "side": {
            "$ref": "#/components/schemas/TradeSide"
          },
          "size": {
            "type": "number",
            "format": "double"
          },
          "taker": {
            "type": "string"
          },
          "taker_amount": {
            "type": "string"
          },
          "timestamp": {
            "type": "integer",
            "format": "int64"
          },
          "token_id": {
            "type": "string"
          },
          "tx_hash": {
            "type": "string"
          }
        }
      },
      "TradeSide": {
        "type": "string",
        "enum": [
          "BUY",
          "SELL"
        ]
      },
      "TransferType": {
        "type": "string",
        "enum": [
          "single",
          "batch"
        ]
      },
      "WalletActivity": {
        "type": "object",
        "description": "Activity summary for a tracked wallet.",
        "required": [
          "last_active",
          "trade_count",
          "trade_volume_usd",
          "transfer_count",
          "deposit_count",
          "deposit_volume_usd"
        ],
        "properties": {
          "deposit_count": {
            "type": "integer",
            "format": "int64",
            "description": "Number of USDC deposits/withdrawals.",
            "minimum": 0
          },
          "deposit_volume_usd": {
            "type": "number",
            "format": "double",
            "description": "Total deposit volume in USD."
          },
          "last_active": {
            "type": "integer",
            "format": "int64",
            "description": "Last activity timestamp (ms)."
          },
          "trade_count": {
            "type": "integer",
            "format": "int64",
            "description": "Number of trades in tracking window.",
            "minimum": 0
          },
          "trade_volume_usd": {
            "type": "number",
            "format": "double",
            "description": "Total trade volume in USD."
          },
          "transfer_count": {
            "type": "integer",
            "format": "int64",
            "description": "Number of token transfers.",
            "minimum": 0
          }
        }
      }
    },
    "securitySchemes": {
      "api_key": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      }
    }
  },
  "security": [
    {
      "api_key": []
    }
  ]
}
