{
  "openapi": "3.1.0",
  "info": {
    "title": "PolyNode API",
    "description": "Real-time Polymarket data API with decoded mempool settlements, historical trade database, OHLCV candles, and full Polygon JSON-RPC proxy.",
    "contact": {
      "name": "PolyNode",
      "url": "https://polynode.dev"
    },
    "license": {
      "name": ""
    },
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://api.polynode.dev",
      "description": "Production"
    }
  ],
  "paths": {
    "/healthz": {
      "get": {
        "tags": [
          "System"
        ],
        "summary": "Health check",
        "description": "Liveness probe. Returns 200 OK if the server is running.",
        "operationId": "healthz",
        "responses": {
          "200": {
            "description": "Server is alive",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/readyz": {
      "get": {
        "tags": [
          "System"
        ],
        "summary": "Readiness check",
        "description": "Returns 200 if node is connected and Redis is reachable, 503 otherwise.",
        "operationId": "readyz",
        "responses": {
          "200": {
            "description": "System ready"
          },
          "503": {
            "description": "System not ready"
          }
        }
      }
    },
    "/rpc": {
      "post": {
        "tags": [
          "RPC"
        ],
        "summary": "JSON-RPC proxy",
        "description": "JSON-RPC 2.0 proxy supporting standard eth_*/net_* methods (forwarded to full Polygon node with caching) and custom pn_* methods (served from in-memory state). Supports single and batch requests (max 100 per batch).",
        "operationId": "rpc_handler",
        "requestBody": {
          "description": "JSON-RPC 2.0 request (single object or array for batch)",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonRpcRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "JSON-RPC response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonRpcResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v1/candles/{token_id}": {
      "get": {
        "tags": [
          "Pricing"
        ],
        "summary": "OHLCV candles",
        "description": "Returns OHLCV price candles for a token at the specified resolution.",
        "operationId": "get_candles",
        "parameters": [
          {
            "name": "token_id",
            "in": "path",
            "description": "Polymarket token ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resolution",
            "in": "query",
            "description": "Candle resolution: 1m, 5m, 15m, 1h, 4h, 1d (default: 1h)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of candles (default 100, max 1000)",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "API key",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OHLCV candles"
          },
          "400": {
            "description": "Invalid resolution",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v1/midpoint/{token_id}": {
      "get": {
        "tags": [
          "Orderbook"
        ],
        "summary": "Midpoint price",
        "description": "Returns the midpoint price for a token from the Polymarket CLOB, enriched with market metadata.",
        "operationId": "get_midpoint",
        "parameters": [
          {
            "name": "token_id",
            "in": "path",
            "description": "Polymarket token ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "API key",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Midpoint price with market metadata"
          },
          "401": {
            "description": "Missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "CLOB upstream error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v1/orderbook/{token_id}": {
      "get": {
        "tags": [
          "Orderbook"
        ],
        "summary": "Order book",
        "description": "Proxies to the Polymarket CLOB order book, enriched with market metadata.",
        "operationId": "get_orderbook",
        "parameters": [
          {
            "name": "token_id",
            "in": "path",
            "description": "Polymarket token ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "API key",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Order book with market metadata"
          },
          "401": {
            "description": "Missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "CLOB upstream error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v1/spread/{token_id}": {
      "get": {
        "tags": [
          "Orderbook"
        ],
        "summary": "Bid-ask spread",
        "description": "Returns the bid-ask spread for a token from the Polymarket CLOB, enriched with market metadata.",
        "operationId": "get_spread",
        "parameters": [
          {
            "name": "token_id",
            "in": "path",
            "description": "Polymarket token ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "API key",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Bid-ask spread with market metadata"
          },
          "401": {
            "description": "Missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "CLOB upstream error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v1/keys": {
      "post": {
        "tags": [
          "System"
        ],
        "summary": "Generate API key",
        "description": "Generates a new API key. Rate limited to 1 per IP per day. The key is returned only once and cannot be retrieved again.",
        "operationId": "create_api_key",
        "requestBody": {
          "description": "Optional key name",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateKeyBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "API key created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyResponse"
                }
              }
            }
          },
          "429": {
            "description": "Key generation rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/markets": {
      "get": {
        "tags": [
          "Markets"
        ],
        "summary": "Top markets",
        "description": "Returns top markets sorted by 24-hour volume. Only includes markets with activity in the last 24 hours. Use `/v1/markets/list?active_only=false` for all markets.",
        "operationId": "get_markets",
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "description": "Number of markets (default 100, max 1000)",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "API key",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Top markets by volume"
          },
          "401": {
            "description": "Missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v1/markets/condition/{id}": {
      "get": {
        "tags": [
          "Markets"
        ],
        "summary": "Market by condition ID",
        "description": "Looks up a market by its Polymarket condition ID. Returns full metadata, all token IDs with prices, and outcome prices.",
        "operationId": "get_market_by_condition",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Polymarket condition ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "API key",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Market data with all tokens"
          },
          "401": {
            "description": "Missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Market not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v1/markets/list": {
      "get": {
        "tags": [
          "Markets"
        ],
        "summary": "Filtered market listing",
        "description": "Returns a filtered, paginated list of markets. Supports sorting, category filtering, and volume thresholds.",
        "operationId": "get_markets_filtered",
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "description": "Page size (default 50, max 500)",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort field: volume (default), price, updated",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "description": "Filter by category (case-insensitive substring match)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_volume",
            "in": "query",
            "description": "Minimum 24h volume in USD",
            "required": false,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "active_only",
            "in": "query",
            "description": "Only markets with trades in the last hour (defaults to true)",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor (offset)",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "API key",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Filtered market list with pagination"
          },
          "401": {
            "description": "Missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v1/markets/slug/{slug}": {
      "get": {
        "tags": [
          "Markets"
        ],
        "summary": "Market by slug",
        "description": "Looks up a market by its URL slug. Returns full metadata, all token IDs with prices, and outcome prices.",
        "operationId": "get_market_by_slug",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "Market URL slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "API key",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Market data with all tokens"
          },
          "401": {
            "description": "Missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Market not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v1/markets/{id}": {
      "get": {
        "tags": [
          "Markets"
        ],
        "summary": "Market detail",
        "description": "Returns detailed market data for a specific token ID, including metadata, liquidity, and description.",
        "operationId": "get_market_detail",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Polymarket token ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "API key",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Market detail"
          },
          "401": {
            "description": "Missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Market not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v1/search": {
      "get": {
        "tags": [
          "Markets"
        ],
        "summary": "Search markets",
        "description": "Full-text search across all market questions. Sub-millisecond response times. Closed markets are excluded by default.",
        "operationId": "search_markets",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Search query string",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Max results (default 20, max 100)",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "include_inactive",
            "in": "query",
            "description": "Include closed/inactive markets in results (defaults to false)",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "API key",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results"
          },
          "400": {
            "description": "Missing query parameter",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v1/settlements/recent": {
      "get": {
        "tags": [
          "Settlements"
        ],
        "summary": "Recent settlements",
        "description": "Returns the most recent decoded settlements (pending + confirmed) from the mempool and confirmed blocks.",
        "operationId": "get_recent_settlements",
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "description": "Number of settlements to return (default 100, max 1000)",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "API key (alternative to x-api-key header)",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of settlements"
          },
          "401": {
            "description": "Missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v1/settlements/token/{id}": {
      "get": {
        "tags": [
          "Settlements"
        ],
        "summary": "Settlements by token",
        "description": "Returns settlements for a specific Polymarket token ID.",
        "operationId": "get_token_settlements",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Polymarket token ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Number of settlements (default 100, max 1000)",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "API key",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Settlements for token"
          },
          "401": {
            "description": "Missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v1/settlements/wallet/{addr}": {
      "get": {
        "tags": [
          "Settlements"
        ],
        "summary": "Settlements by wallet",
        "description": "Returns settlements involving a specific wallet address.",
        "operationId": "get_wallet_settlements",
        "parameters": [
          {
            "name": "addr",
            "in": "path",
            "description": "Wallet address (0x...)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Number of settlements (default 100, max 1000)",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "API key",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Settlements for wallet"
          },
          "401": {
            "description": "Missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v1/stats/{token_id}": {
      "get": {
        "tags": [
          "Pricing"
        ],
        "summary": "Market statistics",
        "description": "Returns market statistics including last price, 24h volume, and 24-hour OHLCV derived from hourly candles.",
        "operationId": "get_market_stats",
        "parameters": [
          {
            "name": "token_id",
            "in": "path",
            "description": "Polymarket token ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "API key",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Market statistics"
          },
          "401": {
            "description": "Missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Market not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v1/status": {
      "get": {
        "tags": [
          "System"
        ],
        "summary": "System status",
        "description": "Returns system status including node connectivity, uptime, stream lengths, and state engine summary.",
        "operationId": "get_status",
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "description": "API key",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "System status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v1/wallets/{addr}": {
      "get": {
        "tags": [
          "Wallets"
        ],
        "summary": "Wallet activity",
        "description": "Returns activity summary for a wallet address including trade count, volume, transfers, and deposits.",
        "operationId": "get_wallet_activity",
        "parameters": [
          {
            "name": "addr",
            "in": "path",
            "description": "Wallet address (0x...)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "API key",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Wallet activity summary"
          },
          "401": {
            "description": "Missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "No activity found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v1/wallets/{addr}/positions": {
      "get": {
        "tags": [
          "Wallets"
        ],
        "summary": "Wallet positions",
        "description": "Returns wallet positions from Polymarket, enriched with market metadata.",
        "operationId": "get_wallet_positions",
        "parameters": [
          {
            "name": "addr",
            "in": "path",
            "description": "Wallet address (0x...)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of positions (default 100, max 500)",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 500
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Pagination offset (default 0)",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "API key",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Wallet positions with market metadata"
          },
          "401": {
            "description": "Missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Data API upstream error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v1/wallets/{addr}/trades": {
      "get": {
        "tags": [
          "Wallets"
        ],
        "summary": "Wallet trades",
        "description": "Returns wallet trade history from Polymarket, enriched with market metadata.",
        "operationId": "get_wallet_trades",
        "parameters": [
          {
            "name": "addr",
            "in": "path",
            "description": "Wallet address (0x...)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of trades (default 100, max 500)",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 500
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Pagination offset (default 0)",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "API key",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Wallet trade history with market metadata"
          },
          "401": {
            "description": "Missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Data API upstream error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v2/status": {
      "get": {
        "tags": [
          "Historical"
        ],
        "summary": "Historical database status",
        "description": "Returns the current state of the historical trades database: total trade count, block range, date range, and number of Parquet files.",
        "operationId": "v2_status",
        "responses": {
          "200": {
            "description": "Database status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HistoricalStatus"
                }
              }
            }
          }
        }
      }
    },
    "/v2/trades": {
      "get": {
        "tags": [
          "Historical"
        ],
        "summary": "Query historical trades",
        "description": "Search and filter every Polymarket trade ever executed. Supports filtering by token, wallet, exchange, side, slug, time range, block range, and minimum size. Results are paginated and sorted by timestamp.",
        "operationId": "v2_trades",
        "parameters": [
          {
            "name": "token_id",
            "in": "query",
            "description": "Filter by conditional token ID (uint256 string). Returns only trades for this specific market outcome.",
            "schema": {
              "type": "string"
            },
            "example": "95574819681824277217892100655095768971756321387212973444675369470649177853957"
          },
          {
            "name": "wallet",
            "in": "query",
            "description": "Filter by wallet address (matches both maker and taker). Case-insensitive.",
            "schema": {
              "type": "string"
            },
            "example": "0x6c2ecdbf7b8b82bdd49f6bfbabdff8208d6b75ea"
          },
          {
            "name": "maker",
            "in": "query",
            "description": "Filter by maker address only.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "taker",
            "in": "query",
            "description": "Filter by taker address only.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exchange",
            "in": "query",
            "description": "Filter by exchange type.",
            "schema": {
              "type": "string",
              "enum": [
                "ctf",
                "negrisk"
              ]
            }
          },
          {
            "name": "side",
            "in": "query",
            "description": "Filter by trade side (from maker's perspective).",
            "schema": {
              "type": "string",
              "enum": [
                "BUY",
                "SELL"
              ]
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "Filter by market URL slug (e.g. `presidential-election-winner-2024`).",
            "schema": {
              "type": "string"
            },
            "example": "presidential-election-winner-2024"
          },
          {
            "name": "from_ts",
            "in": "query",
            "description": "Start of time range (Unix timestamp in seconds).",
            "schema": {
              "type": "integer"
            },
            "example": 1700000000
          },
          {
            "name": "to_ts",
            "in": "query",
            "description": "End of time range (Unix timestamp in seconds).",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "from_block",
            "in": "query",
            "description": "Start of block range (Polygon block number).",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "to_block",
            "in": "query",
            "description": "End of block range (Polygon block number).",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "min_size",
            "in": "query",
            "description": "Minimum trade size in tokens.",
            "schema": {
              "type": "number"
            },
            "example": 100
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return.",
            "schema": {
              "type": "integer",
              "default": 100,
              "minimum": 1,
              "maximum": 10000
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of results to skip (for pagination).",
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Sort order by timestamp.",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Matching trades",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TradesResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v2/candles/{token_id}": {
      "get": {
        "tags": [
          "Historical"
        ],
        "summary": "Historical OHLCV candles",
        "description": "Get OHLCV (open, high, low, close, volume) candles for a specific token from the full historical dataset. Supports resolutions from 1 minute to 1 week. Unlike v1 candles (which use recent Redis data), v2 candles cover all time since the market's first trade.",
        "operationId": "v2_candles",
        "parameters": [
          {
            "name": "token_id",
            "in": "path",
            "required": true,
            "description": "Conditional token ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resolution",
            "in": "query",
            "description": "Candle time resolution.",
            "schema": {
              "type": "string",
              "enum": [
                "1m",
                "5m",
                "15m",
                "1h",
                "4h",
                "1d",
                "1w"
              ],
              "default": "1h"
            }
          },
          {
            "name": "from_ts",
            "in": "query",
            "description": "Start of time range (Unix timestamp in seconds).",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "to_ts",
            "in": "query",
            "description": "End of time range (Unix timestamp in seconds).",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of candles to return.",
            "schema": {
              "type": "integer",
              "default": 500,
              "minimum": 1,
              "maximum": 5000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OHLCV candles",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CandlesResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v2/volume": {
      "get": {
        "tags": [
          "Historical"
        ],
        "summary": "Volume over time",
        "description": "Get trading volume aggregated over time intervals. Optionally filter by token or wallet. Returns volume, notional value, trade count, and unique token count per interval.",
        "operationId": "v2_volume",
        "parameters": [
          {
            "name": "token_id",
            "in": "query",
            "description": "Filter by conditional token ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wallet",
            "in": "query",
            "description": "Filter by wallet address (matches both maker and taker).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "description": "Aggregation interval.",
            "schema": {
              "type": "string",
              "enum": [
                "1h",
                "1d",
                "1w",
                "1M"
              ],
              "default": "1d"
            }
          },
          {
            "name": "from_ts",
            "in": "query",
            "description": "Start of time range (Unix timestamp in seconds).",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "to_ts",
            "in": "query",
            "description": "End of time range (Unix timestamp in seconds).",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of intervals to return.",
            "schema": {
              "type": "integer",
              "default": 365,
              "minimum": 1,
              "maximum": 5000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Volume data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VolumeResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v2/stats/wallet/{address}": {
      "get": {
        "tags": [
          "Historical"
        ],
        "summary": "Wallet statistics",
        "description": "Get aggregate trading statistics for a wallet address across all time. Includes total trades, buy/sell breakdown, volume, average price/size, number of unique markets, and first/last trade timestamps.",
        "operationId": "v2_wallet_stats",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "Wallet address (0x...).",
            "schema": {
              "type": "string"
            },
            "example": "0x6c2ecdbf7b8b82bdd49f6bfbabdff8208d6b75ea"
          }
        ],
        "responses": {
          "200": {
            "description": "Wallet statistics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WalletStats"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key"
          },
          "404": {
            "description": "Wallet not found"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v2/stats/token/{token_id}": {
      "get": {
        "tags": [
          "Historical"
        ],
        "summary": "Token/market statistics",
        "description": "Get aggregate trading statistics for a specific conditional token (market outcome). Includes total trades, volume, price range, unique wallets, and enriched market metadata (question, outcome, slug, category).",
        "operationId": "v2_token_stats",
        "parameters": [
          {
            "name": "token_id",
            "in": "path",
            "required": true,
            "description": "Conditional token ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Token statistics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenStats"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key"
          },
          "404": {
            "description": "Token not found"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "ApiKeyResponse": {
        "type": "object",
        "required": [
          "api_key",
          "name",
          "rate_limit_per_minute",
          "message"
        ],
        "properties": {
          "api_key": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "rate_limit_per_minute": {
            "type": "integer",
            "format": "int32",
            "minimum": 0
          }
        }
      },
      "BlockEvent": {
        "type": "object",
        "description": "Summary of a new confirmed block with Polymarket-relevant stats.",
        "required": [
          "block_number",
          "block_hash",
          "timestamp",
          "parent_hash",
          "tx_count",
          "polymarket_tx_count",
          "settlement_count",
          "trade_volume_usd"
        ],
        "properties": {
          "block_hash": {
            "type": "string"
          },
          "block_number": {
            "type": "integer",
            "format": "int64",
            "minimum": 0
          },
          "parent_hash": {
            "type": "string"
          },
          "polymarket_tx_count": {
            "type": "integer",
            "format": "int32",
            "minimum": 0
          },
          "settlement_count": {
            "type": "integer",
            "format": "int32",
            "minimum": 0
          },
          "timestamp": {
            "type": "integer",
            "format": "int64"
          },
          "trade_volume_usd": {
            "type": "number",
            "format": "double"
          },
          "tx_count": {
            "type": "integer",
            "format": "int32",
            "minimum": 0
          }
        }
      },
      "Candle": {
        "type": "object",
        "description": "A single OHLCV candle.",
        "required": [
          "open",
          "high",
          "low",
          "close",
          "volume",
          "timestamp"
        ],
        "properties": {
          "close": {
            "type": "number",
            "format": "double"
          },
          "high": {
            "type": "number",
            "format": "double"
          },
          "low": {
            "type": "number",
            "format": "double"
          },
          "open": {
            "type": "number",
            "format": "double"
          },
          "timestamp": {
            "type": "integer",
            "format": "int64",
            "description": "Candle bucket start timestamp (ms, floored to resolution)."
          },
          "volume": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "CandleResolution": {
        "type": "string",
        "description": "Supported candle resolutions.",
        "enum": [
          "1m",
          "5m",
          "15m",
          "1h",
          "4h",
          "1d"
        ]
      },
      "CreateKeyBody": {
        "type": "object",
        "properties": {
          "name": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "DecodedTrade": {
        "type": "object",
        "description": "Decoded trade information from a matchOrders transaction.",
        "required": [
          "maker",
          "signer",
          "taker",
          "token_id",
          "side",
          "price",
          "size",
          "maker_amount",
          "taker_amount"
        ],
        "properties": {
          "maker": {
            "type": "string"
          },
          "maker_amount": {
            "type": "string"
          },
          "price": {
            "type": "number",
            "format": "double"
          },
          "side": {
            "$ref": "#/components/schemas/TradeSide"
          },
          "signer": {
            "type": "string"
          },
          "size": {
            "type": "number",
            "format": "double"
          },
          "taker": {
            "type": "string"
          },
          "taker_amount": {
            "type": "string"
          },
          "token_id": {
            "type": "string"
          }
        }
      },
      "DepositDirection": {
        "type": "string",
        "enum": [
          "deposit",
          "withdrawal"
        ]
      },
      "DepositEvent": {
        "type": "object",
        "description": "USDC.e transfer to/from Polymarket contracts.",
        "required": [
          "tx_hash",
          "block_number",
          "log_index",
          "timestamp",
          "from",
          "to",
          "amount",
          "direction"
        ],
        "properties": {
          "amount": {
            "type": "number",
            "format": "double"
          },
          "block_number": {
            "type": "integer",
            "format": "int64",
            "minimum": 0
          },
          "direction": {
            "$ref": "#/components/schemas/DepositDirection"
          },
          "from": {
            "type": "string"
          },
          "log_index": {
            "type": "integer",
            "format": "int32",
            "minimum": 0
          },
          "timestamp": {
            "type": "integer",
            "format": "int64"
          },
          "to": {
            "type": "string"
          },
          "tx_hash": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "string"
          }
        }
      },
      "EventStatus": {
        "type": "string",
        "description": "Status of an event \u2014 pending (mempool) or confirmed (in a block).",
        "enum": [
          "pending",
          "confirmed"
        ]
      },
      "Exchange": {
        "type": "string",
        "description": "Which exchange contract emitted the event.",
        "enum": [
          "ctf_exchange",
          "neg_risk_ctf_exchange"
        ]
      },
      "JsonRpcError": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "JsonRpcRequest": {
        "type": "object",
        "description": "JSON-RPC request.",
        "required": [
          "method",
          "id"
        ],
        "properties": {
          "id": {},
          "jsonrpc": {
            "type": [
              "string",
              "null"
            ]
          },
          "method": {
            "type": "string"
          },
          "params": {}
        }
      },
      "JsonRpcResponse": {
        "type": "object",
        "description": "JSON-RPC response.",
        "required": [
          "jsonrpc",
          "id"
        ],
        "properties": {
          "error": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/JsonRpcError"
              }
            ]
          },
          "id": {},
          "jsonrpc": {
            "type": "string"
          },
          "result": {}
        }
      },
      "MarketState": {
        "type": "object",
        "description": "Live state for a single market (identified by token ID).",
        "required": [
          "last_price",
          "last_trade_at",
          "volume_24h",
          "trade_count_24h",
          "last_status"
        ],
        "properties": {
          "last_price": {
            "type": "number",
            "format": "double",
            "description": "Last traded price (0-1 for binary, varies for multi-outcome)."
          },
          "last_status": {
            "$ref": "#/components/schemas/EventStatus",
            "description": "Last known event status for this market."
          },
          "last_trade_at": {
            "type": "integer",
            "format": "int64",
            "description": "Timestamp of last trade (ms)."
          },
          "trade_count_24h": {
            "type": "integer",
            "format": "int64",
            "description": "Rolling 24h trade count.",
            "minimum": 0
          },
          "volume_24h": {
            "type": "number",
            "format": "double",
            "description": "Rolling 24h volume in USD."
          }
        }
      },
      "PositionChangeEvent": {
        "type": "object",
        "description": "Token transfer from the Conditional Tokens (ERC-1155) contract.",
        "required": [
          "tx_hash",
          "block_number",
          "log_index",
          "timestamp",
          "from",
          "to",
          "token_id",
          "amount",
          "transfer_type"
        ],
        "properties": {
          "amount": {
            "type": "number",
            "format": "double"
          },
          "block_number": {
            "type": "integer",
            "format": "int64",
            "minimum": 0
          },
          "from": {
            "type": "string"
          },
          "log_index": {
            "type": "integer",
            "format": "int32",
            "minimum": 0
          },
          "timestamp": {
            "type": "integer",
            "format": "int64"
          },
          "to": {
            "type": "string"
          },
          "token_id": {
            "type": "string"
          },
          "transfer_type": {
            "$ref": "#/components/schemas/TransferType"
          },
          "tx_hash": {
            "type": "string"
          }
        }
      },
      "SettlementEvent": {
        "type": "object",
        "description": "A decoded settlement event from matchOrders calldata.",
        "required": [
          "tx_hash",
          "status",
          "detected_at",
          "taker_wallet",
          "taker_token",
          "taker_side",
          "taker_price",
          "taker_size",
          "trades"
        ],
        "properties": {
          "block_number": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "minimum": 0
          },
          "detected_at": {
            "type": "integer",
            "format": "int64"
          },
          "timestamp": {
            "type": "integer",
            "format": "int64",
            "description": "Normalized timestamp (alias for detected_at). Present on all event types for consistent access."
          },
          "event_title": {
            "type": [
              "string",
              "null"
            ],
            "description": "Parent event title if this market is part of a group."
          },
          "market_slug": {
            "type": [
              "string",
              "null"
            ],
            "description": "URL slug for the market (e.g. \"bitcoin-100k-2026\")."
          },
          "market_title": {
            "type": [
              "string",
              "null"
            ],
            "description": "Human-readable market question (e.g. \"Will Bitcoin reach $100K?\")."
          },
          "outcome": {
            "type": [
              "string",
              "null"
            ],
            "description": "Outcome name for this token (e.g. \"Yes\", \"No\", \"Trump\")."
          },
          "status": {
            "$ref": "#/components/schemas/EventStatus"
          },
          "taker_price": {
            "type": "number",
            "format": "double"
          },
          "taker_side": {
            "type": "string"
          },
          "taker_size": {
            "type": "number",
            "format": "double"
          },
          "taker_token": {
            "type": "string"
          },
          "taker_wallet": {
            "type": "string"
          },
          "trades": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DecodedTrade"
            }
          },
          "tx_hash": {
            "type": "string"
          }
        }
      },
      "StateSummary": {
        "type": "object",
        "required": [
          "market_count",
          "wallet_count",
          "metadata_count",
          "events_buffered",
          "events_processed",
          "latest_block"
        ],
        "properties": {
          "events_buffered": {
            "type": "integer",
            "minimum": 0
          },
          "events_processed": {
            "type": "integer",
            "format": "int64",
            "minimum": 0
          },
          "latest_block": {
            "type": "integer",
            "format": "int64",
            "minimum": 0
          },
          "market_count": {
            "type": "integer",
            "minimum": 0
          },
          "metadata_count": {
            "type": "integer",
            "minimum": 0
          },
          "wallet_count": {
            "type": "integer",
            "minimum": 0
          }
        }
      },
      "StatusResponse": {
        "type": "object",
        "required": [
          "node_connected",
          "uptime_seconds",
          "stream_length",
          "events_stream_length",
          "pending_txs",
          "ws_subscribers",
          "redis_memory",
          "state"
        ],
        "properties": {
          "events_stream_length": {
            "type": "integer",
            "minimum": 0
          },
          "node_connected": {
            "type": "boolean"
          },
          "pending_txs": {
            "type": "integer",
            "minimum": 0
          },
          "redis_memory": {
            "type": "string"
          },
          "state": {
            "$ref": "#/components/schemas/StateSummary"
          },
          "stream_length": {
            "type": "integer",
            "minimum": 0
          },
          "uptime_seconds": {
            "type": "integer",
            "format": "int64",
            "minimum": 0
          },
          "ws_subscribers": {
            "type": "integer",
            "minimum": 0
          }
        }
      },
      "StatusUpdateEvent": {
        "type": "object",
        "description": "Notification that a previously-pending settlement is now confirmed.",
        "required": [
          "tx_hash",
          "token_id",
          "block_number",
          "confirmed_at",
          "pending_detected_at",
          "latency_ms"
        ],
        "properties": {
          "block_number": {
            "type": "integer",
            "format": "int64",
            "minimum": 0
          },
          "confirmed_at": {
            "type": "integer",
            "format": "int64"
          },
          "latency_ms": {
            "type": "integer",
            "format": "int64",
            "description": "Time from pending detection to block confirmation (ms)."
          },
          "market_title": {
            "type": [
              "string",
              "null"
            ]
          },
          "outcome": {
            "type": [
              "string",
              "null"
            ]
          },
          "pending_detected_at": {
            "type": "integer",
            "format": "int64"
          },
          "token_id": {
            "type": "string"
          },
          "tx_hash": {
            "type": "string"
          }
        }
      },
      "TradeEvent": {
        "type": "object",
        "description": "A confirmed trade from OrderFilled event log on CTF Exchange.",
        "required": [
          "tx_hash",
          "block_number",
          "log_index",
          "timestamp",
          "exchange",
          "maker",
          "taker",
          "token_id",
          "side",
          "price",
          "size",
          "maker_amount",
          "taker_amount"
        ],
        "properties": {
          "block_number": {
            "type": "integer",
            "format": "int64",
            "minimum": 0
          },
          "exchange": {
            "$ref": "#/components/schemas/Exchange"
          },
          "log_index": {
            "type": "integer",
            "format": "int32",
            "minimum": 0
          },
          "maker": {
            "type": "string"
          },
          "maker_amount": {
            "type": "string"
          },
          "market_slug": {
            "type": [
              "string",
              "null"
            ]
          },
          "market_title": {
            "type": [
              "string",
              "null"
            ]
          },
          "outcome": {
            "type": [
              "string",
              "null"
            ]
          },
          "price": {
            "type": "number",
            "format": "double"
          },
          "side": {
            "$ref": "#/components/schemas/TradeSide"
          },
          "size": {
            "type": "number",
            "format": "double"
          },
          "taker": {
            "type": "string"
          },
          "taker_amount": {
            "type": "string"
          },
          "timestamp": {
            "type": "integer",
            "format": "int64"
          },
          "token_id": {
            "type": "string"
          },
          "tx_hash": {
            "type": "string"
          }
        }
      },
      "TradeSide": {
        "type": "string",
        "enum": [
          "BUY",
          "SELL"
        ]
      },
      "TransferType": {
        "type": "string",
        "enum": [
          "single",
          "batch"
        ]
      },
      "WalletActivity": {
        "type": "object",
        "description": "Activity summary for a tracked wallet.",
        "required": [
          "last_active",
          "trade_count",
          "trade_volume_usd",
          "transfer_count",
          "deposit_count",
          "deposit_volume_usd"
        ],
        "properties": {
          "deposit_count": {
            "type": "integer",
            "format": "int64",
            "description": "Number of USDC deposits/withdrawals.",
            "minimum": 0
          },
          "deposit_volume_usd": {
            "type": "number",
            "format": "double",
            "description": "Total deposit volume in USD."
          },
          "last_active": {
            "type": "integer",
            "format": "int64",
            "description": "Last activity timestamp (ms)."
          },
          "trade_count": {
            "type": "integer",
            "format": "int64",
            "description": "Number of trades in tracking window.",
            "minimum": 0
          },
          "trade_volume_usd": {
            "type": "number",
            "format": "double",
            "description": "Total trade volume in USD."
          },
          "transfer_count": {
            "type": "integer",
            "format": "int64",
            "description": "Number of token transfers.",
            "minimum": 0
          }
        }
      },
      "HistoricalTrade": {
        "type": "object",
        "description": "A single historical trade (decoded OrderFilled event).",
        "properties": {
          "block_number": {
            "type": "integer",
            "description": "Polygon block number where the trade was confirmed."
          },
          "tx_hash": {
            "type": "string",
            "description": "Transaction hash."
          },
          "log_index": {
            "type": "integer",
            "description": "Log index within the transaction."
          },
          "timestamp": {
            "type": "integer",
            "description": "Block timestamp (Unix seconds)."
          },
          "exchange": {
            "type": "string",
            "enum": [
              "ctf",
              "negrisk"
            ],
            "description": "Exchange: `ctf` (standard) or `negrisk` (multi-outcome)."
          },
          "maker": {
            "type": "string",
            "description": "Maker wallet address."
          },
          "taker": {
            "type": "string",
            "description": "Taker wallet address."
          },
          "token_id": {
            "type": "string",
            "description": "Conditional token ID (uint256 as string)."
          },
          "side": {
            "type": "string",
            "enum": [
              "BUY",
              "SELL"
            ],
            "description": "Trade side from maker's perspective."
          },
          "price": {
            "type": "number",
            "description": "Fill price (0-1 range for binary markets)."
          },
          "size": {
            "type": "number",
            "description": "Fill size in tokens."
          },
          "maker_amount": {
            "type": "integer",
            "description": "Raw maker amount (6 decimals)."
          },
          "taker_amount": {
            "type": "integer",
            "description": "Raw taker amount (6 decimals)."
          },
          "fee": {
            "type": "integer",
            "description": "Protocol fee (6 decimals)."
          },
          "question": {
            "type": "string",
            "description": "Market question (enriched from Gamma API)."
          },
          "outcome": {
            "type": "string",
            "description": "Outcome name (e.g. \"Yes\", \"No\", \"Trump\")."
          },
          "slug": {
            "type": "string",
            "description": "Market URL slug."
          },
          "category": {
            "type": "string",
            "description": "Market category."
          }
        }
      },
      "TradesResponse": {
        "type": "object",
        "properties": {
          "trades": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/HistoricalTrade"
            }
          },
          "count": {
            "type": "integer",
            "description": "Number of trades returned."
          },
          "query_ms": {
            "type": "number",
            "description": "Query execution time in milliseconds."
          }
        }
      },
      "HistoricalCandle": {
        "type": "object",
        "description": "An OHLCV candle from historical trade data.",
        "properties": {
          "bucket": {
            "type": "integer",
            "description": "Candle start time (Unix timestamp in seconds)."
          },
          "open": {
            "type": "number",
            "description": "Opening price."
          },
          "high": {
            "type": "number",
            "description": "Highest price."
          },
          "low": {
            "type": "number",
            "description": "Lowest price."
          },
          "close": {
            "type": "number",
            "description": "Closing price."
          },
          "volume": {
            "type": "number",
            "description": "Total volume in tokens."
          },
          "trades": {
            "type": "integer",
            "description": "Number of trades in this candle."
          }
        }
      },
      "CandlesResponse": {
        "type": "object",
        "properties": {
          "candles": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/HistoricalCandle"
            }
          },
          "count": {
            "type": "integer"
          },
          "resolution": {
            "type": "string"
          },
          "query_ms": {
            "type": "number"
          }
        }
      },
      "VolumeInterval": {
        "type": "object",
        "description": "Volume data for a single time interval.",
        "properties": {
          "bucket": {
            "type": "integer",
            "description": "Interval start time (Unix timestamp in seconds)."
          },
          "volume": {
            "type": "number",
            "description": "Total volume in tokens."
          },
          "notional": {
            "type": "number",
            "description": "Total notional value (volume * price, in USDC)."
          },
          "trades": {
            "type": "integer",
            "description": "Number of trades."
          },
          "unique_tokens": {
            "type": "integer",
            "description": "Number of unique tokens traded."
          }
        }
      },
      "VolumeResponse": {
        "type": "object",
        "properties": {
          "volume": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VolumeInterval"
            }
          },
          "count": {
            "type": "integer"
          },
          "interval": {
            "type": "string"
          },
          "query_ms": {
            "type": "number"
          }
        }
      },
      "WalletStats": {
        "type": "object",
        "description": "Aggregate trading statistics for a wallet.",
        "properties": {
          "wallet": {
            "type": "string",
            "description": "Wallet address."
          },
          "total_trades": {
            "type": "integer",
            "description": "Total number of trades."
          },
          "buys": {
            "type": "integer",
            "description": "Number of buy trades."
          },
          "sells": {
            "type": "integer",
            "description": "Number of sell trades."
          },
          "total_volume": {
            "type": "number",
            "description": "Total volume in tokens."
          },
          "total_notional": {
            "type": "number",
            "description": "Total notional value in USDC."
          },
          "avg_size": {
            "type": "number",
            "description": "Average trade size."
          },
          "avg_price": {
            "type": "number",
            "description": "Average trade price."
          },
          "unique_markets": {
            "type": "integer",
            "description": "Number of unique markets traded."
          },
          "first_trade": {
            "type": "integer",
            "description": "Timestamp of first trade."
          },
          "last_trade": {
            "type": "integer",
            "description": "Timestamp of last trade."
          },
          "ctf_trades": {
            "type": "integer",
            "description": "Trades on CTF Exchange."
          },
          "negrisk_trades": {
            "type": "integer",
            "description": "Trades on NegRisk Exchange."
          },
          "query_ms": {
            "type": "number"
          }
        }
      },
      "TokenStats": {
        "type": "object",
        "description": "Aggregate trading statistics for a conditional token (market outcome).",
        "properties": {
          "token_id": {
            "type": "string",
            "description": "Conditional token ID."
          },
          "total_trades": {
            "type": "integer"
          },
          "total_volume": {
            "type": "number",
            "description": "Total volume in tokens."
          },
          "total_notional": {
            "type": "number",
            "description": "Total notional value in USDC."
          },
          "avg_price": {
            "type": "number"
          },
          "min_price": {
            "type": "number"
          },
          "max_price": {
            "type": "number"
          },
          "avg_size": {
            "type": "number"
          },
          "unique_wallets": {
            "type": "integer",
            "description": "Number of unique wallets."
          },
          "first_trade": {
            "type": "integer"
          },
          "last_trade": {
            "type": "integer"
          },
          "question": {
            "type": "string",
            "description": "Market question."
          },
          "outcome": {
            "type": "string",
            "description": "Outcome name."
          },
          "slug": {
            "type": "string",
            "description": "Market URL slug."
          },
          "category": {
            "type": "string",
            "description": "Market category."
          },
          "query_ms": {
            "type": "number"
          }
        }
      },
      "HistoricalStatus": {
        "type": "object",
        "description": "Status of the historical trades database.",
        "properties": {
          "total_trades": {
            "type": "integer",
            "description": "Total number of trades in the database."
          },
          "min_block": {
            "type": "integer",
            "description": "Earliest block number."
          },
          "max_block": {
            "type": "integer",
            "description": "Latest block number."
          },
          "min_timestamp": {
            "type": "integer",
            "description": "Earliest trade timestamp."
          },
          "max_timestamp": {
            "type": "integer",
            "description": "Latest trade timestamp."
          },
          "unique_tokens": {
            "type": "integer",
            "description": "Number of unique conditional tokens."
          },
          "unique_wallets": {
            "type": "integer",
            "description": "Number of unique wallet addresses."
          },
          "parquet_files": {
            "type": "integer",
            "description": "Number of Parquet data files."
          }
        }
      }
    },
    "securitySchemes": {
      "api_key": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      }
    }
  },
  "security": [
    {
      "api_key": []
    }
  ]
}