{
  "openapi": "3.1.0",
  "info": {
    "title": "PolyNode API",
    "description": "Real-time Polymarket data API with decoded mempool settlements, OHLCV candles, and full Polygon JSON-RPC proxy.",
    "contact": {
      "name": "PolyNode",
      "url": "https://polynode.dev"
    },
    "license": {
      "name": ""
    },
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://api.polynode.dev",
      "description": "Production"
    }
  ],
  "paths": {
    "/healthz": {
      "get": {
        "tags": [
          "System"
        ],
        "summary": "Health check",
        "description": "Liveness probe. Returns 200 OK if the server is running.",
        "operationId": "healthz",
        "responses": {
          "200": {
            "description": "Server is alive",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/readyz": {
      "get": {
        "tags": [
          "System"
        ],
        "summary": "Readiness check",
        "description": "Returns 200 if node is connected and Redis is reachable, 503 otherwise.",
        "operationId": "readyz",
        "responses": {
          "200": {
            "description": "System ready"
          },
          "503": {
            "description": "System not ready"
          }
        }
      }
    },
    "/rpc": {
      "post": {
        "tags": [
          "RPC"
        ],
        "summary": "JSON-RPC proxy",
        "description": "JSON-RPC 2.0 proxy supporting standard eth_*/net_* methods (forwarded to full Polygon node with caching) and custom pn_* methods (served from in-memory state). Supports single and batch requests (max 100 per batch).",
        "operationId": "rpc_handler",
        "requestBody": {
          "description": "JSON-RPC 2.0 request (single object or array for batch)",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonRpcRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "JSON-RPC response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonRpcResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/candles/{token_id}": {
      "get": {
        "tags": [
          "Pricing"
        ],
        "summary": "OHLCV candles",
        "description": "Returns OHLCV price candles for a token at the specified resolution.",
        "operationId": "get_candles",
        "parameters": [
          {
            "name": "token_id",
            "in": "path",
            "description": "Polymarket token ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resolution",
            "in": "query",
            "description": "Candle resolution: 1m, 5m, 15m, 1h, 4h, 1d (default: 1h)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of candles (default 100, max 1000)",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OHLCV candles"
          },
          "400": {
            "description": "Invalid resolution",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v1/keys": {
      "post": {
        "tags": [
          "System"
        ],
        "summary": "Generate API key",
        "description": "Generates a new API key. Rate limited to 1 per IP per day. The key is returned only once and cannot be retrieved again.",
        "operationId": "create_api_key",
        "requestBody": {
          "description": "Optional key name",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateKeyBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "API key created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyResponse"
                }
              }
            }
          },
          "429": {
            "description": "Key generation rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/markets": {
      "get": {
        "tags": [
          "Markets"
        ],
        "summary": "Top markets",
        "description": "Returns top markets sorted by 24-hour volume. Includes metadata enrichment when available.",
        "operationId": "get_markets",
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "description": "Number of markets (default 100, max 1000)",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Top markets by volume"
          },
          "401": {
            "description": "Missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v1/markets/condition/{id}": {
      "get": {
        "tags": [
          "Markets"
        ],
        "summary": "Market by condition ID",
        "description": "Looks up a market by its Polymarket condition ID. Returns full metadata, all token IDs with prices, and outcome prices.",
        "operationId": "get_market_by_condition",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Polymarket condition ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Market data with all tokens"
          },
          "401": {
            "description": "Missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Market not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v1/markets/list": {
      "get": {
        "tags": [
          "Markets"
        ],
        "summary": "Filtered market listing",
        "description": "Returns a filtered, paginated list of markets. Supports sorting, category filtering, and volume thresholds.",
        "operationId": "get_markets_filtered",
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "description": "Page size (default 50, max 500)",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort field: volume (default), price, updated",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "description": "Filter by category (case-insensitive substring match)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_volume",
            "in": "query",
            "description": "Minimum 24h volume in USD",
            "required": false,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "active_only",
            "in": "query",
            "description": "Only markets with trades in the last hour",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor (offset)",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Filtered market list with pagination"
          },
          "401": {
            "description": "Missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v1/markets/slug/{slug}": {
      "get": {
        "tags": [
          "Markets"
        ],
        "summary": "Market by slug",
        "description": "Looks up a market by its URL slug. Returns full metadata, all token IDs with prices, and outcome prices.",
        "operationId": "get_market_by_slug",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "Market URL slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Market data with all tokens"
          },
          "401": {
            "description": "Missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Market not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v1/markets/{id}": {
      "get": {
        "tags": [
          "Markets"
        ],
        "summary": "Market detail",
        "description": "Returns detailed market data for a specific token ID, including metadata, liquidity, and description.",
        "operationId": "get_market_detail",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Polymarket token ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Market detail"
          },
          "401": {
            "description": "Missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Market not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v1/search": {
      "get": {
        "tags": [
          "Markets"
        ],
        "summary": "Search markets",
        "description": "Full-text search across all market questions. Results ranked by volume and liquidity. Closed markets are excluded by default.",
        "operationId": "search_markets",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Search query string",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Max results (default 20, max 100)",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "include_inactive",
            "in": "query",
            "description": "Include closed/inactive markets in results (defaults to false)",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results"
          },
          "400": {
            "description": "Missing query parameter",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v1/stats/{token_id}": {
      "get": {
        "tags": [
          "Pricing"
        ],
        "summary": "Market statistics",
        "description": "Returns market statistics including last price, 24h volume, and 24-hour OHLCV derived from hourly candles.",
        "operationId": "get_market_stats",
        "parameters": [
          {
            "name": "token_id",
            "in": "path",
            "description": "Polymarket token ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Market statistics"
          },
          "401": {
            "description": "Missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Market not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v1/status": {
      "get": {
        "tags": [
          "System"
        ],
        "summary": "System status",
        "description": "Returns system status including node connectivity, uptime, stream lengths, and state engine summary.",
        "operationId": "get_status",
        "responses": {
          "200": {
            "description": "System status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v1/orderbook/{token_id}": {
      "get": {
        "tags": [
          "Orderbook"
        ],
        "summary": "Order book",
        "description": "Returns the full order book for a token, including all bid and ask price levels, market properties, and PolyNode metadata enrichment.\n\nThe response format is compatible with Polymarket's CLOB API. Data is served from PolyNode's live orderbook engine, which maintains real-time state via WebSocket deltas from Polymarket.",
        "operationId": "get_orderbook",
        "parameters": [
          {
            "name": "token_id",
            "in": "path",
            "description": "Token ID (all digits), condition ID (starts with 0x), or event slug. Token ID returns a single book; condition ID and slug return all outcomes.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Order book snapshot",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderBookResponse"
                },
                "example": {
                  "market": "0xd1796c09d0d6f876f8580086ae9808ec991784e3a74b25a1830a25de71a78c96",
                  "asset_id": "114694726451307654528948558967898493662917070661203465131156925998487819889437",
                  "timestamp": "1773901991806",
                  "hash": "b811dc1233a0f250a60018bc94f377955c9a513e",
                  "bids": [
                    {
                      "price": "0.01",
                      "size": "1130220"
                    },
                    {
                      "price": "0.02",
                      "size": "76910"
                    },
                    {
                      "price": "0.03",
                      "size": "94333.34"
                    },
                    {
                      "price": "0.04",
                      "size": "119706"
                    },
                    {
                      "price": "0.05",
                      "size": "16328"
                    },
                    {
                      "price": "0.46",
                      "size": "18"
                    }
                  ],
                  "asks": [
                    {
                      "price": "0.99",
                      "size": "24292"
                    },
                    {
                      "price": "0.98",
                      "size": "2048"
                    },
                    {
                      "price": "0.97",
                      "size": "13333.33"
                    },
                    {
                      "price": "0.96",
                      "size": "1024"
                    },
                    {
                      "price": "0.95",
                      "size": "14100"
                    },
                    {
                      "price": "0.47",
                      "size": "687"
                    }
                  ],
                  "min_order_size": "5",
                  "tick_size": "0.01",
                  "neg_risk": false,
                  "last_trade_price": "0.540",
                  "metadata": {
                    "question": "Netanyahu out by end of 2026?",
                    "slug": "netanyahu-out-before-2027-684-719-226",
                    "outcomes": [
                      "Yes",
                      "No"
                    ],
                    "condition_id": "0xd1796c09d0d6f876f8580086ae9808ec991784e3a74b25a1830a25de71a78c96",
                    "image": "https://polymarket-upload.s3.us-east-2.amazonaws.com/netanyahu-out-in-2025-Vc7bE4GtiJzM.jpg"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Token not found in orderbook",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": "No orderbook exists for the requested token id"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v1/midpoint/{token_id}": {
      "get": {
        "tags": [
          "Orderbook"
        ],
        "summary": "Midpoint price",
        "description": "Returns the midpoint price for a token, calculated as the average of the best bid and best ask.\n\nIf the book is one-sided (only bids or only asks), the missing side is treated as 0. Response is enriched with PolyNode market metadata.",
        "operationId": "get_midpoint",
        "parameters": [
          {
            "name": "token_id",
            "in": "path",
            "description": "Token ID (all digits), condition ID (starts with 0x), or event slug. Token ID returns a single book; condition ID and slug return all outcomes.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Midpoint price",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MidpointResponse"
                },
                "example": {
                  "mid": "0.465",
                  "token_id": "114694726451307654528948558967898493662917070661203465131156925998487819889437",
                  "question": "Netanyahu out by end of 2026?",
                  "slug": "netanyahu-out-before-2027-684-719-226"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Token not found in orderbook",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": "No orderbook exists for the requested token id"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v1/spread/{token_id}": {
      "get": {
        "tags": [
          "Orderbook"
        ],
        "summary": "Bid-ask spread",
        "description": "Returns the bid-ask spread for a token, calculated as the difference between the best ask and best bid price.\n\nFor one-sided books, the spread equals the best price on the existing side. Response is enriched with PolyNode market metadata.",
        "operationId": "get_spread",
        "parameters": [
          {
            "name": "token_id",
            "in": "path",
            "description": "Token ID (all digits), condition ID (starts with 0x), or event slug. Token ID returns a single book; condition ID and slug return all outcomes.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Bid-ask spread",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SpreadResponse"
                },
                "example": {
                  "spread": "0.01",
                  "token_id": "114694726451307654528948558967898493662917070661203465131156925998487819889437",
                  "question": "Netanyahu out by end of 2026?",
                  "slug": "netanyahu-out-before-2027-684-719-226"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Token not found in orderbook",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": "No orderbook exists for the requested token id"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v1/wallets/{addr}/positions": {
      "get": {
        "tags": [
          "Wallets"
        ],
        "summary": "Wallet positions & P&L",
        "description": "Returns all current positions for a wallet with full P&L breakdown. Each position includes unrealized cash P&L, realized P&L, percent P&L, average entry price, current value, and initial value.\n\nData is sourced from Polymarket and enriched with PolyNode market metadata (title, slug, image, outcome names).\n\nUse `sortBy` to rank positions by P&L. Supports pagination with `limit` and `offset`.",
        "operationId": "get_wallet_positions",
        "parameters": [
          {
            "name": "addr",
            "in": "path",
            "description": "Wallet address (0x-prefixed, case-insensitive)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum positions to return (default 100, max 500)",
            "schema": {
              "type": "integer",
              "default": 100,
              "minimum": 1,
              "maximum": 500
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Pagination offset (default 0)",
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Sort positions by field",
            "schema": {
              "type": "string",
              "enum": [
                "TOKENS",
                "CASHPNL",
                "PERCENTPNL",
                "CURRENT",
                "INITIAL",
                "TITLE",
                "RESOLVING",
                "PRICE",
                "AVGPRICE"
              ],
              "default": "TOKENS"
            }
          },
          {
            "name": "sortDirection",
            "in": "query",
            "description": "Sort direction",
            "schema": {
              "type": "string",
              "enum": [
                "ASC",
                "DESC"
              ],
              "default": "DESC"
            }
          },
          {
            "name": "sizeThreshold",
            "in": "query",
            "description": "Minimum position size to include (default 0 = all positions)",
            "schema": {
              "type": "number",
              "default": 0,
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Wallet positions with P&L",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WalletPositionsResponse"
                },
                "example": {
                  "wallet": "0xc2e7800b5af46e6093872b177b7a5e7f0563be51",
                  "count": 2,
                  "positions": [
                    {
                      "asset": "109021283308187724445216748902158026838799197184254281870091204386586933195142",
                      "conditionId": "0xca0136d7acc14db3835e40b5d13bc2723ffc7a34a950bef39a2f5a18b07399c3",
                      "title": "Trail Blazers vs. Timberwolves",
                      "slug": "nba-por-min-2026-03-20",
                      "outcome": "Trail Blazers",
                      "outcomeIndex": 0,
                      "size": 1390067.28,
                      "avgPrice": 0.502474,
                      "curPrice": 1.0,
                      "initialValue": 698472.66,
                      "currentValue": 1390067.28,
                      "cashPnl": 691594.61,
                      "realizedPnl": 0,
                      "percentPnl": 99.02,
                      "percentRealizedPnl": 99.02,
                      "totalBought": 1390067.28,
                      "redeemable": true,
                      "redeemed": false,
                      "unredeemed_balance": 1390067.28,
                      "unredeemed_usd": 1390067.28,
                      "negativeRisk": false,
                      "endDate": "2026-03-21"
                    },
                    {
                      "asset": "3039641309958397001906153616677074061284510636203465131156925998487819889437",
                      "conditionId": "0x895e01dbf3e6a33cd9a44ca0f8cdb5df1bd2b0b6ebed5300d28f8da7145145e4",
                      "title": "Will Donald Trump win the 2028 Republican presidential nomination?",
                      "slug": "will-donald-trump-win-the-2028-republican-presidential-nomination",
                      "outcome": "Yes",
                      "outcomeIndex": 0,
                      "size": 248651.26,
                      "avgPrice": 0.040276,
                      "curPrice": 0.0165,
                      "initialValue": 10014.68,
                      "currentValue": 4102.75,
                      "cashPnl": -5911.93,
                      "realizedPnl": 0,
                      "percentPnl": -59.03,
                      "percentRealizedPnl": -59.03,
                      "totalBought": 248651.26,
                      "redeemable": false,
                      "negativeRisk": true,
                      "endDate": "2028-11-07"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Upstream data source unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v1/wallets/positions": {
      "get": {
        "tags": [
          "Wallets"
        ],
        "summary": "Multi-wallet positions & P&L",
        "description": "Returns positions with P&L for multiple wallets in a single request. Up to 20 wallets per request. All lookups run in parallel.\n\nSubject to your plan's standard rate limit. Each wallet counts as one request toward the limit.",
        "operationId": "get_multi_wallet_positions",
        "parameters": [
          {
            "name": "wallets",
            "in": "query",
            "description": "Comma-separated wallet addresses (max 20)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum positions per wallet (default 100, max 500)",
            "schema": {
              "type": "integer",
              "default": 100,
              "minimum": 1,
              "maximum": 500
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Pagination offset per wallet (default 0)",
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Positions grouped by wallet",
            "content": {
              "application/json": {
                "example": {
                  "wallet_count": 2,
                  "wallets": [
                    {
                      "wallet": "0xc2e7800b5af46e6093872b177b7a5e7f0563be51",
                      "count": 3,
                      "positions": [
                        {
                          "asset": "1090212833...",
                          "title": "Trail Blazers vs. Timberwolves",
                          "outcome": "Trail Blazers",
                          "size": 1390067.28,
                          "avgPrice": 0.502,
                          "cashPnl": 691594.61,
                          "currentValue": 1390067.28
                        }
                      ]
                    },
                    {
                      "wallet": "0xa5ef39c3d3e10d0b270233af41cac69796b12966",
                      "count": 2,
                      "positions": []
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Missing wallets parameter or exceeds 20 wallet limit",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Data endpoint rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v1/wallets/{addr}/trades": {
      "get": {
        "tags": [
          "Wallets"
        ],
        "summary": "Wallet trade history",
        "description": "Returns recent trades for a wallet, enriched with PolyNode market metadata. Each trade includes side (BUY/SELL), price, size, outcome, and transaction hash.\n\nSupports pagination with `limit` and `offset`.",
        "operationId": "get_wallet_trades",
        "parameters": [
          {
            "name": "addr",
            "in": "path",
            "description": "Wallet address (0x-prefixed, case-insensitive)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum trades to return (default 100, max 500)",
            "schema": {
              "type": "integer",
              "default": 100,
              "minimum": 1,
              "maximum": 500
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Pagination offset (default 0)",
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Wallet trade history",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WalletTradesResponse"
                },
                "example": {
                  "wallet": "0xc2e7800b5af46e6093872b177b7a5e7f0563be51",
                  "count": 2,
                  "trades": [
                    {
                      "asset": "13415003150793384080443080790288579981533217646600261055571395734776572036737",
                      "conditionId": "0x758ed7ee3495a4c23172fa8093dc86b8e62576e050f5a401a6108ebd4aedf681",
                      "title": "Raptors vs. Nuggets",
                      "slug": "nba-tor-den-2026-03-20",
                      "outcome": "Raptors",
                      "outcomeIndex": 0,
                      "side": "BUY",
                      "price": 0.3,
                      "size": 102914.64,
                      "timestamp": 1774052897,
                      "transactionHash": "0x327ebe167162830cedb687e33c7f6e6400911b36040cf94c44f31728bfc4c86c",
                      "name": "beachboy4"
                    },
                    {
                      "asset": "81704442833845672927495583718496337218247767238607647008236901764430036532097",
                      "conditionId": "0xd29e0bc31db95202735063064c5d9c9411ddd5da96564a591dcaa67e899d6948",
                      "title": "Spread: Nuggets (-7.5)",
                      "slug": "nba-tor-den-2026-03-20-spread-home-7pt5",
                      "outcome": "Raptors",
                      "outcomeIndex": 1,
                      "side": "BUY",
                      "price": 0.55,
                      "size": 227288.33,
                      "timestamp": 1774052841,
                      "transactionHash": "0x3844127c4af7dc94f90c156697e3dafc3bc4342acc25b4dd88245e6c2e1cc0d0",
                      "name": "beachboy4"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Upstream data source unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v1/markets/{id}/positions": {
      "get": {
        "tags": [
          "Wallets"
        ],
        "summary": "Market positions & P&L",
        "description": "Returns all holder positions for a market with per-holder P&L breakdown. Results are grouped by outcome token, with each holder's cash P&L, realized P&L, total P&L, average entry price, and current value.\n\nAccepts a condition ID (0x-prefixed) or market slug. Supports sorting by P&L and filtering by position status (open/closed/all).\n\nWhen `includeTrades=true`, this endpoint is rate limited to **60 requests per minute** per key (separate from your standard rate limit).",
        "operationId": "get_market_positions",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Condition ID (0x-prefixed) or market slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum holders per outcome token (default 50, max 500)",
            "schema": {
              "type": "integer",
              "default": 50,
              "minimum": 1,
              "maximum": 500
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Pagination offset (default 0)",
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Sort holders by field",
            "schema": {
              "type": "string",
              "enum": [
                "TOKENS",
                "CASH_PNL",
                "REALIZED_PNL",
                "TOTAL_PNL"
              ],
              "default": "TOTAL_PNL"
            }
          },
          {
            "name": "sortDirection",
            "in": "query",
            "description": "Sort direction",
            "schema": {
              "type": "string",
              "enum": [
                "ASC",
                "DESC"
              ],
              "default": "DESC"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by position status",
            "schema": {
              "type": "string",
              "enum": [
                "OPEN",
                "CLOSED",
                "ALL"
              ],
              "default": "ALL"
            }
          },
          {
            "name": "includeTrades",
            "in": "query",
            "description": "Enrich each position with `firstTradeAt` and `lastTradeAt` timestamps. Adds one upstream call per holder, so responses will be slower. Default false. **Rate limited to 60 requests per minute per key** (separate from your standard rate limit).",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "user",
            "in": "query",
            "description": "Filter to specific wallet address(es). Accepts a single address or multiple comma-separated addresses (max 20). Returns only those wallets' positions in this market.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Market positions grouped by outcome token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarketPositionsResponse"
                },
                "example": {
                  "condition_id": "0x895e01dbf3e6a33cd9a44ca0f8cdb5df1bd2b0b6ebed5300d28f8da7145145e4",
                  "market_title": "Will Donald Trump win the 2028 Republican presidential nomination?",
                  "slug": "will-donald-trump-win-the-2028-republican-presidential-nomination",
                  "outcome_names": [
                    "Yes",
                    "No"
                  ],
                  "outcomes": [
                    {
                      "token": "3039641309958397001906153616677074061284510636203465131156925998487819889437",
                      "positions": [
                        {
                          "proxyWallet": "0xa5ef39c3d3e10d0b270233af41cac69796b12966",
                          "name": "",
                          "outcome": "No",
                          "outcomeIndex": 1,
                          "size": 1735573.72,
                          "avgPrice": 0.0,
                          "currPrice": 0.9835,
                          "currentValue": 1706936.75,
                          "cashPnl": 1706936.75,
                          "realizedPnl": 0,
                          "totalPnl": 1706936.75
                        },
                        {
                          "proxyWallet": "0xc2e7800b5af46e6093872b177b7a5e7f0563be51",
                          "name": "beachboy4",
                          "outcome": "Yes",
                          "outcomeIndex": 0,
                          "size": 248651.26,
                          "avgPrice": 0.040276,
                          "currPrice": 0.0165,
                          "currentValue": 4102.75,
                          "cashPnl": -5911.93,
                          "realizedPnl": 0,
                          "totalPnl": -5911.93,
                          "firstTradeAt": 1753016057,
                          "lastTradeAt": 1765034355
                        }
                      ]
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Market not found for the given slug",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Upstream data source unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v1/markets/{id}/trades": {
      "get": {
        "tags": [
          "Wallets"
        ],
        "summary": "Market trade history",
        "description": "Returns trade history for a market, optionally filtered by trader wallet(s) and/or side (BUY/SELL). Enriched with PolyNode market metadata.\n\nAccepts a condition ID (0x-prefixed) or market slug. The `user` parameter accepts comma-separated wallet addresses (max 20) to fetch trades for multiple traders in one request.",
        "operationId": "get_market_trades",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Condition ID (0x-prefixed) or market slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user",
            "in": "query",
            "description": "Filter by wallet address(es). Comma-separated for multiple (max 20).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "side",
            "in": "query",
            "description": "Filter by trade direction",
            "schema": {
              "type": "string",
              "enum": [
                "BUY",
                "SELL"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum trades to return (default 100, max 500)",
            "schema": {
              "type": "integer",
              "default": 100,
              "minimum": 1,
              "maximum": 500
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Pagination offset (default 0)",
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Market trade history",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarketTradesResponse"
                },
                "example": {
                  "condition_id": "0xca0136d7acc14db3835e40b5d13bc2723ffc7a34a950bef39a2f5a18b07399c3",
                  "count": 2,
                  "trades": [
                    {
                      "proxyWallet": "0xc2e7800b5af46e6093872b177b7a5e7f0563be51",
                      "name": "beachboy4",
                      "side": "BUY",
                      "outcome": "Trail Blazers",
                      "outcomeIndex": 0,
                      "size": 313726.28,
                      "price": 0.51,
                      "timestamp": 1774050427,
                      "title": "Trail Blazers vs. Timberwolves",
                      "slug": "nba-por-min-2026-03-20",
                      "transactionHash": "0x55135cf4e359b6b53bb99a3bae54d102572268ae4cb816fcf6a648d0116d7f56"
                    },
                    {
                      "proxyWallet": "0xc2e7800b5af46e6093872b177b7a5e7f0563be51",
                      "name": "beachboy4",
                      "side": "BUY",
                      "outcome": "Trail Blazers",
                      "outcomeIndex": 0,
                      "size": 16827.77,
                      "price": 0.5,
                      "timestamp": 1774049705,
                      "title": "Trail Blazers vs. Timberwolves",
                      "slug": "nba-por-min-2026-03-20",
                      "transactionHash": "0xfddccf969b857353f047b2540a25175a77fc7d87c4f426cdf3172788cad97a85"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Market not found for the given slug",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Upstream data source unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v1/resolve/{query}": {
      "get": {
        "tags": [
          "Wallets"
        ],
        "summary": "Resolve wallet",
        "description": "Instantly resolve any Polymarket wallet address, EOA, or username. Returns the full identity triple: proxy wallet (safe), EOA, and username.",
        "operationId": "resolve_wallet",
        "parameters": [
          {
            "name": "query",
            "in": "path",
            "description": "Safe address, EOA address, or Polymarket username (case-insensitive)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resolved wallet identity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "safe": {
                      "type": "string",
                      "description": "Polymarket proxy wallet address (Gnosis Safe)"
                    },
                    "eoa": {
                      "type": "string",
                      "description": "Externally owned account (signer)"
                    },
                    "username": {
                      "type": "string",
                      "nullable": true,
                      "description": "Polymarket display name, or null"
                    }
                  }
                },
                "example": {
                  "safe": "0xfa85349327a63aa563029737f0492a79dca8f95d",
                  "eoa": "0xc2783891b1d2287345e30f75e0f1ecd189a967d0",
                  "username": "Letsgetit6969"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v1/leaderboard": {
      "get": {
        "tags": [
          "Enriched Data"
        ],
        "summary": "Leaderboard",
        "description": "Top 20 Polymarket traders ranked by profit or volume for a given time period.",
        "operationId": "leaderboard",
        "parameters": [
          {
            "name": "period",
            "in": "query",
            "description": "Time period",
            "schema": {
              "type": "string",
              "enum": [
                "daily",
                "weekly",
                "monthly",
                "all"
              ],
              "default": "monthly"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Ranking metric",
            "schema": {
              "type": "string",
              "enum": [
                "profit",
                "volume"
              ],
              "default": "profit"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Leaderboard results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "traders": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "period": {
                      "type": "string"
                    },
                    "sort": {
                      "type": "string"
                    },
                    "count": {
                      "type": "integer"
                    }
                  }
                },
                "example": {
                  "traders": [
                    {
                      "rank": 1,
                      "wallet": "0x02227b8f5a9636e895607edd3185ed6ee5598ff7",
                      "name": "HorizonSplendidView",
                      "pnl": 4016107.83,
                      "volume": 12394130.31,
                      "profileImage": "https://polymarket-upload.s3.us-east-2.amazonaws.com/fallback-image.png"
                    },
                    {
                      "rank": 2,
                      "wallet": "0xc2e7800b5af46e6093872b177b7a5e7f0563be51",
                      "name": "beachboy4",
                      "pnl": 3762305.48,
                      "volume": 14130713.15,
                      "profileImage": "https://polymarket-upload.s3.us-east-2.amazonaws.com/fallback-image.png"
                    }
                  ],
                  "period": "monthly",
                  "sort": "profit",
                  "count": 20
                }
              }
            }
          },
          "401": {
            "description": "Missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v1/trader/{wallet}": {
      "get": {
        "tags": [
          "Enriched Data"
        ],
        "summary": "Trader profile",
        "description": "Full profile for any Polymarket trader: PnL, volume, trade count, largest win, portfolio value, and account metadata.",
        "operationId": "trader_profile",
        "parameters": [
          {
            "name": "wallet",
            "in": "path",
            "description": "Polymarket wallet address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Trader profile",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "wallet": "0xc2e7800b5af46e6093872b177b7a5e7f0563be51",
                  "eoaWallet": "0xb49e5499562a4bc3345c1a1f2db13a5360dfddac",
                  "name": "beachboy4",
                  "pseudonym": "Threadbare-Skunk",
                  "profileSlug": "@beachboy4",
                  "joinDate": "2025-11-30T17:26:07.997000Z",
                  "trades": 149,
                  "marketsTraded": 149,
                  "largestWin": 3487512.61,
                  "views": 113521,
                  "totalVolume": 199137316.6,
                  "totalPnl": 4142102.07,
                  "realizedPnl": 0,
                  "unrealizedPnl": 0,
                  "positionValue": 4418.03,
                  "profileImage": null
                }
              }
            }
          },
          "401": {
            "description": "Missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v1/trader/{wallet}/pnl": {
      "get": {
        "tags": [
          "Enriched Data"
        ],
        "summary": "Trader PnL series",
        "description": "Cumulative PnL time series for a trader at multiple resolutions.",
        "operationId": "trader_pnl",
        "parameters": [
          {
            "name": "wallet",
            "in": "path",
            "description": "Ethereum wallet address",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "period",
            "in": "query",
            "description": "Resolution",
            "schema": {
              "type": "string",
              "enum": [
                "1D",
                "1W",
                "1M",
                "ALL"
              ],
              "default": "1M"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "PnL time series",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "wallet": "0xc2e7800b5af46e6093872b177b7a5e7f0563be51",
                  "period": "1W",
                  "series": [
                    {
                      "timestamp": 1774029600,
                      "pnl": 3902767.2
                    },
                    {
                      "timestamp": 1774040400,
                      "pnl": 3902767.2
                    },
                    {
                      "timestamp": 1774051200,
                      "pnl": 3892129.0
                    }
                  ],
                  "count": 57
                }
              }
            }
          },
          "401": {
            "description": "Missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v1/trending": {
      "get": {
        "tags": [
          "Enriched Data"
        ],
        "summary": "Trending",
        "description": "Curated snapshot of what's trending on Polymarket: carousel highlights, breaking news, hot topics, featured events, and biggest movers.",
        "operationId": "trending",
        "responses": {
          "200": {
            "description": "Trending data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "carousel": [
                    {
                      "id": "158299",
                      "slug": "us-forces-enter-iran-by",
                      "title": "US forces enter Iran by..?",
                      "image": "https://polymarket-upload.s3.us-east-2.amazonaws.com/us-forces-enter-iran-by-L_p5JkCpvr0I.jpg",
                      "volume": 37065043.01,
                      "volume24hr": null,
                      "liquidity": null,
                      "active": true,
                      "closed": false
                    }
                  ],
                  "breaking": [],
                  "hotTopics": [
                    {
                      "title": "Gen",
                      "volume": 24471729.1,
                      "url": "/search?_q=gen"
                    }
                  ],
                  "featured": [],
                  "movers": []
                }
              }
            }
          },
          "401": {
            "description": "Missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v1/activity": {
      "get": {
        "tags": [
          "Enriched Data"
        ],
        "summary": "Activity feed",
        "description": "50 most recent trades across all Polymarket markets with full trade metadata, wallet addresses, and transaction hashes.",
        "operationId": "activity_feed",
        "responses": {
          "200": {
            "description": "Recent trades",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "trades": [
                    {
                      "wallet": "0xd6c2222ae00d99e97acd234f49ef164ab23ba53d",
                      "side": "SELL",
                      "tokenId": "57216272564529548464686463691236811991956032201293786790337952253964682584376",
                      "conditionId": "0xd595eb9b81885ff018738300c79047e3ec89e87294424f57a29a7fa9162bf116",
                      "size": 5,
                      "price": 0.908,
                      "timestamp": 1774625243,
                      "title": "Will Trump acquire Greenland before 2027?",
                      "slug": "will-trump-acquire-greenland-before-2027",
                      "eventSlug": "will-trump-acquire-greenland-before-2027",
                      "outcome": "No",
                      "name": "Impressionable-Set",
                      "txHash": "0x3d586d03b047a29648b1726123b89b1af6c04ba00de19b1d90921e38407542c2"
                    }
                  ],
                  "count": 50
                }
              }
            }
          },
          "401": {
            "description": "Missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v1/event/{slug}": {
      "get": {
        "tags": [
          "Enriched Data"
        ],
        "summary": "Event detail",
        "description": "Full event data with all sub-markets, current prices, volumes, liquidity, and token IDs.",
        "operationId": "event_detail",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "Event slug from Polymarket URL (e.g. how-many-fed-rate-cuts-in-2026)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Event data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "id": "51456",
                  "slug": "how-many-fed-rate-cuts-in-2026",
                  "title": "How many Fed rate cuts in 2026?",
                  "image": "https://polymarket-upload.s3.us-east-2.amazonaws.com/how-many-fed-rate-cuts-in-2025-9qstZkSL1dn0.jpg",
                  "active": true,
                  "closed": false,
                  "volume": 14019050.01,
                  "volume24hr": 443602.93,
                  "liquidity": 1140531.69,
                  "openInterest": 786628.52,
                  "startDate": "2025-09-29T22:29:04.30848Z",
                  "endDate": "2026-12-31T00:00:00Z",
                  "markets": [
                    {
                      "question": "Will no Fed rate cuts happen in 2026?",
                      "conditionId": "0xd4e77ba6f29fc093509d24f508631abd445ecf506bbdc9c4c80e60256a318527",
                      "outcomes": [
                        "Yes",
                        "No"
                      ],
                      "outcomePrices": [
                        "0.3985",
                        "0.6015"
                      ],
                      "volume": 2568092.27,
                      "liquidity": 55996.28,
                      "active": true,
                      "closed": false,
                      "groupItemTitle": "0 (0 bps)",
                      "tokenId": "12403602920039269077597917340921667997547115084613238528792639013246536343316"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Event not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v1/events/search": {
      "get": {
        "tags": [
          "Enriched Data"
        ],
        "summary": "Event search",
        "description": "Search Polymarket events by text query. Returns events with all sub-markets, token IDs, and current prices.",
        "operationId": "event_search",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Search query (e.g. recession, Fed rate, Trump tariff)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum events to return (default 10, max 20)",
            "schema": {
              "type": "integer",
              "default": 10,
              "maximum": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "query": "Fed rate",
                  "events": [
                    {
                      "id": "51456",
                      "slug": "how-many-fed-rate-cuts-in-2026",
                      "title": "How many Fed rate cuts in 2026?",
                      "image": "https://polymarket-upload.s3.us-east-2.amazonaws.com/how-many-fed-rate-cuts-in-2025-9qstZkSL1dn0.jpg",
                      "active": true,
                      "markets": [
                        {
                          "question": "Will no Fed rate cuts happen in 2026?",
                          "groupItemTitle": "0 (0 bps)",
                          "conditionId": "0xd4e77ba6f29fc093509d24f508631abd445ecf506bbdc9c4c80e60256a318527",
                          "tokenId": "12403602920039269077597917340921667997547115084613238528792639013246536343316",
                          "price": 0.3985,
                          "active": true
                        }
                      ]
                    }
                  ],
                  "count": 1
                }
              }
            }
          },
          "400": {
            "description": "Missing query parameter",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v1/movers": {
      "get": {
        "tags": [
          "Enriched Data"
        ],
        "summary": "Biggest movers",
        "description": "Markets with the largest 24-hour price changes.",
        "operationId": "movers",
        "responses": {
          "200": {
            "description": "Biggest movers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "markets": [
                    {
                      "id": "1437745",
                      "slug": "will-elon-musks-net-worth-be-between-660b-and-670b-on-march-31",
                      "question": "Will Elon Musk's net worth be between $660b and $670b on March 31?",
                      "image": "https://polymarket-upload.s3.us-east-2.amazonaws.com/elon-musk-net-worth-on-feb-28-6S8eRvSIplAk.png",
                      "outcomePrices": [
                        "0.09",
                        "0.91"
                      ],
                      "oneDayPriceChange": -0.945
                    }
                  ],
                  "count": 20
                }
              }
            }
          },
          "401": {
            "description": "Missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v2/markets/{category}": {
      "get": {
        "tags": [
          "Enriched Data"
        ],
        "summary": "Markets by category",
        "description": "Browse markets by category with event counts and category-specific metadata.",
        "operationId": "markets_by_category",
        "parameters": [
          {
            "name": "category",
            "in": "path",
            "description": "Category slug: crypto, politics, sports, finance, economy, tech, pop-culture, geopolitics, weather, iran, elections, mentions",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Category markets",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "category": "crypto",
                  "counts": {
                    "all": "243",
                    "fiveM": "7",
                    "fifteenM": "7",
                    "pre-market": "105",
                    "etf": "2",
                    "hourly": "8",
                    "daily": "11",
                    "weekly": "62",
                    "bitcoin": "33",
                    "ethereum": "21",
                    "solana": "12"
                  },
                  "events": [
                    {
                      "id": "310513",
                      "slug": "btc-updown-5m-1774625400",
                      "title": "BTC 5 Minute Up or Down",
                      "image": "https://polymarket-upload.s3.us-east-2.amazonaws.com/BTC+fullsize.png",
                      "volume": 471.33,
                      "volume24hr": 471.33
                    }
                  ],
                  "totalResults": 243
                }
              }
            }
          },
          "404": {
            "description": "Category not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v1/crypto/markets": {
      "get": {
        "tags": [
          "Crypto"
        ],
        "summary": "Crypto markets",
        "description": "All crypto prediction markets with liquidity, volume, and open interest.",
        "operationId": "crypto_markets",
        "security": [
          {
            "api_key": []
          }
        ],
        "responses": {
          "200": {
            "description": "Crypto prediction markets",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/crypto/candles": {
      "get": {
        "tags": [
          "Crypto"
        ],
        "summary": "Oracle candles",
        "description": "5-minute OHLC candles from Chainlink oracle. Returns ~2.5 hours of history.",
        "operationId": "crypto_candles",
        "security": [
          {
            "api_key": []
          }
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "BTC",
                "ETH",
                "SOL",
                "BNB",
                "XRP",
                "DOGE",
                "HYPE"
              ]
            },
            "description": "Asset symbol"
          }
        ],
        "responses": {
          "200": {
            "description": "OHLC candle data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/crypto/price": {
      "get": {
        "tags": [
          "Crypto"
        ],
        "summary": "Price to beat",
        "description": "Open and close price for a specific crypto market window. The open price is the oracle price at market open; the close price updates in real time until the window completes.",
        "operationId": "crypto_price",
        "security": [
          {
            "api_key": []
          }
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "BTC",
                "ETH",
                "SOL",
                "BNB",
                "XRP",
                "DOGE",
                "HYPE"
              ]
            },
            "description": "Asset symbol"
          },
          {
            "name": "window",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unix epoch timestamp of the market window start"
          },
          {
            "name": "interval",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "5m",
                "15m",
                "1h",
                "4h"
              ]
            },
            "description": "Market interval variant"
          }
        ],
        "responses": {
          "200": {
            "description": "Price data for the market window",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/crypto/active": {
      "get": {
        "tags": [
          "Crypto"
        ],
        "summary": "Active 5-minute markets",
        "description": "Currently active 5-minute up-or-down markets for all 7 supported coins. Returns live market data with token IDs, outcomes, and current odds. Markets rotate every 5 minutes.",
        "operationId": "crypto_active",
        "security": [
          {
            "api_key": []
          }
        ],
        "responses": {
          "200": {
            "description": "Active short-form crypto markets",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/crypto/series": {
      "get": {
        "tags": [
          "Crypto"
        ],
        "summary": "Crypto series",
        "description": "Recurring crypto market series (5m, 15m, 1h, 4h, daily, weekly, monthly patterns).",
        "operationId": "crypto_series",
        "security": [
          {
            "api_key": []
          }
        ],
        "responses": {
          "200": {
            "description": "Crypto recurring series",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v2/wallets/{address}/positions/onchain": {
      "get": {
        "tags": [
          "Wallets"
        ],
        "summary": "Onchain positions & P&L",
        "description": "Returns all positions (open and closed) for a wallet with accurate realized P&L from onchain settlement data. Includes positions that no longer appear in the standard v1 positions endpoint.\n\nResponses are cached for 5 minutes per wallet. First request takes 200ms-3s depending on position count. Cached responses return in under 50ms.",
        "operationId": "get_wallet_onchain_positions",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "description": "Wallet address (0x-prefixed)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "0xbddf61af533ff524d27154e589d2d7a81510c684"
          }
        ],
        "responses": {
          "200": {
            "description": "Onchain positions with P&L",
            "content": {
              "application/json": {
                "example": {
                  "wallet": "0xbddf61af533ff524d27154e589d2d7a81510c684",
                  "source": "onchain",
                  "count": 873,
                  "open_count": 334,
                  "closed_count": 288,
                  "total_realized_pnl": 17183579.48,
                  "positions_with_pnl": 309,
                  "positions": [
                    {
                      "token_id": "34158857981196154020624191931838064546543114916900689904269497497174344049047",
                      "size": 0,
                      "avg_price": 0.316481,
                      "realized_pnl": 447182.949852,
                      "total_bought": 654236.312162
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "example": {
                  "error": "API key required. Get one at polynode.dev"
                }
              }
            }
          },
          "404": {
            "description": "Wallet not found",
            "content": {
              "application/json": {
                "example": {
                  "error": "Not found."
                }
              }
            }
          }
        }
      }
    },
    "/v2/wallets/{address}/closed-positions": {
      "get": {
        "tags": [
          "Wallets"
        ],
        "summary": "Closed positions with metadata",
        "description": "Returns closed positions for a wallet with full market metadata (title, outcome, slug) and realized P&L. Supports pagination and sorting.\n\nComplements the onchain positions endpoint. The onchain endpoint returns all positions with accurate P&L but no market metadata. This endpoint returns closed positions with metadata.",
        "operationId": "get_wallet_closed_positions",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "description": "Wallet address (0x-prefixed)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "0xbddf61af533ff524d27154e589d2d7a81510c684"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Results per page (max 50)",
            "schema": {
              "type": "integer",
              "default": 10,
              "minimum": 1,
              "maximum": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Pagination offset",
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Sort field",
            "schema": {
              "type": "string",
              "enum": [
                "REALIZEDPNL",
                "AVGPRICE",
                "PRICE",
                "TITLE",
                "TIMESTAMP"
              ],
              "default": "TIMESTAMP"
            }
          },
          {
            "name": "sortDirection",
            "in": "query",
            "description": "Sort direction",
            "schema": {
              "type": "string",
              "enum": [
                "ASC",
                "DESC"
              ],
              "default": "DESC"
            }
          },
          {
            "name": "market",
            "in": "query",
            "description": "Filter by market slug",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "title",
            "in": "query",
            "description": "Filter by title substring",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Closed positions with metadata",
            "content": {
              "application/json": {
                "example": {
                  "wallet": "0xbddf61af533ff524d27154e589d2d7a81510c684",
                  "count": 1,
                  "offset": 0,
                  "limit": 1,
                  "positions": [
                    {
                      "proxy_wallet": "0xbddf61af533ff524d27154e589d2d7a81510c684",
                      "asset": "34158857981196154020624191931838064546543114916900689904269497497174344049047",
                      "condition_id": "0x5346538cbfc880da50fe6b269a47e4f7cd8a38b2b120d85b1bc392d8cde6ced4",
                      "avg_price": 0.316481,
                      "total_bought": 654236.312162,
                      "realized_pnl": 447182.949852,
                      "cur_price": 1,
                      "title": "Nuggets vs. Warriors",
                      "slug": "nba-den-gsw-2026-02-22",
                      "icon": "https://polymarket-upload.s3.us-east-2.amazonaws.com/super+cool+basketball+in+red+and+blue+wow.png",
                      "event_slug": "nba-den-gsw-2026-02-22",
                      "outcome": "Warriors",
                      "outcome_index": 1,
                      "opposite_outcome": "Nuggets",
                      "opposite_asset": "107945275283604973510604597780969572155224468096168425689613528391046536169017",
                      "end_date": "2026-02-22T00:00:00Z",
                      "timestamp": 1771817602
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "example": {
                  "error": "API key required. Get one at polynode.dev"
                }
              }
            }
          },
          "404": {
            "description": "Wallet not found",
            "content": {
              "application/json": {
                "example": {
                  "error": "Not found."
                }
              }
            }
          }
        }
      }
    },
    "/v2/onchain/wallets/{address}/trades": {
      "get": {
        "tags": [
          "Onchain"
        ],
        "summary": "Wallet trade history (onchain)",
        "description": "Complete onchain trade fill history for any wallet.",
        "operationId": "onchain_wallet_trades",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Wallet address"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            },
            "description": "Max results (max 1000)"
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Skip first N results"
          }
        ],
        "responses": {
          "200": {
            "description": "Trade fills"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/v2/onchain/wallets/{address}/redemptions": {
      "get": {
        "tags": [
          "Onchain"
        ],
        "summary": "Wallet redemptions (onchain)",
        "description": "All onchain redemptions for a wallet.",
        "operationId": "onchain_wallet_redemptions",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Wallet address"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            },
            "description": "Max results (max 1000)"
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Skip first N results"
          }
        ],
        "responses": {
          "200": {
            "description": "Redemptions"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/v2/onchain/wallets/{address}/activity": {
      "get": {
        "tags": [
          "Onchain"
        ],
        "summary": "Wallet activity (onchain)",
        "description": "Splits, merges, and neg-risk conversions for a wallet.",
        "operationId": "onchain_wallet_activity",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Wallet address"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            },
            "description": "Max results (max 1000)"
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Skip first N results"
          }
        ],
        "responses": {
          "200": {
            "description": "Activity events"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/v2/onchain/markets/{token_id}/trades": {
      "get": {
        "tags": [
          "Onchain"
        ],
        "summary": "Market trade history (onchain)",
        "description": "Complete onchain trade history for a market token.",
        "operationId": "onchain_market_trades",
        "parameters": [
          {
            "name": "token_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "CTF token ID"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            },
            "description": "Max results (max 1000)"
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Skip first N results"
          }
        ],
        "responses": {
          "200": {
            "description": "Trade fills"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/v2/onchain/markets/{token_id}/volume": {
      "get": {
        "tags": [
          "Onchain"
        ],
        "summary": "Market volume (onchain)",
        "description": "Lifetime onchain volume statistics for a market token.",
        "operationId": "onchain_market_volume",
        "parameters": [
          {
            "name": "token_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "CTF token ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Volume statistics"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/v2/onchain/markets/{condition_id}/oi": {
      "get": {
        "tags": [
          "Onchain"
        ],
        "summary": "Market open interest (onchain)",
        "description": "Onchain open interest for a specific market.",
        "operationId": "onchain_market_oi",
        "parameters": [
          {
            "name": "condition_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Market condition ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Open interest"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/v2/onchain/oi": {
      "get": {
        "tags": [
          "Onchain"
        ],
        "summary": "Global open interest (onchain)",
        "description": "Total platform-wide open interest from onchain data.",
        "operationId": "onchain_global_oi",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Global open interest"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "ApiKeyResponse": {
        "type": "object",
        "required": [
          "api_key",
          "name",
          "rate_limit_per_minute",
          "message"
        ],
        "properties": {
          "api_key": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "rate_limit_per_minute": {
            "type": "integer",
            "format": "int32",
            "minimum": 0
          }
        }
      },
      "BlockEvent": {
        "type": "object",
        "description": "Summary of a new confirmed block with Polymarket-relevant stats.",
        "required": [
          "block_number",
          "block_hash",
          "timestamp",
          "parent_hash",
          "tx_count",
          "polymarket_tx_count",
          "settlement_count",
          "trade_volume_usd"
        ],
        "properties": {
          "block_hash": {
            "type": "string"
          },
          "block_number": {
            "type": "integer",
            "format": "int64",
            "minimum": 0
          },
          "parent_hash": {
            "type": "string"
          },
          "polymarket_tx_count": {
            "type": "integer",
            "format": "int32",
            "minimum": 0
          },
          "settlement_count": {
            "type": "integer",
            "format": "int32",
            "minimum": 0
          },
          "timestamp": {
            "type": "integer",
            "format": "int64"
          },
          "trade_volume_usd": {
            "type": "number",
            "format": "double"
          },
          "tx_count": {
            "type": "integer",
            "format": "int32",
            "minimum": 0
          }
        }
      },
      "Candle": {
        "type": "object",
        "description": "A single OHLCV candle.",
        "required": [
          "open",
          "high",
          "low",
          "close",
          "volume",
          "timestamp"
        ],
        "properties": {
          "close": {
            "type": "number",
            "format": "double"
          },
          "high": {
[...]
